/* .card {
	width: 155.3% !important;
	margin-left: -80% !important;
} */

.class-date-day {
	margin: -10px 0px 10px 45px !important;
}

.class-date-day1 {
	margin: -10px 0px 10px 45px !important;
	height: 55px !important;
}

button.btn.btn-default {
	margin-left: 85% !important;
}

.modal-title {
	font-size: 100% !important;
}

.class-date-day-price {
	color: #e25151;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled:hover {
	cursor: not-allowed;
}

.card-header {
	text-align: center !important;
}

.class-date {
	cursor: pointer !important;
}

a:hover{
	text-decoration: none !important;
}

.w3-red {
  color: #fff!important;
  background-color: #929292!important;
  position: absolute !important;
  top: 50%;
  left: calc(50% - 90px);
}

