/* table.room-type-table {
    min-width: 440px;
} */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.image-cover {
    margin-top: 23px;
}
.image-cover img {
    top: 50%;
}

@media screen and ( max-width: 800px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -227px;
    }
    div#point-of-interest-landmark-wrapper {
        height: 200px;
        overflow-y: auto;
        margin-bottom: 35px;
    }
    div#slider-revolution {
        height: 600px !important;
    }
}
@media screen and ( max-width: 603px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -222px;
    }
   /*  div.awe-search-tabs__content.tabs__content {
       margin-top: -34px !important;
   } */
}
@media screen and ( max-width: 533px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -225px;
    }
    div.awe-search-tabs__content.tabs__content {
        margin-top: -34px !important;
    }
}
@media screen and ( max-width: 414px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -271px;
    }
     div.awe-search-tabs__content.tabs__content {
        margin-top: -12px !important;
    }
    div#slider-revolution {
        height: 650px !important;
    }
}
@media screen and ( max-width: 375px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -260px;
    }
    /* div.awe-search-tabs__content.tabs__content {
        margin-top: -34px !important;
    } */
}
@media screen and ( max-width: 320px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -250px;
    }
    /* div.awe-search-tabs__content.tabs__content {
        margin-top: -34px !important;
    } */
}
@media screen and ( max-width: 240px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -280px;
    }
    /* div.awe-search-tabs__content.tabs__content {
        margin-top: -34px !important;
    } */
}
@media screen and ( max-width: 176px ) {
    div.awe-search-tabs.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        margin-top: -270px;
    }
    /* div.awe-search-tabs__content.tabs__content {
        margin-top: -34px !important;
    } */
}

div#slide-menu-button {
    position: relative;
}

.scrollable-typehead .dropdown-menu,
.dropdown-menu.scrollable-menu,
ul.dropdown-menu[uib-typeahead-popup=""] {
    max-height: 150px;
    overflow-y: auto;
}
div.page-sidebar {
    margin-bottom: 0px;
}

div#slide-menu-button {
    display: none;
    margin-top: -35px;
}
div.back-to-top {
    position        : fixed;
    z-index         : 999;
    right           : 20px;
    bottom          : 20px;
}

div.floating-button.floating-primary button {
    background-color: #2aabd2;
}

div.floating-button.floating-warning button {
    background-color: #e38d13;
}

div.floating-button.floating-success button {
    background-color: #419641;
}

div.floating-button {
    position: fixed;
    z-index : 9999;
}
div.floating-button span {
    font-size: 0.7em;
}
div.floating-button > button {
    background-color           : #F44336;
    width                      : 50px;
    height                     : 50px;
    line-height                : 10px;
    border-radius              : 100%;
    border                     : none;
    outline                    : none;
    color                      : #FFF;
    font-size                  : 36px;
    box-shadow                 :  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition                 : .3s;  
    -webkit-tap-highlight-color:  rgba(0,0,0,0);
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and ( max-width : 767px ) {
    /* body {
        color: red;
    } */
    div.find div.check-out {
        width: 100%;
    }
    div.find div.form-actions input[type="submit"] {
        width: 100%;
    }
    div.find div.search-bar-rooms div.form-elements.hidden {
        display: none !important;
    }
    div#slide-menu-button {
        display: block;
    }
    button.for-rooms {
        margin-top: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    div.search-price {
        text-align: center;
    }
    div.page-sidebar {
        border-bottom: 1px solid #DDD;
    }
    div.hotel-item.map-search {
        min-width: 200px !important;
    }
}

@media only screen and ( max-width: 979px ) {
    /* body {
        color: red;
    } */
    div.find div.search-bar-rooms div.form-elements.hidden {
        display: none !important;
    }
    div.find div.form-actions input[type="submit"] {
        width: 100%;
    }
    div#slide-menu-button {
        display: block;
    }
    button.for-rooms {
        margin-top: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    div.search-price {
        text-align: center;
    }
    div.page-sidebar {
        border-bottom: 1px solid #DDD;
    }
}

@media only screen and ( max-width: 1024px ) {
    th.adjust.room-type {
        width: 39%;
    }
}
@media only screen and ( min-width: 1025px ) {
    th.adjust.room-type {
        width: 44% !important;
    }
}

/* @media only screen and ( max-width: 1440px ) {
    th.adjust.room-type {
        width: 44% !important;
    }
} */
    
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) {
    button.for-rooms {
        margin-top: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    div.search-price {
        text-align: center;
    }
}


.ui-widget.ui-widget-content {
    /*border: 1px solid #c5c5c5;*/
}

a.my-clear-selection {
    font-size: .5em;
}
a.my-clear-selection:hover {
    color: #0091ea;
}

.adjust .room-type-table .room-condition {
    text-align: center;
}

th.adjust.room-type {
    width: 43%;
    padding-bottom: 20px;
    padding-top: 20px;
}
td.adjust.room-price, th.adjust.room-price {
    padding-right: 0px;
}

.adjust-table-provider.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #666;
    border-radius: 0px;
    border-radius: 4px 4px 0 0;
}

.adjust-table-provider.nav-tabs > li > span.text {
    color: #000;
}

.adjust-table-provider.nav-tabs > li.active > a {
    color: #FFF !important;
}

.adjust-table-provider.nav-tabs>li>a {
    border: 1px solid #DDD;
}

.awe-select-wrapper .fa-caret-down {
    margin-right: 1px;
}

.adjust-angular-accordion-for-hotel-details .panel-body {
    padding: 0px;
    overflow-y: scroll;
    height: 500px;
}
.adjust-angular-accordion .panel-body {
    padding: 0px;
}

ol.breadcrumb {
    background: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

ol.breadcrumb > a {
    color: #337ab7;;
}

.adjust-item-price-more.item-price-more {
    padding: 0 20px;
}

.product-slider .owl-item .item img {
    height: 370px;
    display: block;
    width: 100%;
}
.product-slider-thumb .owl-item .item img {
    height: 80px;
    display: block;
    width: 100%;
}

.adjust-nav.nav-tabs>li.active>a {
    color: #000;
    font-weight: 900;
    border-bottom-color: #0091ea;
    border-bottom-width: 4px;
    border-right-width: 1px;
    border-left-width: 1px;
    background-color: #e6f3ff;
}



.adjust-bootstrap-dialog .modal-dialog {
    top: 50px;
}

.tooltip.my-tooltip .tooltip-inner {
  max-width: 220px !important;
}

input.adjust-input-text {
    line-height: 0px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 1em;
    height: 30px;
}
select.adjust-select {
    line-height: 0px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 1em;
    height: 30px;
}

.checkout-page__content .woocommerce-billing-fields h4 {
    font-weight: 700;
    font-size: 15px;
    color: #666;
    margin: 0;
    padding: 14px 0;
    border-bottom: 1px solid #D4D4D4;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*TOOLTIP*/

.notif {
    position: fixed;
    z-index : 9999;
    right   : 20px;
    bottom  : 80px;
}

.notif.notif-hotel .notif-content {
    position: fixed;
    bottom  : 100px;
    right   : 100px;
    
    opacity      : 0;
    font-size    : 1em;
    color        : #FFF;
    font-weight  : 900;
    text-align   : center;
    padding      : 10px;
    border-radius: 20px;
    background   : #e35583;
    width        : 130px;
    height       : 100px;
    box-shadow   :  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    -webkit-font-smoothing: antialiased;
    -webkit-transition    : opacity 0.3s, -webkit-transform 0.3s;
    transition            : opacity 0.3s, transform 0.3s;


    -webkit-transform-origin: calc(100% + 2em) 50%;
    transform-origin        : calc(100% + 2em) 50%;
    -webkit-transform       : translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
    transform               : translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
}

.notif.notif-hotel .notif-content::before,
.notif.notif-hotel .notif-content::after {
    content: '';
    position: absolute;
}

.notif.notif-hotel .notif-content::before {
    height: 100%;
    width : 3em;
}
.notif.notif-hotel .notif-content::after {
    width            : 2em;
    height           : 2em;
    top              : 60%;
    margin           : -1em 0 0;
    background       : url(http://localhost:4444/static/images/MARKERS/tooltip2.svg) no-repeat center center;
    background-size  : 100%;
    -webkit-transform: scale3d(-1,1,1);
    transform        : scale3d(-1,1,1);
    left             : 99%;
}

.notif.notif-hotel.active .notif-content {
    opacity          : 1;
    -webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
    transform        : translate3d(0,50%,0) rotate3d(0,0,0,0);
    pointer-events   : auto;
}

/*END OF TOOLTIP*/


/*FROM searchdetails*/
div#booking-info-indicator>div {
    font-size: 1.4em;
}
div#booking-info-indicator>div>span.fa {
    background-color: transparent;
    font-size: 1.5em;
}

.fa-aud::before {font-family: "Montserrat",​Arial,​sans-serif;content: "AU";}.fa-aud::after {content: "\f155";}.fa-nzd::before {font-family: "Montserrat",​Arial,​sans-serif;content: "NZ";}.fa-nzd::after {content: "\f155";}

.adjust-pagination.pagination > .active > a {
    background-color: #0091EA;
    color: #FFF;
}
.adjust-pagination.pagination> li > a {
    padding: 9px 15px;
    font-weight: 600;
    color: #666;
}
.adjust-pagination.pagination a:hover {
    background-color: #0091EA;
    color: #FFF;
}

@media screen and (max-width: 1200px) {
    .bx-nav-fcolor {
        color: #000 !important;
    }
    nav.adjust-navigation > ul.menu-list > li.user > ul.sub-menu {
        left: -342px !important;
        position: relative !important;
        width: 320px !important;
        padding-top: 0px;
    }
    nav.adjust-navigation > ul.menu-list > li.user > ul.sub-menu > li.back-mb {
        visibility: hidden;
        display: none;
    }
    nav.adjust-navigation > ul.menu-list > li.user > ul.sub-menu > li > a {
        color: #000;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

div.adjust-padding-64.form-group {
    width: 44.5% !important;
   padding-right: 64px !important; 
}

div.form-elements.age {
    width: 8% !important;
    padding-right: 15px !important;
}
div.form-elements.hidden {
    visibility: hidden !important;
    display: block !important;
}

/*BOOTSTRAP*/
ul.boots-nav-tabs.nav-tabs > li > a {
    color: #337ab7;
}
ul.boots-nav-pills.nav-pills > li > a {
    color: #337ab7;
}
ul.boots-nav-pills.nav-pills > li.active > a {
    color: #FFF;
}
nav.adjust-navigation.navigation.awe-navigation > li.user > a {
    color: #000;
}

li.adjust-anchor.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active > a{
    color: #444 !important;
}
i.adjust-calendar.awe-icon.awe-icon-calendar {
    border-right: 1px solid #d4d4d4;
}

a.ui-tabs-anchor {
    color: #444 !important; 
}


@media screen and (max-width: 480px) {

    ul.adjust-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        height: 55px;
        margin-bottom: 0px;
        top: -20px; 
    }   
}

@media screen and (max-width: 570px) {

    ul.adjust-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        top: -12px;
        height: 50px;
    }   
}


/*LOADING ANIMATION*/
.loading-animation body:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.loading-animation .bar {
    font-size: 20px;
    width: 12em;
    height: 1em;
    position: relative;
    margin: 100px auto;
    border-radius: .5em;
    background: rgba(255,255,255,0.6);
    box-shadow: 
        0 0 0 .05em rgba(100,100,100,0.075),
        0 0 0 .25em rgba(0,0,0,0.1),
        inset 0 .1em .05em rgba(0,0,0,0.1),
        0 .05em rgba(255,255,255,0.7);
}

.loading-animation .bar:after {
    content: "Looking for Hotels. . .";
    position: absolute;
    left: 5%;
    top: 150%;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: .9em;
    color: #555;
    text-shadow: 0 .05em rgba(255,255,255,0.7);
}

.loading-animation .bar .sphere {
    border-radius: 50%;
    width: 1em;
    height: 100%;
    background: -webkit-linear-gradient(#eee, #ddd);
    background: linear-gradient(#eee, #ddd);
    box-shadow:
        inset 0 .15em .1em rgba(255,255,255,0.3),
        inset 0 -.1em .15em rgba(0,0,0,0.15),
        0 0 .25em rgba(0,0,0,0.3);
    display: block;
    -webkit-animation: slide 1.75s ease-in-out infinite alternate;
    animation: slide 1.75s ease-in-out infinite alternate;
}

@-webkit-keyframes slide {
    from { }
    to { margin-left: 92%; }
}

@keyframes slide {
    from { }
    to { margin-left: 92%; }
}

/*END OF LOADING ANIMATION*/

.body-dark .room-type-popup .form-elements label,
#page-wrap.dark .trip-flight-hotel__table tbody tr:hover .item-title h2 a,
#page-wrap.dark .product-tabs__content .ui-tabs-panel .check-availability .form-elements label,
#page-wrap.dark .room-type-table tbody td.room-type .room-title h4,
#page-wrap.dark .product-detail__info .product-address:hover, 
#page-wrap.dark .product-detail__info .product-email a:hover, 
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-title, 
#page-wrap.dark .flight-item .item-price-more .price > .amount, 
#page-wrap.dark .flight-item .item-price-more .price ins .amount,
#page-wrap.dark .trip-item .item-price-more .price > .amount,
#page-wrap.dark .trip-item .item-price-more .price ins .amount,
#page-wrap.dark .attraction-item .item-price-more .price > .amount,
#page-wrap.dark .attraction-item .item-price-more .price ins .amount,
#page-wrap.dark .hotel-item .item-price-more .price > .amount,
#page-wrap.dark .hotel-item .item-price-more .price ins .amount,
#page-wrap.dark .flight-item .item-body .item-title h2 a,
#page-wrap.dark .trip-item .item-body .item-title h2 a,
#page-wrap.dark .attraction-item .item-body .item-title h2 a,
#page-wrap.dark .hotel-item .item-body .item-title h2 a,
#page-wrap.dark .destination-list__content .destinations-item .item-price-more .price .amount,
#page-wrap.dark .destination-list__content .destinations-item:hover .item-body .item-footer ul li h6,
#page-wrap.dark .destination-list__content .destinations-item .item-body .item-title h2 a,
#page-wrap.dark .travelling-tabs__time .month .item.hover-active a,
#page-wrap.dark .travelling-tabs__time .season .item.hover-active a span,
#page-wrap.dark .travelling-tabs__advance-filter label,
#page-wrap.dark .travelling-tabs__price .budget-level label,
#page-wrap.dark .travelling-tabs__price .currency label,
#page-wrap.dark .travelling-tabs__region .item:hover .awe-icon,
#page-wrap.dark .travelling-tabs__region .item:hover span,
#page-wrap.dark .purpose-slider .item:hover span,
#page-wrap.dark .login-register-page__content form .form-actions input,
#page-wrap.dark .blog-heading-content h2,
#page-wrap.dark .minicart-wrap .minicart-body .minicart-list li .product-remove a:hover,
#page-wrap.dark .minicart-wrap .minicart-body .minicart-list li .product-name a:hover,
#page-wrap.dark .about-author .author-name h3,
#page-wrap.dark .related-post .post .post-title h1,
#page-wrap.dark .blog-page__content .post .post-title h1,
#page-wrap.dark .page-sidebar .widget_has_thumbnail .content a:hover,
#page-wrap.dark .page-sidebar .widget_latest_post ul li a:hover,
#page-wrap.dark .page-sidebar .widget_rss ul li a:hover,
#page-wrap.dark .page-sidebar .widget_meta ul li a:hover,
#page-wrap.dark .page-sidebar .widget_pages ul li a:hover,
#page-wrap.dark .page-sidebar .widget_nav_menu ul li a:hover,
#page-wrap.dark .page-sidebar .widget_categories ul li a:hover,
#page-wrap.dark .page-sidebar .widget_archive ul li a:hover,
#page-wrap.dark .checkout-page__top .title h1,
#page-wrap.dark .awe-services__list li:hover .awe-icon-arrow-right,
#page-wrap.dark .awe-services__list li:hover .awe-icon-check,
#page-wrap.dark .awe-services__list li,
#page-wrap.dark .awe-search-tabs__content .ui-tabs-panel .form-elements label,
#page-wrap.dark .accordion .ui-accordion-header,
#page-wrap.dark .tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
#page-wrap.dark .heading-content h2,
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li:hover > a,
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li.current-menu-parent > a,
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li.current-menu-item > a,
.room-type-popup .calendar-header .calendar-prev:hover,
.room-type-popup .calendar-header .calendar-next:hover,
.room-type-popup .mfp-close:hover,
.sale-flight-popup .mfp-close:hover,
.booking-info .add-room-type > a:hover,
.services-on-flight .item label > input[type="radio"]:checked ~ .awe-icon-check,
.services-on-flight .item label > input[type="checkbox"]:checked ~ .awe-icon-check,
.initiative-table tbody tr .item-body .item-from h3,
.initiative-table tbody tr .item-body .item-to h3,
.initiative-table tbody tr .item-thumb .text h3,
.initiative-top .price a,
#reviews #add_review form .comment-form-rating .item label,
#reviews .rating-info .rating-review li em,
#reviews .rating-info .average-rating-review em,
.good-to-know-table tbody tr p em,
.facilities-freebies-table tbody tr p em,
.room-type-table tbody td.room-price .price .full-price-open-popup,
.room-type-table tbody td.room-type .room-title h4 a:hover,
.ticket-price tbody tr td ins .amount,
.ticket-price thead th h4,
.product-detail__info .property-highlights h3,
.product-detail__info .product-email a:hover,
.product-detail__info .product-email .fa,
.product-detail__info .product-title .hotel-star,
.product-detail__info .product-title h2,
.cart-footer .order-total .amount,
.cart-footer .order-total .title,
.cart-footer .shipping-handling .amount,
.cart-footer .shipping-handling .title,
.cart-footer .cart-subtotal .coupon-code label,
.cart-footer .cart-subtotal .subtotal,
.cart-footer .cart-subtotal .subtotal-title h5,
.cart-content .cart-table tbody td .quantity .plus:hover,
.cart-content .cart-table tbody td .quantity .minus:hover,
.cart-content .cart-table thead th,
.cart-detail .cart-detail-table tfoot .order-total th,
.cart-detail .cart-detail-table tfoot .order-total td,
.cart-detail .cart-detail-table tbody th,
.billing-info .billing-table td a:hover,
.checkout-page__content .content-title h2 .awe-icon,
.woocommerce-error a:hover,
.woocommerce-info a:hover,
.woocommerce-message a:hover,
.checkout-page__sidebar ul li:hover a,
.checkout-page__sidebar ul li:hover:before,
.widget_has_radio_checkbox_text .widget_content label > input[type="radio"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox_text .widget_content label > input[type="checkbox"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox ul li label > input[type="radio"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox ul li label > input[type="checkbox"]:checked ~ .awe-icon-check,
.page-sidebar .widget_recent_comments ul li:hover > a,
.page-sidebar .widget_latest_post ul li:hover > a,
.page-sidebar .widget_rss ul li:hover > a,
.page-sidebar .widget_meta ul li:hover > a,
.page-sidebar .widget_pages ul li:hover > a,
.page-sidebar .widget_nav_menu ul li:hover > a,
.page-sidebar .widget_categories ul li:hover > a,
.page-sidebar .widget_archive ul li:hover > a,
.page-sidebar .widget_has_thumbnail .content a:hover,
.page-sidebar .widget h3,
.page-sidebar .sidebar-title .clear-filter a:hover,
.page-sidebar .sidebar-title h2,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active .item-title h2,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover .item-title h2,
.flight-item:hover .item-price-more .price .amount,
.trip-item:hover .item-price-more .price .amount,
.attraction-item:hover .item-price-more .price .amount,
.hotel-item:hover .item-price-more .price .amount,
.flight-item:hover .item-price-more .price,
.trip-item:hover .item-price-more .price,
.attraction-item:hover .item-price-more .price,
.hotel-item:hover .item-price-more .price,
.flight-item:hover .item-body .item-footer ul li h6,
.trip-item:hover .item-body .item-footer ul li h6,
.attraction-item:hover .item-body .item-footer ul li h6,
.hotel-item:hover .item-body .item-footer ul li h6,
.flight-item:hover .item-body .item-title h2 a,
.trip-item:hover .item-body .item-title h2 a,
.attraction-item:hover .item-body .item-title h2 a,
.hotel-item:hover .item-body .item-title h2 a,
.flight-item .item-body .item-title h2 a:hover,
.trip-item .item-body .item-title h2 a:hover,
.attraction-item .item-body .item-title h2 a:hover,
.hotel-item .item-body .item-title h2 a:hover,
.page-top .list-link li.current a,
.page-top .list-link li a:hover,
.destination-list__content .destinations-item:hover .item-price-more .price .amount,
.destination-list__content .destinations-item:hover .item-price-more .price,
.destination-list__content .destinations-item:hover .item-body .item-footer ul li h6,
.destination-list__content .destinations-item:hover .item-body .item-title h2 a,
.destination-list__content .destinations-item .item-body .item-title h2 a:hover,
.your-destinations .your-destinations__bar .view-switcher .view-item.view-active a,
.your-destinations .your-destinations__bar .view-switcher .view-item a:hover,
.travelling-tabs__time .month .item.hover-active a,
.travelling-tabs__time .season .item a .awe-icon,
.travelling-tabs__region .item:hover span,
.travelling-tabs__region .item:hover .awe-icon,
.purpose-slider .item .awe-icon,
.contact-page__form .title h2,
.login-register-page__content .login-register-link a:hover,
.login-register-page__content form .terms-conditions:hover,
.login-register-page__content form .forgot-password:hover,
#comments cite.fn a:hover,
.related-post .post .post-title h2,
.blog-page__content .post .post-title h2,
.related-post .post .post-meta a:hover,
.blog-page__content .post .post-meta a:hover,
#footer-page .widget_follow_us .widget_content .phone,
#footer-page .widget_recent_comments ul li span a:hover,
#footer-page .widget_rss ul li a:hover,
#footer-page .widget_meta ul li a:hover,
#footer-page .widget_pages ul li a:hover,
#footer-page .widget_nav_menu ul li a:hover,
#footer-page .widget_categories ul li a:hover,
#footer-page .widget_recent_entries ul li a:hover,
#footer-page .widget_archive ul li a:hover,
#footer-page .widget h3,
.category-heading-content > h2,
.breadcrumb ul li span,
.breadcrumb ul li a:hover,
.trip-flight-hotel__table tbody tr:hover .item-price a,
.trip-flight-hotel__table tbody tr:hover .item-rate,
.trip-flight-hotel__table tbody tr:hover .item-title h2 a,
.sale-flights-tabs__table tr .sale-flights-tabs__item-choose .amount,
.sale-flights-tabs__table tr td .title h3,
.awe-masonry .awe-masonry__item .item-title h2 a:hover,
.destination-grid-content .section-title h3 a,
.awe-services__list li:hover .awe-icon-arrow-right,
.awe-services h2,
.awe-search-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.search-box .searchtoggle.searchtoggle-active,
.search-box .searchtoggle:hover,
.awe-navigation-responsive .menu-list .submenu-toggle:hover .fa,
.awe-navigation-responsive .menu-list li.current-menu-parent > a,
.awe-navigation-responsive .menu-list li.current-menu-item > a,
.awe-navigation-responsive .menu-list li a:hover,
.accordion .ui-state-active,
.accordion .ui-widget-content .ui-state-active,
.owl-carousel .owl-controls .owl-buttons > div:hover .fa,
a {
    color: #222;
}