
::-moz-selection {
  color: #fff;
  background-color: #0091EA;
}

::selection {
  color: #fff;
  background-color: #0091EA;
}



#reviews .rating-info .write-review,
.good-to-know-table tbody tr th p:before,
.facilities-freebies-table tbody tr th p:before,
.cart-footer .cart-submit .checkout,
.cart-footer .cart-submit .update-cart:hover,
.cart-footer .shipping-handling .check-shipping-rate .form-submit .button:hover,
.cart-footer .cart-subtotal .coupon-code .button:hover,
.checkout-page__content #payment .place-order input,
.checkout-page__content #payment > .payment_methods li input[type="radio"]:checked ~ label:before,
.checkout-page__content .coupon .form-row.form-row-last .button:hover,
.checkout-page__sidebar ul li.current a,
.page-sidebar .widget_latest_post ul li:hover:before,
.page-sidebar .widget_rss ul li:hover:before,
.page-sidebar .widget_meta ul li:hover:before,
.page-sidebar .widget_pages ul li:hover:before,
.page-sidebar .widget_nav_menu ul li:hover:before,
.page-sidebar .widget_categories ul li:hover:before,
.page-sidebar .widget_archive ul li:hover:before,
.flight-popup-tabs .flight-popup__history .item .icon-active:after,
.flight-popup .mfp-close,
.page-top .list-link li.current a:after,
.destination-list__content .destinations-item .item-media .item-cat ul li a:hover,
.your-destinations .page__pagination .current,
.your-destinations .page__pagination a:hover,
.travelling-tabs__time .month .item.hover-active a:before,
.travelling-tabs__time .season .item.hover-active a .awe-icon,
.purpose-slider .item .awe-icon:after,
.travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.contact-page__form form .form-actions input,
.login-register-page__content form .form-actions input,
#comments .comment-abs a:hover,
#respond .form-actions input,
.post-footer .cat-box .cat a:hover,
.post-footer .tag-box .tag a:hover,
.page__pagination .current,
.page__pagination a:hover,
.blog-heading-content h2,
#footer-page .widget_contact_info .widget_background__half:after,
.category-heading-content .find .form-actions input,
.category-heading-content > h3,
.trip-flight-hotel__table tbody tr:hover .item-price,
.awe-masonry .awe-masonry__item .item-cat ul li a:hover,
.destination-grid-content .more-destination:before,
.awe-services__list li:hover .awe-icon-check,
.awe-search-tabs__content .ui-tabs-panel .form-actions input,
.awe-search-tabs .ui-tabs-nav:before,
.awe-navigation-hamburger .toggle-menu-responsive:hover .item,
.toggle-menu-responsive.toggle-active .item,
.ui-datepicker .ui-datepicker-calendar .ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active,
.ui-datepicker .ui-datepicker-calendar tbody tr td a:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover,
.price-slider .ui-slider-handle,
.price-slider .ui-slider-range,
mark, .mark,
.body-dark .room-type-popup .calendar-body tbody .item-calendar.item-active,
.body-dark .awe-btn.awe-btn-style3,
.body-dark .awe-btn:focus, .body-dark .awe-btn:hover,
#page-wrap.dark .booking-info,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-state-active,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar tbody tr td a:hover,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover,
#page-wrap.dark .travelling-tabs__time .season .item.hover-active a .awe-icon,
#page-wrap.dark .login-register-page__content form:after,
#page-wrap.dark #comments .comment-abs a:hover,
#page-wrap.dark .post-footer .cat-box .cat a:hover,
#page-wrap.dark .post-footer .tag-box .tag a:hover,
#page-wrap.dark .tagcloud a:hover,
#page-wrap.dark .page__pagination span.current, 
#page-wrap.dark .page__pagination span:hover,
#page-wrap.dark .page__pagination a.current,
#page-wrap.dark .page__pagination a:hover,
#page-wrap.dark .checkout-page__sidebar ul li.current a,
#page-wrap.dark .awe-search-tabs .ui-tabs-nav:before,
#page-wrap.dark #header-page .header-page__inner,
#page-wrap.dark #header-page,
#page-wrap.dark .awe-btn:focus, #page-wrap.dark .awe-btn:hover,
#page-wrap.dark .awe-btn.awe-btn-style3,
.room-type-popup .calendar-body tbody .item-calendar.item-active,
#reviews #add_review form .form-submit .submit,
.awe-btn:focus, .awe-btn:hover,
.tagcloud a:hover,
.awe-btn.awe-btn-style3,
.awe-color {
  background-color: #0091EA;
}


.body-dark .room-type-popup .form-elements label,
#page-wrap.dark .trip-flight-hotel__table tbody tr:hover .item-title h2 a,
#page-wrap.dark .product-tabs__content .ui-tabs-panel .check-availability .form-elements label,
#page-wrap.dark .room-type-table tbody td.room-type .room-title h4,
#page-wrap.dark .product-detail__info .product-address:hover,
#page-wrap.dark .product-detail__info .product-email a:hover,
#page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-title,
#page-wrap.dark .flight-item .item-price-more .price > .amount,
#page-wrap.dark .flight-item .item-price-more .price ins .amount,
#page-wrap.dark .trip-item .item-price-more .price > .amount,
#page-wrap.dark .trip-item .item-price-more .price ins .amount,
#page-wrap.dark .attraction-item .item-price-more .price > .amount,
#page-wrap.dark .attraction-item .item-price-more .price ins .amount,
#page-wrap.dark .hotel-item .item-price-more .price > .amount,
#page-wrap.dark .hotel-item .item-price-more .price ins .amount,
#page-wrap.dark .flight-item .item-body .item-title h2 a,
#page-wrap.dark .trip-item .item-body .item-title h2 a,
#page-wrap.dark .attraction-item .item-body .item-title h2 a,
#page-wrap.dark .hotel-item .item-body .item-title h2 a,
#page-wrap.dark .destination-list__content .destinations-item .item-price-more .price .amount,
#page-wrap.dark .destination-list__content .destinations-item:hover .item-body .item-footer ul li h6,
#page-wrap.dark .destination-list__content .destinations-item .item-body .item-title h2 a,
#page-wrap.dark .travelling-tabs__time .month .item.hover-active a,
#page-wrap.dark .travelling-tabs__time .season .item.hover-active a span,
#page-wrap.dark .travelling-tabs__advance-filter label,
#page-wrap.dark .travelling-tabs__price .budget-level label,
#page-wrap.dark .travelling-tabs__price .currency label,
#page-wrap.dark .travelling-tabs__region .item:hover .awe-icon,
#page-wrap.dark .travelling-tabs__region .item:hover span,
#page-wrap.dark .purpose-slider .item:hover span,
#page-wrap.dark .login-register-page__content form .form-actions input,
#page-wrap.dark .blog-heading-content h2,
#page-wrap.dark .minicart-wrap .minicart-body .minicart-list li .product-remove a:hover,
#page-wrap.dark .minicart-wrap .minicart-body .minicart-list li .product-name a:hover,
#page-wrap.dark .about-author .author-name h3,
#page-wrap.dark .related-post .post .post-title h1,
#page-wrap.dark .blog-page__content .post .post-title h1,
#page-wrap.dark .page-sidebar .widget_has_thumbnail .content a:hover,
#page-wrap.dark .page-sidebar .widget_latest_post ul li a:hover,
#page-wrap.dark .page-sidebar .widget_rss ul li a:hover,
#page-wrap.dark .page-sidebar .widget_meta ul li a:hover,
#page-wrap.dark .page-sidebar .widget_pages ul li a:hover,
#page-wrap.dark .page-sidebar .widget_nav_menu ul li a:hover,
#page-wrap.dark .page-sidebar .widget_categories ul li a:hover,
#page-wrap.dark .page-sidebar .widget_archive ul li a:hover,
#page-wrap.dark .checkout-page__top .title h1,
#page-wrap.dark .awe-services__list li:hover .awe-icon-arrow-right,
#page-wrap.dark .awe-services__list li:hover .awe-icon-check,
#page-wrap.dark .awe-services__list li,
#page-wrap.dark .awe-search-tabs__content .ui-tabs-panel .form-elements label,
#page-wrap.dark .accordion .ui-accordion-header,
#page-wrap.dark .tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
#page-wrap.dark .heading-content h2,
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li:hover > a, 
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li.current-menu-parent > a, 
#page-wrap.dark .awe-navigation .menu-list li .sub-menu li.current-menu-item > a,
.room-type-popup .calendar-header .calendar-prev:hover,
.room-type-popup .calendar-header .calendar-next:hover,
.room-type-popup .mfp-close:hover,
.sale-flight-popup .mfp-close:hover,
.booking-info .add-room-type > a:hover,
.services-on-flight .item label > input[type="radio"]:checked ~ .awe-icon-check,
.services-on-flight .item label > input[type="checkbox"]:checked ~ .awe-icon-check,
.initiative-table tbody tr .item-body .item-from h3,
.initiative-table tbody tr .item-body .item-to h3,
.initiative-table tbody tr .item-thumb .text h3,
.initiative-top .price a,
#reviews #add_review form .comment-form-rating .item label,
#reviews .rating-info .rating-review li em,
#reviews .rating-info .average-rating-review em,
.good-to-know-table tbody tr p em,
.facilities-freebies-table tbody tr p em,
.room-type-table tbody td.room-price .price .full-price-open-popup,
.room-type-table tbody td.room-type .room-title h4 a:hover,
.ticket-price tbody tr td ins .amount,
.ticket-price thead th h4,
.product-detail__info .property-highlights h3,
.product-detail__info .product-email a:hover,
.product-detail__info .product-email .fa,
.product-detail__info .product-title .hotel-star,
.product-detail__info .product-title h2,
.cart-footer .order-total .amount,
.cart-footer .order-total .title,
.cart-footer .shipping-handling .amount,
.cart-footer .shipping-handling .title,
.cart-footer .cart-subtotal .coupon-code label,
.cart-footer .cart-subtotal .subtotal,
.cart-footer .cart-subtotal .subtotal-title h5,
.cart-content .cart-table tbody td .quantity .plus:hover,
.cart-content .cart-table tbody td .quantity .minus:hover,
.cart-content .cart-table thead th,
.cart-detail .cart-detail-table tfoot .order-total th,
.cart-detail .cart-detail-table tfoot .order-total td,
.cart-detail .cart-detail-table tbody th,
.billing-info .billing-table td a:hover,
.checkout-page__content .content-title h2 .awe-icon,
.woocommerce-error a:hover,
.woocommerce-info a:hover,
.woocommerce-message a:hover,
.checkout-page__sidebar ul li:hover a,
.checkout-page__sidebar ul li:hover:before,
.widget_has_radio_checkbox_text .widget_content label > input[type="radio"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox_text .widget_content label > input[type="checkbox"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox ul li label > input[type="radio"]:checked ~ .awe-icon-check,
.widget_has_radio_checkbox ul li label > input[type="checkbox"]:checked ~ .awe-icon-check,
.page-sidebar .widget_recent_comments ul li:hover > a,
.page-sidebar .widget_latest_post ul li:hover > a,
.page-sidebar .widget_rss ul li:hover > a,
.page-sidebar .widget_meta ul li:hover > a,
.page-sidebar .widget_pages ul li:hover > a,
.page-sidebar .widget_nav_menu ul li:hover > a,
.page-sidebar .widget_categories ul li:hover > a,
.page-sidebar .widget_archive ul li:hover > a,
.page-sidebar .widget_has_thumbnail .content a:hover,
.page-sidebar .widget h3,
.page-sidebar .sidebar-title .clear-filter a:hover,
.page-sidebar .sidebar-title h2,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active .item-title h2, 
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover .item-title h2,
.flight-item:hover .item-price-more .price .amount,
.trip-item:hover .item-price-more .price .amount,
.attraction-item:hover .item-price-more .price .amount,
.hotel-item:hover .item-price-more .price .amount,
.flight-item:hover .item-price-more .price,
.trip-item:hover .item-price-more .price,
.attraction-item:hover .item-price-more .price,
.hotel-item:hover .item-price-more .price,
.flight-item:hover .item-body .item-footer ul li h6,
.trip-item:hover .item-body .item-footer ul li h6,
.attraction-item:hover .item-body .item-footer ul li h6,
.hotel-item:hover .item-body .item-footer ul li h6,
.flight-item:hover .item-body .item-title h2 a,
.trip-item:hover .item-body .item-title h2 a,
.attraction-item:hover .item-body .item-title h2 a,
.hotel-item:hover .item-body .item-title h2 a,
.flight-item .item-body .item-title h2 a:hover,
.trip-item .item-body .item-title h2 a:hover,
.attraction-item .item-body .item-title h2 a:hover,
.hotel-item .item-body .item-title h2 a:hover,
.page-top .list-link li.current a,
.page-top .list-link li a:hover,
.destination-list__content .destinations-item:hover .item-price-more .price .amount,
.destination-list__content .destinations-item:hover .item-price-more .price,
.destination-list__content .destinations-item:hover .item-body .item-footer ul li h6,
.destination-list__content .destinations-item:hover .item-body .item-title h2 a,
.destination-list__content .destinations-item .item-body .item-title h2 a:hover,
.your-destinations .your-destinations__bar .view-switcher .view-item.view-active a,
.your-destinations .your-destinations__bar .view-switcher .view-item a:hover,
.travelling-tabs__time .month .item.hover-active a,
.travelling-tabs__time .season .item a .awe-icon,
.travelling-tabs__region .item:hover span,
.travelling-tabs__region .item:hover .awe-icon,
.purpose-slider .item .awe-icon,
.contact-page__form .title h2,
.login-register-page__content .login-register-link a:hover,
.login-register-page__content form .terms-conditions:hover,
.login-register-page__content form .forgot-password:hover,
#comments cite.fn a:hover,
.related-post .post .post-title h2,
.blog-page__content .post .post-title h2,
.related-post .post .post-meta a:hover,
.blog-page__content .post .post-meta a:hover,
#footer-page .widget_follow_us .widget_content .phone,
#footer-page .widget_recent_comments ul li span a:hover,
#footer-page .widget_rss ul li a:hover,
#footer-page .widget_meta ul li a:hover,
#footer-page .widget_pages ul li a:hover,
#footer-page .widget_nav_menu ul li a:hover,
#footer-page .widget_categories ul li a:hover,
#footer-page .widget_recent_entries ul li a:hover,
#footer-page .widget_archive ul li a:hover,
#footer-page .widget h3,
.category-heading-content > h2,
.breadcrumb ul li span,
.breadcrumb ul li a:hover,
.trip-flight-hotel__table tbody tr:hover .item-price a,
.trip-flight-hotel__table tbody tr:hover .item-rate,
.trip-flight-hotel__table tbody tr:hover .item-title h2 a,
.sale-flights-tabs__table tr .sale-flights-tabs__item-choose .amount,
.sale-flights-tabs__table tr td .title h3,
.awe-masonry .awe-masonry__item .item-title h2 a:hover,
.destination-grid-content .section-title h3 a,
.awe-services__list li:hover .awe-icon-arrow-right,
.awe-services h2,
.awe-search-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.search-box .searchtoggle.searchtoggle-active, .search-box .searchtoggle:hover,
.awe-navigation-responsive .menu-list .submenu-toggle:hover .fa,
.awe-navigation-responsive .menu-list li.current-menu-parent > a,
.awe-navigation-responsive .menu-list li.current-menu-item > a,
.awe-navigation-responsive .menu-list li a:hover,
.awe-navigation .menu-list li:hover > a,
.awe-navigation .menu-list li.current-menu-parent > a,
.awe-navigation .menu-list li.current-menu-item > a,
.accordion .ui-state-active,
.accordion .ui-widget-content .ui-state-active,
.owl-carousel .owl-controls .owl-buttons > div:hover .fa,
a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
	.bx-nav-fcolor {
		color: #000 !important;
	}
}

.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active,
.body-dark .awe-btn:focus, .body-dark .awe-btn:hover,
#page-wrap.dark .booking-info,
#page-wrap.dark .page-top .list-link li.current a:before,
#page-wrap.dark .travelling-tabs__time .month .item.hover-active a:before,
#page-wrap.dark .awe-btn:focus, #page-wrap.dark .awe-btn:hover,
#page-wrap.dark .travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.checkout-page__content #payment > .payment_methods li label:before,
.checkout-page__sidebar ul li:hover:before,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active,
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover,
.flight-popup-tabs .flight-popup__history .item:hover .icon-active,
.page-top .list-link li.current a:before,
.page-top .list-link li a:hover:before,
.travelling-tabs__time .month .item a:before,
.travelling-tabs__time .month .item:after,
.travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.awe-services__list li:hover .awe-icon-check,
.awe-btn {
  border-color: #0091EA;
}

#footer-page .widget_contact_info:before, #footer-page .widget_contact_info:after,
.tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  border-bottom-color: #0091EA;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
#footer-page .widget_contact_info:before, #footer-page .widget_contact_info:after {
  border-left-color: #403F3F;
}

#page-wrap.dark .accordion .ui-state-active .ui-icon,
#page-wrap.dark .accordion .ui-widget-content .ui-state-active .ui-icon,
.page-sidebar .sidebar-title {
  border-top-color: #0091EA;
}

#page-wrap.dark .sale-flights-tabs__table tr:hover,
.sale-flights-tabs__table tr:hover,
.body-dark .sale-flight-popup .sale-flights-tabs__table tr:hover,
.sale-flight-popup .sale-flights-tabs__table tr:hover {
    -webkit-box-shadow: inset 0 0 0 2px #0091EA;
    -moz-box-shadow: inset 0 0 0 2px #0091EA;
    box-shadow: inset 0 0 0 2px #0091EA;
}
.flight-item:hover,
.trip-item:hover,
.attraction-item:hover,
.hotel-item:hover,
.destination-list__content .destinations-item:hover {
  -webkit-box-shadow: 0 0 0 2px #0091EA;
  -moz-box-shadow: 0 0 0 2px #0091EA;
  box-shadow: 0 0 0 2px #0091EA;
}


