.detail-sidebar {
  margin-top: 72px;
}

.call-to-book {
  margin-bottom: 18px;
}
.call-to-book .awe-icon {
  width: 30px;
  height: 30px;
  line-height: 26px;
  border: 2px solid #666;
  text-align: center;
  font-size: 18px;
  color: #666;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
  margin-top: 2px;
}
.call-to-book em {
  display: block;
  font-size: 13px;
  font-style: normal;
  color: #A5A5A5;
  line-height: 1.2em;
}
.call-to-book span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #666;
  line-height: 1.4em;
}

.booking-info {
  position: relative;
  background-color: #fff;
  border: 2px solid #FF6666;
  border-radius: 3px 3px 3px 0;
  padding: 22px 20px;
  padding-bottom: 0;
  margin-bottom: 100px;
  z-index: 9;
}
.booking-info:after {
  content: '';
  display: table;
  clear: both;
}
.booking-info .form-group {
  overflow: hidden;
}
.booking-info .form-adult,
.booking-info .form-checkin {
  float: left;
  width: 50%;
  padding-right: 5px;
}
.booking-info .form-adult span,
.booking-info .form-checkin span {
  font-size: 10px;
  color: #F98718;
}
.booking-info .form-kids,
.booking-info .form-checkout {
  float: left;
  width: 50%;
  padding-left: 5px;
}
.booking-info .form-kids span,
.booking-info .form-checkout span {
  font-size: 10px;
  color: #F98718;
}
.booking-info h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1F2021;
  margin: 0;
  margin-bottom: 18px;
}
.booking-info .awe-select-wrapper {
  width: 100%;
}
.booking-info input, .booking-info select {
  background-color: #eee;
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding: 0 10px;
}
.booking-info .awe-icon, .booking-info .fa {
  height: 34px;
  line-height: 34px;
  top: 1px;
  right: 1px;
  background-color: #eee;
}
.booking-info label {
  font-weight: 600;
  font-size: 13px;
  color: #1E1E1F;
  margin-bottom: 8px;
}
.booking-info .form-room {
  margin-top: 18px;
}
.booking-info .form-room .form-group {
  margin-bottom: 10px;
}
.booking-info .form-room .form-group .form-item:nth-child(odd) {
  padding-right: 5px;
}
.booking-info .form-room .form-group .form-item:nth-child(even) {
  padding-left: 5px;
}
.booking-info .form-room .awe-select-wrapper {
  width: 100%;
}
.booking-info .form-room .form-item {
  float: left;
  width: 50%;
}
.booking-info .form-baggage-weight .form-item {
  margin-bottom: 10px;
}
.booking-info .form-baggage-weight span {
  display: block;
  font-size: 10px;
  color: #F98718;
  margin-top: -5px;
}
.booking-info .form-select-date {
  margin-bottom: 20px;
}
.booking-info .form-select-date span {
  display: block;
  font-size: 10px;
  color: #F98718;
  margin-top: 5px;
}
.booking-info .form-select-date .form-item {
  position: relative;
}
.booking-info .form-select-date .form-item .awe-icon, .booking-info .form-select-date .form-item .fa {
  position: absolute;
  width: 36px;
  height: 34px;
  background-color: #eee;
  line-height: 34px;
  text-align: right;
  top: 1px;
  right: 1px;
  padding-right: 12px;
  font-size: 16px;
  color: #666;
  pointer-events: none;
}
.booking-info .add-room-type {
  padding: 5px 0;
}
.booking-info .add-room-type > a {
  font-weight: 600;
  font-size: 13px;
  color: #666;
}
.booking-info .add-room-type > a:hover {
  color: #0091ea;
}
.booking-info .add-room-type .awe-icon {
  background: none;
  margin-right: 10px;
}
.booking-info .price {
  position: relative;
  border-top: 1px dashed #A6A6A6;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 18px;
  padding: 20px;
}
.booking-info .price em {
  display: block;
  font-size: 12px;
  font-style: normal;
  color: #A6A6A6;
}
.booking-info .price .amount {
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #FF6666;
}
.booking-info .price .cart-added {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 20px;
  font-size: 12px;
  color: #57A440;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.booking-info .price .cart-added .awe-icon {
  display: block;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background-color: #55A649;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto 5px;
}
.booking-info .reset {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #FF6666;
}
.booking-info .reset a {
  color: inherit;
  text-decoration: underline;
}
.booking-info .form-submit {
  overflow: hidden;
  position: absolute;
  left: -2px;
  right: -2px;
  top: 100%;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.booking-info .form-submit .add-to-cart {
  float: left;
}
.booking-info .form-submit .add-to-cart button {
  font-size: 13px;
  color: #FCF2E5;
  background-color: #FF6666;
  border: 0;
  cursor: pointer;
  line-height: 46px;
  height: 46px;
  padding: 0 26px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.booking-info .form-submit .add-to-cart button:hover {
  background-color: #444;
}
.booking-info .form-submit .add-to-cart .awe-icon {
  background: none;
  margin-right: 10px;
}
.booking-info .form-submit .view-cart {
  float: right;
}
.booking-info .form-submit .view-cart a {
  display: inline-block;
  font-size: 13px;
  color: #FCF2E5;
  background-color: #444444;
  border: 0;
  cursor: pointer;
  line-height: 46px;
  height: 46px;
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.booking-info .form-submit .view-cart a:hover {
  background-color: #FF6666;
}


.tabs {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 0;
  padding: 0;
  background: none;
}
.tabs .ui-tabs-nav {
  position: relative;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  background: none;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  border: 0;
  z-index: 9;
}
.tabs .ui-tabs-nav:after {
  /* content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #D4D4D4;
  z-index: -1; */
}
.tabs .ui-tabs-nav li {
  background: none;
  border: 0;
  margin: 0 46px 0 0;
}
.tabs .ui-tabs-nav li .ui-tabs-anchor {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: #444;
  padding: 0;
  border-bottom: 3px solid transparent;
  line-height: 58px;
  z-index: 9;
}
.tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  color: #0091ea;
  border-bottom-color: #0091ea;
}
.tabs .ui-tabs-panel {
  padding: 0;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Open Sans", sans-serif;
}

.tabs__content .ui-tabs-panel {
  padding: 0;
}
.good-to-know-table,
.facilities-freebies-table {
  min-width: 644px;
}
.good-to-know-table tbody tr,
.facilities-freebies-table tbody tr {
  border-bottom: 1px solid #D4D4D4;
}
.good-to-know-table tbody tr p,
.facilities-freebies-table tbody tr p {
  margin-bottom: 0;
}
.good-to-know-table tbody tr p em,
.facilities-freebies-table tbody tr p em {
  display: inline-block;
  color: #0091ea;
  margin-left: 20px;
}
.good-to-know-table tbody tr th,
.facilities-freebies-table tbody tr th {
  font-size: 13px;
  font-weight: 600;
  color: #262626;
  padding: 18px 0;
  width: 35%;
  padding-right: 20px;
}
.good-to-know-table tbody tr th p,
.facilities-freebies-table tbody tr th p {
  position: relative;
  padding-left: 20px;
}
.good-to-know-table tbody tr th p:before,
.facilities-freebies-table tbody tr th p:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0091ea;
  left: 0;
  top: 8px;
}
.good-to-know-table tbody tr td,
.facilities-freebies-table tbody tr td {
  font-size: 13px;
  font-weight: 600;
  color: #777;
  padding: 18px 0;
  width: 65%;
}
.good-to-know-table tbody tr td .light,
.facilities-freebies-table tbody tr td .light {
  display: inline-block;
  background-color: #55A649;
  color: #fff;
  padding: 0 10px;
  line-height: 1.8em;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 12px;
}

.masonry-section-demo {
	margin: 70px 0;
}
.trip-flight-hotel-section-demo,
.sale-flights-section-demo {
	margin-top: 30px;
	margin-bottom: 200px;
}
.masonry-section-demo .more-destination {
	background-image: url(../images/img/bg-button.jpg);
}
.travelling-block-section-demo {
	background-image: url(../images/img/17.jpg);
}
.category-heading-section-demo {
	background-image: url(../images/img/bg4.jpg);
}
.category-heading-section-hotel {
	background-image: url(../images/hotel-balzac.jpg);
}

.category-heading-section-flight {
	background-image: url(../images/15.jpg);
}
.login-page-demo {

	background-image: url(../images/bg/7.jpg);
	/*height: 635px*/

}

.register-page-demo {
	background-image: url(../images/bg/2.jpg);
}
.page-heading-demo {
	background-image: url(../images/img/16.jpg);
}
.more-destination {
	background-image: url(../images/img/bg-button.jpg);
}
.widget_background__half .bg {
	background-image: url(../images/img/2.jpg);
}

.your-destinations-section-demo {
	margin-top: 50px;
	margin-bottom: 150px;
}
.checkout-section-demo {
    padding-top: 30px;
    padding-bottom: 140px;
    padding-left: 250px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.xxsmall-h {
	color: #2C3E50;
	font-size: 18px;
	margin: 0 0 18px;
}
.xmedium-h {
	color: #2C3E50;
	font-size: 16px;
	margin: 0 0 93px;
}
.full-text {
	color: #798089;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.ul-list-choos {
   	font-size: 15px;
    line-height: 40px;
    list-style: outside none none;
    padding-left: 47px;
}
.ul-list-choos li {
    position: relative;
    text-align: left;
}
.excerpt {
	color: #A6A6A6;
	line-height: 24px;
	margin-bottom: 40px;
}
.xh-Bold {
	color: #262626;
	font-size: 40px;
	margin: 10px 0 35px;
	line-height: 40px;
}
.offsetY-4 {
	margin-bottom: 98px;
}
.spacer1 {
    height: 35px;
}
