/* line 7, ../sass/external-tours.scss */
footer .fa-instagram {
  color: #FFF !important;
  width: 34px !important;
  height: 34px !important;
  text-align: center !important;
  line-height: 34px !important;
  font-size: 16px !important;
  background-color: #527fa4;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
}

/*================================
=            Products            =
================================*/
/* line 25, ../sass/external-tours.scss */
.products .content {
  border: none;
}
/* line 29, ../sass/external-tours.scss */
.products .content .product-views .nav-tabs {
  border-bottom-width: 3px;
}
/* line 32, ../sass/external-tours.scss */
.products .content .product-views .nav-tabs > li {
  margin-bottom: -3px;
}
/* line 33, ../sass/external-tours.scss */
.products .content .product-views .nav-tabs > li.active > a {
  border: none;
  border-bottom: 3px solid #212121;
}
/* line 40, ../sass/external-tours.scss */
.products .content .flight-info .options label.btn.active span.fa.fa-check {
  visibility: visible;
}
/* line 41, ../sass/external-tours.scss */
.products .content .flight-info .options label.btn:not(.active) span.fa.fa-check {
  visibility: hidden;
}
/* line 42, ../sass/external-tours.scss */
.products .content .flight-info .options label.btn span.fa.fa-check {
  color: #43A047;
}
/* line 47, ../sass/external-tours.scss */
.products .ui-datepicker {
  margin: 0px;
  width: 100% !important;
}

/*=====  End of Products  ======*/
/*======================================
=            Booking button            =
======================================*/
/* line 58, ../sass/external-tours.scss */
.theiaStickySidebar .add-to-cart > button {
  font-weight: 900;
  font-size: 1.2em !important;
  border-radius: 5px !important;
  background-color: #03a9f4 !important;
  display: block !important;
}
/* line 67, ../sass/external-tours.scss */
.theiaStickySidebar .price .undescounted {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 700;
  /*text-shadow: 0px 1px #FFF;*/
  margin-left: 10px;
  display: inline-block;
  -moz-transform: scale(1.3, 1);
  -ms-transform: scale(1.3, 1);
  -webkit-transform: scale(1.3, 1);
  transform: scale(1.3, 1);
}
/* line 77, ../sass/external-tours.scss */
.theiaStickySidebar .price .amount {
  margin-left: 38px;
  -moz-transform: scale(1.5, 1);
  -ms-transform: scale(1.5, 1);
  -webkit-transform: scale(1.5, 1);
  transform: scale(1.5, 1);
}

/* line 83, ../sass/external-tours.scss */
.book-form #total-price.amount {
  margin-left: 60px;
}

/* line 84, ../sass/external-tours.scss */
.dialog-remove-top-margin {
  margin-top: 0px;
}

/*=====  End of Booking button  ======*/
/*===============================
=            Booking            =
===============================*/
/* line 92, ../sass/external-tours.scss */
.voucher .adjust-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 98, ../sass/external-tours.scss */
.side-bar .contact-info .media .media-left {
  width: 15%;
}
/* line 99, ../sass/external-tours.scss */
.side-bar .circle.awe-icon-phone {
  background: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #FFF;
  font-size: 18px;
  border-radius: 50%;
  line-height: 35px;
}
/* line 101, ../sass/external-tours.scss */
.side-bar .booking-info {
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 107, ../sass/external-tours.scss */
.side-bar .booking-info .page-header {
  margin: 0px;
}
/* line 108, ../sass/external-tours.scss */
.side-bar .booking-info .fa {
  background: transparent;
}
/* line 110, ../sass/external-tours.scss */
.side-bar .booking-info .products .page-header {
  padding-bottom: 0px;
  padding-top: 10px;
}
/* line 111, ../sass/external-tours.scss */
.side-bar .booking-info .products .form-group {
  margin-bottom: 0px;
}
/* line 112, ../sass/external-tours.scss */
.side-bar .booking-info .products label {
  text-align: left;
}
/* line 115, ../sass/external-tours.scss */
.side-bar .booking-info .tour-info .form-group {
  margin-bottom: 0px;
}
/* line 117, ../sass/external-tours.scss */
.side-bar .booking-info .tour-info .form-group label {
  text-align: left;
}
/* line 120, ../sass/external-tours.scss */
.side-bar .booking-info .total-booking {
  margin-bottom: 0px;
  border-top-color: #FFF;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* line 128, ../sass/external-tours.scss */
.side-bar .booking-info .total-booking h2 {
  margin-top: 0px;
}
/* line 129, ../sass/external-tours.scss */
.side-bar .booking-info .total-booking h4 {
  margin-bottom: 0px;
}
/* line 132, ../sass/external-tours.scss */
.side-bar .booking-info .item-informations .page-header {
  padding-bottom: 0px;
}
/* line 135, ../sass/external-tours.scss */
.side-bar .booking-info .item-informations .page-header h6 {
  color: #FFF;
}
/* line 139, ../sass/external-tours.scss */
.side-bar .side-bar-content.affix {
  bottom: 10px;
  position: fixed;
}
/* line 140, ../sass/external-tours.scss */
.side-bar .side-bar-content.affix-bottom {
  position: absolute;
}

/* line 143, ../sass/external-tours.scss */
.promo-section > div {
  padding: 15px;
  border: 3px dashed #FFF;
  border-radius: 2%;
}

/* line 145, ../sass/external-tours.scss */
.content {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 155, ../sass/external-tours.scss */
.booking-container .content label {
  color: #000;
}
/* line 156, ../sass/external-tours.scss */
.booking-container .content .page-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-width: 3px;
}
/* line 157, ../sass/external-tours.scss */
.booking-container .content .page-header > h5 {
  padding: 10px 10px 0px 10px;
}
/* line 158, ../sass/external-tours.scss */
.booking-container .content .form-group .input-group-btn > button {
  padding: 9px;
}
/* line 161, ../sass/external-tours.scss */
.booking-container .content .passengers .heading {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 165, ../sass/external-tours.scss */
.booking-container .content .passengers .heading > h5 {
  margin-top: 0px;
}
/* line 168, ../sass/external-tours.scss */
.booking-container .content .passengers .passenger {
  border: 2px dashed #EEE;
}
/* line 171, ../sass/external-tours.scss */
.booking-container .content .passengers .passenger > h6 {
  border-bottom: 1px solid #e6e6e6;
}
/* line 173, ../sass/external-tours.scss */
.booking-container .content .passengers .alert {
  margin-top: 20px;
}
/* line 177, ../sass/external-tours.scss */
.booking-container .content .pament-methods .heading {
  margin-bottom: 0px;
}
/* line 179, ../sass/external-tours.scss */
.booking-container .content .pament-methods li.active .fa-check-circle {
  color: #4CAF50;
  font-size: 1.2em;
}
/* line 180, ../sass/external-tours.scss */
.booking-container .content .pament-methods li.active .fa-exclamation-circle {
  color: #e53935;
  font-size: 1.2em;
}
/* line 182, ../sass/external-tours.scss */
.booking-container .content .pament-methods li:not(.active) > a > span.icon {
  display: none;
}
/* line 184, ../sass/external-tours.scss */
.booking-container .content .pay-later-container label {
  color: #FFF;
}
/* line 187, ../sass/external-tours.scss */
.booking-container .input-group-addon select {
  cursor: pointer;
  padding-right: 20px;
  border: none !important;
  width: auto;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0));
  background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 5px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 6px 6px, 6px 7px, 1px 1.5em;
  background-repeat: no-repeat;
}
/* line 210, ../sass/external-tours.scss */
.booking-container .input-group-addon.select {
  padding: 0px;
}
/* line 211, ../sass/external-tours.scss */
.booking-container .alert-danger .media-left .fa-times-circle {
  padding-left: 10px;
  font-size: 3em;
}
/* line 212, ../sass/external-tours.scss */
.booking-container .total-booking .amount {
  font-weight: 900;
}

/* line 216, ../sass/external-tours.scss */
.product-credentials .page-header > h6 {
  padding: 10px 10px 0px 10px;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
}
/* line 217, ../sass/external-tours.scss */
.product-credentials .page-header > [data-toggle="collapse"][aria-expanded="true"] span.pull-right:before {
  content: "\f068";
}

/*=====  End of Booking  ======*/
/*====================================
=            Review Modal            =
====================================*/
/* line 228, ../sass/external-tours.scss */
.bootstrap-dialog-message > div {
  float: none;
}
/* line 229, ../sass/external-tours.scss */
.bootstrap-dialog-message [data-hover] {
  cursor: pointer;
}

/* line 233, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message p > strong {
  color: rgba(38, 38, 38, 0.78);
}
/* line 234, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message h6 {
  color: rgba(38, 38, 38, 0.78);
  border-bottom: 1px solid;
}
/* line 235, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group {
  margin-bottom: 0px;
}
/* line 238, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group p, .review-modal .bootstrap-dialog-message .form-group label {
  color: rgba(38, 38, 38, 0.58);
}
/* line 241, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group .products .form-group label {
  text-align: left;
}
/* line 242, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group .products .form-group .fa-check {
  color: #4CAF50;
}
/* line 244, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group .products .booking-price {
  border-top: 1px dashed;
}
/* line 246, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group .products .booking-price > h5 {
  color: #f44336;
}
/* line 248, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-message .form-group .products span[class^="fa fa-calendar"] {
  color: #f44336;
}
/* line 253, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-footer #history-link {
  background: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  color: #333;
}
/* line 259, ../sass/external-tours.scss */
.review-modal .bootstrap-dialog-footer #history-link:hover {
  color: #0091ea;
}

/*=====  End of Review Modal  ======*/
/*======================================
=            EXTERNAL TOURS            =
======================================*/
/* line 272, ../sass/external-tours.scss */
.external-tours-review .sticky-side-bar .side-bar-content.affix {
  bottom: 10px;
  position: fixed;
}
/* line 273, ../sass/external-tours.scss */
.external-tours-review .sticky-side-bar .side-bar-content.affix-bottom {
  position: absolute;
}
/* line 276, ../sass/external-tours.scss */
.external-tours-review .tour-details .control-label {
  text-align: left;
}
/* line 277, ../sass/external-tours.scss */
.external-tours-review .tour-details label {
  color: #616161;
}
/* line 278, ../sass/external-tours.scss */
.external-tours-review .tour-details li, .external-tours-review .tour-details p {
  color: #757575;
}

/*=====  End of EXTERNAL TOURS  ======*/
@media (max-width: 767px) {
  /* line 285, ../sass/external-tours.scss */
  .external-tours-review .sticky-side-bar .side-bar-content, .booking-container .side-bar .side-bar-content.affix {
    position: static;
  }
}
/*==============================
=            CUSTOM            =
==============================*/
/* line 292, ../sass/external-tours.scss */
.form-group.no-margin {
  margin-bottom: 0px;
}

/* line 296, ../sass/external-tours.scss */
.form-horizontal.no-margin .form-control-static, .form-horizontal.no-margin .form-group {
  margin-bottom: 0px;
  margin-top: 0px;
}
/* line 297, ../sass/external-tours.scss */
.form-horizontal.no-margin .form-control-static {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 299, ../sass/external-tours.scss */
.control-label.input {
  padding-top: 0px;
}

/* line 300, ../sass/external-tours.scss */
.control-label.text-left {
  text-align: left;
}

/* line 301, ../sass/external-tours.scss */
.content p.form-control-static {
  color: #757575;
}

/* line 302, ../sass/external-tours.scss */
th, td, .content label, input[name="flight[hasReadTems]"] + strong {
  color: #616161;
}

/* line 303, ../sass/external-tours.scss */
.align-middle {
  vertical-align: middle !important;
}

/* line 304, ../sass/external-tours.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 305, ../sass/external-tours.scss */
a.cursor-pointer:hover {
  color: #4FC3F7;
}

/* line 306, ../sass/external-tours.scss */
#ui-datepicker-div[datepicker-type="popup"] {
  width: 24em;
  margin-top: 0px;
  margin-left: 0px;
}

/* line 308, ../sass/external-tours.scss */
#ui-datepicker-div {
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/* line 311, ../sass/external-tours.scss */
#ui-datepicker-div .ui-datepicker-current-day {
  background-color: #607D8B;
}
/* line 314, ../sass/external-tours.scss */
#ui-datepicker-div .ui-datepicker-current-day a {
  color: #FFF !important;
  text-shadow: none !important;
}

/* line 318, ../sass/external-tours.scss */
.ui-datepicker-inline .ui-datepicker-calendar td > a, .ui-datepicker-inline #ui-datepicker-div[datepicker-type="popup"] .ui-datepicker-calendar td > a {
  font-size: 1.1em;
}
/* line 319, ../sass/external-tours.scss */
.ui-datepicker-inline td:not(.calendar-product) > a {
  cursor: default;
}

/* line 321, ../sass/external-tours.scss */
.calendar-indicator {
  z-index: 10;
  padding: 0 !important;
  position: absolute;
  margin: -29px 0 2px 1px;
  width: 0 !important;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: #f44336 transparent transparent transparent;
}

/* line 333, ../sass/external-tours.scss */
.calendar-price {
  z-index: 10;
  position: absolute;
  font-size: 1.1em;
  font-weight: bolder;
  margin: -16px 0 2px 0px;
  color: #f44336;
  width: 48px;
}
/* line 342, ../sass/external-tours.scss */
.calendar-price .fa-usd {
  font-size: .9em;
  display: inline;
  color: #f44336 !important;
}

/* line 344, ../sass/external-tours.scss */
.calendar-day {
  position: relative;
  top: -.7em;
  left: 2.3em;
  font-size: .9em !important;
  height: 25px !important;
  width: 25px !important;
  line-height: 1.5 !important;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 356, ../sass/external-tours.scss */
.calendar-on-range {
  background-color: #CFD8DC;
}

/* line 357, ../sass/external-tours.scss */
.border-bottom {
  border-bottom: 1px solid #B0BEC5;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

/* line 358, ../sass/external-tours.scss */
.border-top {
  border-top: 1px solid #B0BEC5;
}

/* line 360, ../sass/external-tours.scss */
#list-view button[data-date]:not(.active) span.fa.fa-check {
  display: none;
}
/* line 361, ../sass/external-tours.scss */
#list-view button[data-date].active span.fa.fa-check {
  display: inline-block;
}

/* line 363, ../sass/external-tours.scss */
.fab-buttons-fixed {
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 1000;
}

/* line 373, ../sass/external-tours.scss */
.side-bar .sidebar-contact h6 {
  color: #FFF;
}
/* line 375, ../sass/external-tours.scss */
.side-bar .sidebar-contact .media-body h5, .side-bar .sidebar-contact .media-body h6 {
  margin: 0px;
}
/* line 376, ../sass/external-tours.scss */
.side-bar .sidebar-contact .media-body h5 {
  font-weight: normal;
  font-size: 30px;
}

/* line 380, ../sass/external-tours.scss */
.text-line-through {
  text-decoration: line-through;
}

/*=====  End of CUSTOM  ======*/
@media (min-width: 768px) {
  /* line 388, ../sass/external-tours.scss */
  .checkout-passengers .checkout-passenger .form-group:nth-child(2) {
    padding: 0px;
  }
  /* line 389, ../sass/external-tours.scss */
  .checkout-passengers .checkout-passenger .form-group:last-child {
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  /* line 395, ../sass/external-tours.scss */
  .side-bar-content {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 999;
  }
}
/*================================
=            CHECKOUT            =
================================*/
/* line 408, ../sass/external-tours.scss */
.input-group-addon.select {
  padding: 0px;
}
/* line 411, ../sass/external-tours.scss */
.input-group-addon.select > select {
  padding: 0px;
  border: none;
  width: 50px;
}

/* line 415, ../sass/external-tours.scss */
.checkout .page-header > h6 {
  text-indent: 5px;
  letter-spacing: 1.5px;
}
/* line 418, ../sass/external-tours.scss */
.checkout .checkout-passengers > .page-header {
  margin-bottom: 0px;
}
/* line 419, ../sass/external-tours.scss */
.checkout .checkout-passengers .checkout-passenger {
  border: 1px dashed #CFD8DC;
}
/* line 422, ../sass/external-tours.scss */
.checkout .checkout-passengers .checkout-passenger .header {
  border-bottom: 1px solid #CFD8DC;
  padding-bottom: 10px;
}
/* line 427, ../sass/external-tours.scss */
.checkout .payment-method > .page-header {
  margin-bottom: 0px;
}
/* line 429, ../sass/external-tours.scss */
.checkout .payment-method [role="presentation"]:not(.active) .status-icon {
  visibility: hidden;
}
/* line 430, ../sass/external-tours.scss */
.checkout .payment-method [role="presentation"].active .status-icon {
  visibility: visible;
}

/*=====  End of CHECKOUT  ======*/
/*=======================================
=            Tour List Items            =
=======================================*/
/* line 442, ../sass/external-tours.scss */
.tour-product .tour-item {
  cursor: pointer;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 449, ../sass/external-tours.scss */
.tour-product .tour-item:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 452, ../sass/external-tours.scss */
.tour-product .tour-item .tour-selected {
  display: none;
}
/* line 453, ../sass/external-tours.scss */
.tour-product .tour-item.active .tour-selected {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 6em;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 461, ../sass/external-tours.scss */
.tour-product .tour-item.active .tour-selected span {
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 468, ../sass/external-tours.scss */
.tour-product .tour-item .page-header {
  margin: 0px;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  color: #f44336;
  border-bottom: 3px solid #f44336;
}
/* line 475, ../sass/external-tours.scss */
.tour-product .tour-item .page-header .price-currency {
  font-size: 2rem;
  vertical-align: top;
  margin-top: 30px;
  display: inline-block;
}
/* line 481, ../sass/external-tours.scss */
.tour-product .tour-item .page-header .price-value {
  font-size: 5.5rem;
}
/* line 484, ../sass/external-tours.scss */
.tour-product .tour-item .page-header .price-duration {
  display: block;
  font-weight: normal;
}
/* line 490, ../sass/external-tours.scss */
.tour-product .tour-item .form-group.remove-bottom-margin {
  margin-bottom: 0px;
}
/* line 492, ../sass/external-tours.scss */
.tour-product .tour-item .form-group label {
  margin: 0px;
}
/* line 493, ../sass/external-tours.scss */
.tour-product .tour-item .form-group .form-control-static {
  padding-top: 0px;
}
/* line 495, ../sass/external-tours.scss */
.tour-product .tour-item .btn-custom {
  border-radius: 0px;
  background-color: #ef5350;
  color: #FFF;
  letter-spacing: 5px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 502, ../sass/external-tours.scss */
.tour-product .tour-item .btn-custom:hover {
  background-color: #f44336;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*=====  End of Tour List Items  ======*/
/*============================
=            FORM            =
============================*/
/* line 517, ../sass/external-tours.scss */
.form-control {
  height: 35px !important;
  border-width: 3px !important;
  border-radius: 0px;
}
/* line 522, ../sass/external-tours.scss */
.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 526, ../sass/external-tours.scss */
.input-group-addon.select {
  border: none;
  border-radius: 0px;
}
/* line 530, ../sass/external-tours.scss */
.input-group-addon.select select {
  border: 1px solid #d4d4d4;
  height: 35px !important;
}
/* line 535, ../sass/external-tours.scss */
.input-group-addon.select select:focus {
  border-color: #66afe9;
}

/*=====  End of FORM  ======*/
