/* -- import Bootstrap v3 ----------------------------- */
/*@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";*/
/* -- import Bootstrap docs ---------------------------- */
/*@import "//getbootstrap.com/assets/css/docs.min.css";*/
/* -- import Roboto Font ------------------------------ */
/*@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";*/
/*-- Body style ---------------------------------- */
body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* -- Main style ------------------------------------ */
.btn4 {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
}
.btn4-default,
.btn4-link {
  color: rgba(0, 0, 0, 0.87);
}
/* -- Buttons style ------------------------------------ */
.btn4 {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}
.btn4:focus,
.btn4:active,
.btn4.active,
.btn4:active:focus,
.btn4.active:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* -- Buttons types -------------------------------- */
.btn4-raised {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn4-raised:active,
.btn4-raised.active,
.btn4-raised:active:focus,
.btn4-raised.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn4-raised:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn4.btn4-circle {
  padding: 0;
  border-radius: 50%;
}
/* -- Buttons colors -------------------------------- */
.btn4-default,
.dropdown-toggle.btn4-default {
  background-color: #fff;
}
.btn4-default:hover,
.dropdown-toggle.btn4-default:hover {
  background-color: #e5e5e5;
}
.btn4-default:active,
.dropdown-toggle.btn4-default:active,
.btn4-default.active,
.dropdown-toggle.btn4-default.active {
  background-color: #e5e5e5;
}
.btn4-default:focus,
.dropdown-toggle.btn4-default:focus {
  background-color: #cccccc;
}
.btn4-default:disabled,
.dropdown-toggle.btn4-default:disabled,
.btn4-default.disabled,
.dropdown-toggle.btn4-default.disabled,
.btn4-default[disabled],
.dropdown-toggle.btn4-default[disabled] {
  background-color: #b3b3b3;
}
.btn4-default .ink,
.dropdown-toggle.btn4-default .ink {
  background-color: #b8b8b8;
}
.btn4-flat.btn4-default {
  color: #212121;
  background-color: transparent;
}
.btn4-flat.btn4-default:hover {
  color: #141414;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-default:active,
.btn4-flat.btn4-default.active {
  color: #020202;
  background-color: #cccccc;
}
.btn4-flat.btn4-default:focus {
  color: #000;
  background-color: #cccccc;
}
.btn4-flat.btn4-default .ink {
  background-color: #808080;
}
.btn4-primary,
.dropdown-toggle.btn4-primary {
  background-color: #5677fc;
}
.btn4-primary:hover,
.dropdown-toggle.btn4-primary:hover {
  background-color: #4e6cef;
}
.btn4-primary:active,
.dropdown-toggle.btn4-primary:active,
.btn4-primary.active,
.dropdown-toggle.btn4-primary.active {
  background-color: #4e6cef;
}
.btn4-primary:focus,
.dropdown-toggle.btn4-primary:focus {
  background-color: #455ede;
}
.btn4-primary:disabled,
.dropdown-toggle.btn4-primary:disabled,
.btn4-primary.disabled,
.dropdown-toggle.btn4-primary.disabled,
.btn4-primary[disabled],
.dropdown-toggle.btn4-primary[disabled] {
  background-color: #b3b3b3;
}
.btn4-primary .ink,
.dropdown-toggle.btn4-primary .ink {
  background-color: #3b50ce;
}
.btn4-flat.btn4-primary {
  color: #5677fc;
  background-color: transparent;
}
.btn4-flat.btn4-primary:hover {
  color: #4e6cef;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-primary:active,
.btn4-flat.btn4-primary.active {
  color: #455ede;
  background-color: #cccccc;
}
.btn4-flat.btn4-primary:focus {
  color: #3b50ce;
  background-color: #cccccc;
}
.btn4-flat.btn4-primary .ink {
  background-color: #808080;
}
.btn4-success,
.dropdown-toggle.btn4-success {
  background-color: #259b24;
}
.btn4-success:hover,
.dropdown-toggle.btn4-success:hover {
  background-color: #0a8f08;
}
.btn4-success:active,
.dropdown-toggle.btn4-success:active,
.btn4-success.active,
.dropdown-toggle.btn4-success.active {
  background-color: #0a8f08;
}
.btn4-success:focus,
.dropdown-toggle.btn4-success:focus {
  background-color: #0a7e07;
}
.btn4-success:disabled,
.dropdown-toggle.btn4-success:disabled,
.btn4-success.disabled,
.dropdown-toggle.btn4-success.disabled,
.btn4-success[disabled],
.dropdown-toggle.btn4-success[disabled] {
  background-color: #b3b3b3;
}
.btn4-success .ink,
.dropdown-toggle.btn4-success .ink {
  background-color: #056f00;
}
.btn4-flat.btn4-success {
  color: #259b24;
  background-color: transparent;
}
.btn4-flat.btn4-success:hover {
  color: #0a8f08;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-success:active,
.btn4-flat.btn4-success.active {
  color: #0a7e07;
  background-color: #cccccc;
}
.btn4-flat.btn4-success:focus {
  color: #056f00;
  background-color: #cccccc;
}
.btn4-flat.btn4-success .ink {
  background-color: #808080;
}
.btn4-info,
.dropdown-toggle.btn4-info {
  background-color: #03a9f4;
}
.btn4-info:hover,
.dropdown-toggle.btn4-info:hover {
  background-color: #039be5;
}
.btn4-info:active,
.dropdown-toggle.btn4-info:active,
.btn4-info.active,
.dropdown-toggle.btn4-info.active {
  background-color: #039be5;
}
.btn4-info:focus,
.dropdown-toggle.btn4-info:focus {
  background-color: #0288d1;
}
.btn4-info:disabled,
.dropdown-toggle.btn4-info:disabled,
.btn4-info.disabled,
.dropdown-toggle.btn4-info.disabled,
.btn4-info[disabled],
.dropdown-toggle.btn4-info[disabled] {
  background-color: #b3b3b3;
}
.btn4-info .ink,
.dropdown-toggle.btn4-info .ink {
  background-color: #0277bd;
}
.btn4-flat.btn4-info {
  color: #03a9f4;
  background-color: transparent;
}
.btn4-flat.btn4-info:hover {
  color: #039be5;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-info:active,
.btn4-flat.btn4-info.active {
  color: #0288d1;
  background-color: #cccccc;
}
.btn4-flat.btn4-info:focus {
  color: #0277bd;
  background-color: #cccccc;
}
.btn4-flat.btn4-info .ink {
  background-color: #808080;
}
.btn4-warning,
.dropdown-toggle.btn4-warning {
  background-color: #ffc107;
}
.btn4-warning:hover,
.dropdown-toggle.btn4-warning:hover {
  background-color: #ffb300;
}
.btn4-warning:active,
.dropdown-toggle.btn4-warning:active,
.btn4-warning.active,
.dropdown-toggle.btn4-warning.active {
  background-color: #ffb300;
}
.btn4-warning:focus,
.dropdown-toggle.btn4-warning:focus {
  background-color: #ffa000;
}
.btn4-warning:disabled,
.dropdown-toggle.btn4-warning:disabled,
.btn4-warning.disabled,
.dropdown-toggle.btn4-warning.disabled,
.btn4-warning[disabled],
.dropdown-toggle.btn4-warning[disabled] {
  background-color: #b3b3b3;
}
.btn4-warning .ink,
.dropdown-toggle.btn4-warning .ink {
  background-color: #ff8f00;
}
.btn4-flat.btn4-warning {
  color: #ffc107;
  background-color: transparent;
}
.btn4-flat.btn4-warning:hover {
  color: #ffb300;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-warning:active,
.btn4-flat.btn4-warning.active {
  color: #ffa000;
  background-color: #cccccc;
}
.btn4-flat.btn4-warning:focus {
  color: #ff8f00;
  background-color: #cccccc;
}
.btn4-flat.btn4-warning .ink {
  background-color: #808080;
}
.btn4-danger,
.dropdown-toggle.btn4-danger {
  background-color: #ff5722;
}
.btn4-danger:hover,
.dropdown-toggle.btn4-danger:hover {
  background-color: #f4511e;
}
.btn4-danger:active,
.dropdown-toggle.btn4-danger:active,
.btn4-danger.active,
.dropdown-toggle.btn4-danger.active {
  background-color: #f4511e;
}
.btn4-danger:focus,
.dropdown-toggle.btn4-danger:focus {
  background-color: #e64a19;
}
.btn4-danger:disabled,
.dropdown-toggle.btn4-danger:disabled,
.btn4-danger.disabled,
.dropdown-toggle.btn4-danger.disabled,
.btn4-danger[disabled],
.dropdown-toggle.btn4-danger[disabled] {
  background-color: #b3b3b3;
}
.btn4-danger .ink,
.dropdown-toggle.btn4-danger .ink {
  background-color: #d84315;
}
.btn4-flat.btn4-danger {
  color: #ff5722;
  background-color: transparent;
}
.btn4-flat.btn4-danger:hover {
  color: #f4511e;
  background-color: #e5e5e5;
}
.btn4-flat.btn4-danger:active,
.btn4-flat.btn4-danger.active {
  color: #e64a19;
  background-color: #cccccc;
}
.btn4-flat.btn4-danger:focus {
  color: #d84315;
  background-color: #cccccc;
}
.btn4-flat.btn4-danger .ink {
  background-color: #808080;
}
/* -- Buttons sizes -------------------------------- */
.btn4 {
  min-width: 88px;
  padding: 10px 14px;
}
.btn4-lg,
.btn4-group-lg > .btn4 {
  min-width: 122px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3;
}
.btn4-sm,
.btn4-group-sm > .btn4 {
  min-width: 64px;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.5;
}
.btn4-xs,
.btn4-group-xs > .btn4 {
  min-width: 46px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn4-circle {
  width: 56px;
  height: 56px;
  min-width: 56px;
}
.btn4-circle span {
  line-height: 56px;
}
.btn4-circle.btn4-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn4-circle.btn4-lg span {
  line-height: 78px;
}
.btn4-circle.btn4-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn4-circle.btn4-sm span {
  line-height: 40px;
}
.btn4-circle.btn4-xs {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn4-circle.btn4-xs span {
  line-height: 30px;
}
/*-- Button groups --------------------------------- */
.btn4-group .btn4 {
  border-radius: 2px;
}
.btn4-group.open .dropdown-toggle {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.btn4-group .btn4 + .btn4,
.btn4-group .btn4 + .btn4-group,
.btn4-group .btn4-group + .btn4,
.btn4-group .btn4-group + .btn4-group {
  margin-left: 0;
}
.btn4-group > .btn4:hover,
.btn4-group-vertical > .btn4:hover {
  z-index: 0;
}
.btn4-group > .btn4:focus:hover,
.btn4-group-vertical > .btn4:focus:hover,
.btn4-group > .btn4:active:hover,
.btn4-group-vertical > .btn4:active:hover,
.btn4-group > .btn4.active:hover,
.btn4-group-vertical > .btn4.active:hover {
  z-index: 2;
}
/* -- Ripple effect -------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
