!="<?php $airlines = json_decode(AVAILABLE_AIRLINES, TRUE) ?>"
!="<?php $count = round(count($airlines) / 2) ?>"
!="<?php $split = array( array_slice( $airlines, 0, $count ), array_slice( $airlines, $count ) ) ?>"
div.clearfix
	!="<?php foreach ( $split as $arr ) :?>"
	div.col-sm-6
		ul
			!="<?php foreach ( $arr as $airline ) :?>"
			li!="<?=$airline?>"
			!="<?php endforeach ?>"
	!="<?php endforeach ?>"