!="<?php $TOUR = $_POST['tour'] ?>"
!="<?php $hasSupplement = (isset( $_POST['supplements'] ) && ! empty( $_POST['supplements'] )) ?>"
!="<?php $supplements = $hasSupplement ? $_POST['supplements'] : array(); ?>"
!="<?php $products = $_POST['items'] ?>"

div.page-header
	h5
		|Your tour will start at 
		span.text-danger
			!="<?=date('F d, Y', strtotime($TOUR['SELECTED_DATE']))?>"
		|  and will end at 
		span.text-danger
			!="<?=date('F d, Y', strtotime($TOUR['END_DATE']))?>"
	small
		| This product has a 
		!="<?=$TOUR['DURATION']+1?>"
		!=" "
		!="<?=(intval($TOUR['DURATION']+1) > 1) ? 'days' : 'day' ?>"
		|  tour. 
		a.cursor-pointer(back-to-list) Click here 
		| to change your tour date.
div
	!="<?php if( ! empty($_POST['packages']) ) :?>"
	div.col-md-6#packages-container
		div.page-header
			h6 Add Ons/Packages
			
		div
			|<?php foreach( $_POST['packages'] as $key => $package ) :?>

			|<?php $isMarkup= ($package['isMarkup']=='true')?>

			|<?php
			|$rate=$package['convertedRate'];
			|$basePrice=$package['OriginalBasePrice'];
			|$converted=$package['convertedBasePrice'];
			|$fromCurrency=$package['fromCurrency'];
			|$toCurrency=$package['toCurrency'];
			|$markup_pct=($isMarkup)?$package['markup_pct_amount']:0;
			|$commission_pct=$package['comm_pct_amount'];
			|$costing=item_costing($converted, $commission_pct, $markup_pct);
			|?>
			
			|<?php
			|$costing['rate']=$rate;
			|$costing['basePrice']=$basePrice;
			|$costing['converted']=$converted;
			|$costing['fromCurrency']=$fromCurrency;
			|$costing['toCurrency']=$toCurrency;
			|$costing['markup_pct']=$markup_pct;
			|$costing['commission_pct']=$commission_pct;
			|?>
			|<?php $costing=array_map(function($item){ return ((filter_var($item, FILTER_VALIDATE_FLOAT) === 0.0 || filter_var($item, FILTER_VALIDATE_FLOAT))?$item:"&quot;".$item."&quot;"); },$costing); ?>
			div.form-group
				label.control-label.col-sm-8
					strong!="<?=$package['supplement_name'] ?>"
					!=" ( "
					strong.text-danger
						span.fa.fa-usd
						!="<?=number_format($costing['gross_amount'], 2) ?>"
					!=" )"
				div.col-sm-4
					div.input-group
						span.input-group-btn
							button.btn.btn-success(data-selection-button="subtract")
								span.fa.fa-minus
						input.form-control.text-center(
								type="number"
								min=0
								value=0
								data-package
								data-name!="<?=$package['supplement_name'] ?>"
								data-subtotal=0
								data-price!="<?=$costing['gross_amount'] ?>"
								data-costings!="<?=str_replace('\"','',json_encode($costing))?>"
							)
						span.input-group-btn
							button.btn.btn-danger(data-selection-button="add")
								span.fa.fa-plus
			!="<?php endforeach; ?>"
		!="<?php endif; ?>"
	!="<?php if( ! empty($_POST['extraBills']) ) :?>"
	div.clearfix.hidden-md.hidden-lg
	div.col-md-6#extrabills-container
		div.page-header
			h6 Extra Bills
			small  The list of items will automatically be included on your payments.
		!="<?php foreach( $_POST['extraBills'] as $key => $extraBill ) :?>"

		|<?php $isMarkup= ($extraBill['isMarkup']=='true')?>

		|<?php
		|$rate=$extraBill['convertedRate'];
		|$basePrice=$extraBill['OriginalBasePrice'];
		|$converted=$extraBill['convertedBasePrice'];
		|$fromCurrency=$extraBill['fromCurrency'];
		|$toCurrency=$extraBill['toCurrency'];
		|$markup_pct=($isMarkup)?$extraBill['markup_pct_amount']:0;
		|$commission_pct=$extraBill['comm_pct_amount'];
		|$costing=item_costing($converted, $commission_pct, $markup_pct);
		|?>
		
		|<?php
		|$costing['rate']=$rate;
		|$costing['basePrice']=$basePrice;
		|$costing['converted']=$converted;
		|$costing['fromCurrency']=$fromCurrency;
		|$costing['toCurrency']=$toCurrency;
		|$costing['markup_pct']=$markup_pct;
		|$costing['commission_pct']=$commission_pct;
		|?>
		|<?php $costing=array_map(function($item){ return ((filter_var($item, FILTER_VALIDATE_FLOAT) === 0.0 || filter_var($item, FILTER_VALIDATE_FLOAT))?$item:"&quot;".$item."&quot;"); },$costing); ?>
		div.form-group
			label
				input(
					type="hidden"
					data-extrabill
					data-name!="<?=$extraBill['supplement_name'] ?>"
					data-price!="<?=$costing['gross_amount']?>"
					data-costings!="<?=str_replace('\"','',json_encode($costing))?>"
				)
				span.fa.fa-check.text-success
				!=" <?=$extraBill['supplement_name'] ?>"
				strong
					|  ( 
					span.fa.fa-usd
					!="<?=number_format($costing['gross_amount'], 2) ?>"
					|  )
		!="<?php endforeach; ?>"
	!="<?php endif; ?>"
	div.clearfix
	br
	div.alert.alert-info
		strong
			span.fa.fa-info-circle
			|  NOTE : 
		| Please review your selection upon booking.
	div.clearfix
		table.table.table-bordered.table-hover#item-container
			thead.hidden-xs.hidden-sm
				tr
					th(style="width: 105px;")
						strong PASSENGERS
					th.text-center
						strong ROOM/CABIN OCCUPANCY
					th.text-center
						strong SUPPLEMENTS
					th.text-right
						strong PRICE/ PER PERSON
			tbody
				!="<?php function build_supplements ( $productIndex, $supplements ) { ?>"
				!="<?php foreach ( $supplements as $key => $supplement ) : ?>"
				!="<?php $OriginalBasePrice  = $supplement['OriginalBasePrice'] ?>"
				!="<?php $fromCurrency       = $supplement['sub_fromCurrency'] ?>"
				!="<?php $toCurrency         = $supplement['sub_toCurrency'] ?>"
				!="<?php $markup_pct_amount  = $supplement['markup_pct_amount'] ?>"
				!="<?php $comm_pct_amount    = $supplement['comm_pct_amount'] ?>"
				!="<?php $convertedBasePrice = $supplement['convertedBasePrice'] ?>"
				!="<?php $grossPrice         = round($supplement['grossPrice']) ?>"
				!="<?php $comPrice           = $supplement['comPrice'] ?>"
				!="<?php $netAmount          = $supplement['netAmount'] ?>"

				|<?php
				|$rate=$supplement['convertedRate'];
				|$basePrice=$supplement['OriginalBasePrice'];
				|$converted=$supplement['convertedBasePrice'];
				|$fromCurrency=$supplement['sub_fromCurrency'];
				|$toCurrency=$supplement['sub_toCurrency'];
				|$markup_pct=$supplement['markup_pct_amount'];
				|$commission_pct=$supplement['comm_pct_amount'];
				|$item_costing=item_costing($converted, $commission_pct, $markup_pct);
				|?>
				
				|<?php
				|$item_costing['rate']=$rate;
				|$item_costing['basePrice']=$basePrice;
				|$item_costing['converted']=$converted;
				|$item_costing['fromCurrency']=$fromCurrency;
				|$item_costing['toCurrency']=$toCurrency;
				|$item_costing['markup_pct']=$markup_pct;
				|$item_costing['commission_pct']=$commission_pct;
				|?>
				|<?php $item_costing=array_map(function($item){ return ((filter_var($item, FILTER_VALIDATE_FLOAT) === 0.0 || filter_var($item, FILTER_VALIDATE_FLOAT))?$item:"&quot;".$item."&quot;"); },$item_costing); ?>
				input.sr-only(
					type="radio"
					data-item-supplement
					value!="<?=$key ?>"
					data-name!="<?=$supplement['sub_supplement_avail_name'] ?>"
					data-price!="<?=$item_costing['gross_amount']?>"
					data-costings!="<?=str_replace('\"','',json_encode($item_costing))?>"
				)
				label.supplement-label
					span.fa.fa-check.text-success
					!=" "
					!="<?=$supplement['sub_supplement_avail_name'] ?>"
					!=" ( "
					span.fa.fa-usd
					!="<?=number_format($item_costing['gross_amount'], 2)?>"
					!=" )"
				!="<?php endforeach; ?>"
				!="<?php } ?>"

				!="<?php function build_options ( $minGuest, $hasSupplement ) { ?>"
				!="<?php foreach( range(1, 15) as $index ) :?>"
				!="<?php $moduled = (($index % $minGuest) != 0) ?>"
				!="<?php if ( !(! $hasSupplement && $moduled ) ) :?>"
				option(value!="<?=$index?>" data-is-supplement!="<?=$moduled ?'true':'false' ?>")!="<?=$index?>"
				!="<?php endif; ?>"
				!="<?php ?>"
				!="<?php endforeach; ?>"
				!="<?php } ?>"
				
				!="<?php foreach ( $products as $key => $product ) : ?>"
				!="<?php $OriginalBasePrice  = $product['OriginalBasePrice'] ?>"
				!="<?php $fromCurrency       = $product['fromCurrency'] ?>"
				!="<?php $toCurrency         = $product['toCurrency'] ?>"
				!="<?php $markup_pct_amount  = $product['markup_pct_amount'] ?>"
				!="<?php $comm_pct_amount    = $product['comm_pct_amount'] ?>"
				!="<?php $convertedBasePrice = $product['convertedBasePrice'] ?>"
				!="<?php $grossPrice         = round($product['grossPrice']) ?>"
				!="<?php $comPrice           = $product['comPrice'] ?>"
				!="<?php $netAmount          = $product['netAmount'] ?>"
				|<?php $_hasSupplement=($hasSupplement||($product['hasSupplement']=='true')) ?>
				|<?php $multi_sup=($product['hasSupplement']=='true')?array($product['supplement']):$supplements ?>

				|<?php
				|$rate=$product['convertedRate'];
				|$basePrice=$product['OriginalBasePrice'];
				|$converted=$product['convertedBasePrice'];
				|$fromCurrency=$product['fromCurrency'];
				|$toCurrency=$product['toCurrency'];
				|$markup_pct=$product['markup_pct_amount'];
				|$commission_pct=$product['comm_pct_amount'];
				|$sup_costing=item_costing($converted, $commission_pct, $markup_pct);
				|?>
				
				|<?php
				|$sup_costing['rate']=$rate;
				|$sup_costing['basePrice']=$basePrice;
				|$sup_costing['converted']=$converted;
				|$sup_costing['fromCurrency']=$fromCurrency;
				|$sup_costing['toCurrency']=$toCurrency;
				|$sup_costing['markup_pct']=$markup_pct;
				|$sup_costing['commission_pct']=$commission_pct;
				|?>
				|<?php $sup_costing=array_map(function($item){ return ((filter_var($item, FILTER_VALIDATE_FLOAT) === 0.0 || filter_var($item, FILTER_VALIDATE_FLOAT))?$item:"&quot;".$item."&quot;"); },$sup_costing); ?>
				tr(
					data-product-key=""
					data-item-key!="<?=$key ?>"
					data-name!="<?=$product['supplement_avail_name'] ?>"
					data-price!="<?=$sup_costing['gross_amount']?>"
					data-costings!="<?=str_replace('\"','',json_encode($sup_costing))?>"
				)
					td.hidden-xs.hidden-sm
						select.form-control(
							data-selection
							data-minguest!="<?=$product['minGuest'] ?>"
							data-price!="<?=$sup_costing['gross_amount']?>"
						)
							option(value="0" selected) 0
							!="<?php build_options( $product['minGuest'], $_hasSupplement ) ?>"
					td.hidden-xs.hidden-sm!="<?=$product['supplement_avail_name'] ?>"
					td.hidden-xs.hidden-sm.supplement-container
						|<?php if ( intval($product['minGuest']) > 1 && $_hasSupplement ) :?>
						|<?php build_supplements( $key, $multi_sup ) ?>
						|<?php endif; ?>
					td.hidden-xs.hidden-sm.text-right
						strong
							span.fa.fa-usd
							span!="<?=number_format($sup_costing['gross_amount'], 2) ?>"
					//- MOBILE
					td.hidden-md.hidden-lg.hidden-xs
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-5 # OF PASSENGERS
								div.col-sm-7
									select.form-control(
										data-selection
										data-minguest!="<?=$product['minGuest'] ?>"
										data-price!="<?=$sup_costing['gross_amount'] ?>"
									)
										option(value="0" selected) 0
										!="<?php build_options( $product['minGuest'], $_hasSupplement ) ?>"
							div.form-group
								label.control-label.col-sm-5 ROOM/CABIN OCCUPANCY
								div.col-sm-7
									p.form-control-static
										strong.hidden-xs!=":"
										!=" "
										!="<?=$product['supplement_avail_name'] ?>"
							!="<?php if ( intval($product['minGuest']) > 1 && $_hasSupplement ): ?>"
							div.form-group.supplement-container
								label.control-label.col-sm-5 SUPPLEMENTS
								div.col-sm-7
									p.form-control-static
										span.hidden-xs!=":"
										!=" "
										|<?php build_supplements( $key, $multi_sup ) ?>
							!="<?php endif; ?>"
							div.form-group
								label.control-label.col-sm-5
									|PRICE/PERSON
								div.col-sm-7
									p.form-control-static
										strong
											span.hidden-xs!=":"
											!=" "
											span.fa.fa-usd
											span!="<?=number_format($sup_costing['gross_amount'], 2) ?>"
					td.hidden-md.hidden-lg.hidden-sm
						div.panel.panel-default
							div.panel-heading.text-center
								h6.panel-title!="<?=$product['supplement_avail_name'] ?>"
							div.panel-body.text-center
								div.item-wrapper
									span.fa.fa-usd.currency
									span.price!="<?=number_format($sup_costing['gross_amount']) ?>"
									|<?php if ( intval($product['minGuest']) > 1 && $_hasSupplement ) :?>
									span.supplement
										|<?php build_supplements( $key, $multi_sup ) ?>
									|<?php endif ?>
							div.panle-footer.text-center
								select.form-control(
									data-selection
									data-minguest!="<?=$product['minGuest'] ?>"
									data-price!="<?=$sup_costing['gross_amount'] ?>"
								)
									option(value="0" selected) 0
									!="<?php build_options( $product['minGuest'], $_hasSupplement ) ?>"
					//- END OF MOBILE
				!="<?php endforeach ?>"
			tfoot
				tr
					td.hidden-xs.hidden-sm.text-center
						h6.text-default
							span.fa.fa-user
							!=" "
							span(data-passengers="0") 0
					td.hidden-xs.hidden-sm(colspan="2")
						h6.text-default
							span.pull-right TOTAL:
					td.hidden-xs.hidden-sm.text-right
						h6.text-default
							span.fa.fa-usd
							span(data-subtotal="0") 0.00
					//- MOBILE
					td.hidden-md.hidden-lg
						div.form-horizontal
							div.form-group
								label.control-label.col-xs-5 Passengers
								div.col-xs-7
									p.form-control-static
										strong!=": "
										strong(data-passengers="0") 0
							div.form-group
								label.control-label.col-xs-5 TOTAL
								div.col-xs-7
									p.form-control-static
										strong
											!=": "
											span.fa.fa-usd
											span(data-subtotal="0") 0.00
					//- End of Mobile
	//- FLIGHT
	div.clearfix
	<?php if(isset($_POST['phoneDetails'])&&!empty($_POST['phoneDetails'])): ?>
	div.alert.alert-info <?=$_POST['phoneDetails']?>
	<?php endif; ?>
	div.clearfix
	h5#fligth-option.text-default
		|Add flights to your holiday.
		!=" "
		//- div.btn-group(data-toggle="buttons")
			label.btn.btn-default(for="include-flight-yes")
				input#include-flight-yes(type="radio" name="hasFlight" value="true")
				strong Yes
			label.btn.btn-default.active(for="include-flight-no")
				input#include-flight-no(type="radio" name="hasFlight" value="false" checked="checked")
				strong No
		div.btn-group(data-toggle="buttons")
			label.btn.btn-default(for="include-flight-yes")
				input#include-flight-yes(type="radio" name="includesFlight" value="true")
				strong Yes
			label.btn.btn-default.active(for="include-flight-no")
				input#include-flight-no(type="radio" name="includesFlight" value="false" checked="checked")
				strong No
	div#flight-details.collapse
		div.page-header
			h6
				span.fa.fa-plane
				!=" "
				|Flight Details
				a.pull-right.cursor-pointer(airline-used)
					| Airline used
					span.hidden-xs!=" - subject to availability"
		form
			div.col-sm-6
				div.form-group
					label(for="flight-city") Departure City
					div.input-group.input
						select.form-control#flight-city(name="city")
							option(value="Sydney" selected) Sydney
							option(value="Melbourne") Melbourne
							option(value="Brisbane") Brisbane
							option(value="Adelaide") Adelaide
							option(value="Perth") Perth
						span.input-group-addon
							span.fa.fa-map-marker
			div.col-sm-6
				div.form-group
					label(for="flight-class") Preferred Class
					input.form-control#flight-class(readonly type="text" name="class" value="Economy")
			div.clearfix
			div.col-sm-6
				div.form-group
					label(for="flight-departure-date") Departure Date
					div.input-group
						input.form-control#flight-departure-date(type="text" name="departure" value!="<?=date('d/m/Y', strtotime($TOUR['SELECTED_DATE'] . ' -3 day'))?>")
						span.input-group-addon
							label(for="flight-departure-date")
								span.fa.fa-calendar
			div.col-sm-6
				div.form-group
					label(for="flight-return") Return Date
					div.input-group
						input.form-control#flight-return(type="text" name="return" value!="<?=date('d/m/Y', strtotime($TOUR['END_DATE'] . ' +1 day'))?>")
						span.input-group-addon
							label(for="flight-return")
								span.fa.fa-calendar
			div.clearfix
			div.col-sm-6
				div.form-group
					label(for="flight-passengers") Passengers
					div.input-group
						span.input-group-addon
							label(for="flight-passengers")
								span.fa.fa-users
						input.form-control#flight-passengers(type="text" name="pax" value="0" readonly)
			div.col-sm-6
				div.form-group
					label(for="flight-price") Price
					div.input-group
						span.input-group-addon
							label(for="flight-price")
								span.fa.fa-usd
						input.form-control#flight-price(type="text" name="displayPrice" value="0.00" readonly)
						input.sr-only(type="text" name="price" value="0")
						input.sr-only(type="text" name="perPerson" value="0")
			div.clearfix
			div.col-sm-12
				input(type="checkbox" name="hasReadTems" value="true")
				!=" "
				strong
					|I have read the 
					// a(href="http://ifly.net.au/terms-and-conditions" target="_blank") terms and conditions
					a(href="https://www.europeholidays.com.au/air-terms-and-conditions" target="_blank") terms and conditions
					!=" of the flight."
	//- END OF FLIGHT
	//- br
	//- //- PROMO
	//- div.col-md-offset-4.col-md-4#promo-code
	//- 	div.form-group.text-center
	//- 		label
	//- 			!="Get a discount by PROMO CODE "
	//- 			span.fa.fa-hand-o-down.text-primary.hands
	//- 		input.form-control(type="text")
	//- 	div.form-group
	//- 		small NOTE: Promo Code and associated discounts apply to either the land or the flight product only.
	//- //- END OF PROMO
	div.clearfix
	hr
	div.page-header.text-center#total-booking-price
		h2.text-danger.original-price
			span.fa.fa-usd
			span#overall-total(data-total="0") 0.00
		small Over all total of the product you selected
	//- BUTTONS
	div.clearfix
	div.text-center#coupon-container
		| Got a promo code? 
		a.cursor-pointer(coupon-button) Click here 
		| to get a DISCOUNT
	div.clearfix
	hr
	div.text-center
		button.btn.btn-lg.btn-primary#checkout-items
			strong.hidden-xs!="Checkout "
			span.fa.fa-shopping-cart
			small.hidden-sm.hidden-md.hidden-lg
				br
				| Checkout
		br
		br
		a.cursor-pointer(back-to-list)
			span!="Change Tour Date Schedule"
		//- button.btn.btn-lg.btn-info.pull-right#preview-items
		//- 	span.hidden-xs Preview
		//- 	!=" "
		//- 	span.fa.fa-eye
	//- END OF BUTTONS