style
	|#payment-method-credit-card > div > div.col-sm-8 > div > div:nth-child(4) > div > div > div:nth-child(1):after{
	|  content: '/';
	|  position: absolute;
	|  top: 6px;
	|  right: 0;
	|}
!="<?php $IS_AGENT = filter_var($_POST['IS_AGENT'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_DISCOUNTED = filter_var($_POST['isDiscounted'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $HAS_FLIGHT = filter_var($_POST['hasFlight'], FILTER_VALIDATE_BOOLEAN) ?>"

!="<?php $discount = @$_POST['discounted'] ?>"
!="<?php $flight = @$_POST['flight'] ?>"

!="<?php $item_container = $_POST['items']; ?>"
!="<?php $package_container = $_POST['packages']; ?>"
!="<?php $extrabill_container = $_POST['extrabill']; ?>"
!="<?php $supplement_container = array(); ?>"

!="<?php $totalCheckout = ($IS_DISCOUNTED) ? $discount['prices']['total'] : $_POST['total'] ?>"
|<?php $CUSTOM_SETTINGS=TZ_custom_agent_func($this->nativesession->get('agencyRealCode'))?>
|<?php $booking_ref_num=TZ_agency_code_map($this->session->userdata('agencycode')) .'-'. get_next_id('booking');?>
!="<?php $GLOBALS['CUSTOM_SETTINGS']=$CUSTOM_SETTINGS?>"
!="<?php $GLOBALS['booking_ref_num']=$booking_ref_num?>"
!="<?php $GLOBALS['IS_AGENT']=$IS_AGENT?>"
!="<?php $GLOBALS['IS_DISCOUNTED']=$IS_DISCOUNTED?>"
!="<?php $GLOBALS['HAS_FLIGHT']=$HAS_FLIGHT?>"
!="<?php $GLOBALS['discount']=$discount?>"
!="<?php $GLOBALS['flight']=$flight?>"
!="<?php $GLOBALS['item_container']=$item_container?>"
!="<?php $GLOBALS['package_container']=$package_container?>"
!="<?php $GLOBALS['extrabill_container']=$extrabill_container?>"
!="<?php $GLOBALS['supplement_container']=$supplement_container?>"
!="<?php $GLOBALS['totalCheckout']=$totalCheckout?>"
//- <script>console.log(<?=json_encode($CUSTOM_SETTINGS)?>);console.log('<?=$CUSTOM_SETTINGS['PAYMENT_METHOD']['CREDIT_CARD']['INFO']?>')</script>
//- |<?php function _payment_menu($order=array('CREDIT_CARD','PAYPAL','BANK_DEPOSIT')) {?>
|<?php function _payment_menu($order=array('CREDIT_CARD','BANK_DEPOSIT')) {?>
|<?php $items=array(
|'CREDIT_CARD'=>'
li(role="presentation").active
	a(href="#payment-method-credit-card" aria-controls="payment-method-credit-card" role="tab" data-toggle="tab")
		span.fa.fa-credit-card
		span.hidden-xs!=" Credit Card"
		small.hidden-sm.hidden-md.hidden-lg
			br
			|Credit Card
|',
|'PAYPAL'=>'
li(role="presentation")
	a(href="#payment-method-paypal" aria-controls="payment-method-paypal" role="tab" data-toggle="tab")
		span.fa.fa-cc-paypal
		span.hidden-xs!="  PayPal"
		small.hidden-sm.hidden-md.hidden-lg
			br
			|PayPal
|',
|'E-NETT'=>'
li(role="presentation")
	a(href="#payment-method-enett" aria-controls="payment-method-enett" role="tab" data-toggle="tab")
		span.fa.fa-credit-card-alt
		span.hidden-xs!="  E-Nett"
		small.hidden-sm.hidden-md.hidden-lg
			br
			|E-Nett
|',
|'BANK_DEPOSIT'=>'
li(role="presentation")
	a(href="#payment-method-bank-deposit" aria-controls="payment-method-bank-deposit" role="tab" data-toggle="tab")
		span.fa.fa-credit-card-alt
		span.hidden-xs!="  Bank Deposit"
		small.hidden-sm.hidden-md.hidden-lg
			br
			|Bank Deposit
|',
|);?>
|<?php foreach($order as $item) :?>
|<?=$items[$item]?>
|<?php endforeach; ?>
|<?php } ?>
|<?php ?>

!="<?php function _credit_card(){ ?>"
|<?php global $booking_ref_num; ?>
!="<?php global $CUSTOM_SETTINGS;?>"
!="<?php global $item_container;?>"
!="<?php global $package_container;?>"
!="<?php global $extrabill_container;?>"
!="<?php global $supplement_container;?>"
!="<?php global $IS_AGENT;?>"
!="<?php global $IS_DISCOUNTED;?>"
!="<?php global $HAS_FLIGHT;?>"
!="<?php global $discount;?>"
!="<?php global $flight;?>"
div.tab-pane(role="tabpanel").active#payment-method-credit-card
	div.row
		//- div.bs-callout.bs-callout-primary
			p.text-justify
				!="<?php if(isset($CUSTOM_SETTINGS['PAYMENT_METHOD']['CREDIT_CARD']['INFO'])) :?>"
				!="<?php echo $CUSTOM_SETTINGS['PAYMENT_METHOD']['CREDIT_CARD']['INFO']?>"
				!="<?php else :?>"
				|A 1.8% fee will apply for payments with MasterCard and VISA Credit and Debit cards and 3.8% for American Express and Diners. You can also select the Direct Deposit payment method to benefit from no processing fees.
				!="<?php endif; ?>"
		br
		//- .col-xs-12
			img(src="https://www.payway.com.au/en/payway/images/visa2.gif", alt="Visa")
			|  
			img(src="https://www.payway.com.au/en/payway/images/mastercard.gif", alt="MasterCard")
			|  
			img(src="https://www.payway.com.au/en/payway/images/amex.gif", alt="American Express")
			|  
			img(src="https://www.payway.com.au/en/payway/images/jcb.gif", alt="JCB")
			|  
			img(src="https://www.payway.com.au/en/payway/images/diners.gif", alt="Diners Club")
			br
			br
			|Surcharges apply
			div.form-horizontal.col-xs-12
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-4(style="text-align: left;font-weight:normal;") Visa / Mastercard
					.col-xs-8
						p(style="padding:0px;min-height:0px;").form-control-static 1.5%
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-4(style="text-align: left;font-weight:normal;") American Express / JCB	
					.col-xs-8
						p(style="padding:0px;min-height:0px;").form-control-static 1.5%
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-4(style="text-align: left;font-weight:normal;") Diners Club
					.col-xs-8
						p(style="padding:0px;min-height:0px;").form-control-static 3.5%
		.clearfix
		//- br
		//- br
		//- form#payment-method-credit-card-data
			div.col-sm-6
				div.form-group
					label(for="payment-method-credit-card-booking-ref") Booking Referrence Number:
					input.form-control#payment-method-credit-card-booking-ref(type="text" name="booking_ref_num" value!="<?=$booking_ref_num?>" readonly)
			div.col-sm-6
				div.form-group
					label(for="payment-method-credit-card-name") Card Holder Name
					input.form-control#payment-method-credit-card-name(type="text" name="nm_card_holder")
			div.col-sm-6
				div.form-group
					label(for="payment-method-credit-card-number") Card number
					input.form-control#payment-method-credit-card-number(type="text" name="no_credit_card")
			div.col-sm-6
				div.form-group
					label(for="payment-method-credit-verification-number") Card verification number
					input.form-control#payment-method-credit-verification-number(type="text" name="no_cvn")
					a(href="#").help-block More Information
			div.col-sm-6
				div.form-group
					label Expiry Date
					div.row
						div.col-xs-6
							select.form-control(name="dt_expiry_month")
								option(value="") -- Month --
								!="<?php for($m=1; $m<=12; ++$m): ?>"
								option(value!="<?=($m < 10)?'0' . $m: $m?>")!="<?=date('F', mktime(0, 0, 0, $m, 1))?>"
								!="<?php endfor; ?>"
						div.col-xs-6
							select.form-control(name="dt_expiry_year")
								option(value="") -- Year --
								!="<?php $startDate = date('y', strtotime('now')); ?>"
								!="<?php foreach (range(intval($startDate), intval($startDate) + 10) as $key => $value) : ?>"
								option(value!="<?=$value?>")!="<?=$value?>"
								!="<?php endforeach; ?>"
			div.col-sm-6
				div.form-group
					label(for="payment-method-credit-payment-amount") Payment Amount (AUD)
					input.form-control#payment-method-credit-payment-amount(type="text" name="payment_amount" value!="<?=$_POST['total']?>" readonly)
		.clearfix
		//- .row
		.col-sm-8
			h5 Enter Payment Details
			form#payment-method-credit-card-data.form-horizontal
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Booking Reference Number:
					.col-xs-6
						input(type="text" name="booking_ref_num" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;" value!="<?=$booking_ref_num?>" readonly).form-control
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Card Holder Name:
					.col-xs-6
						input(type="text" name="nm_card_holder" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Card Number:
					.col-xs-6
						input(type="text" name="no_credit_card" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Expiry Date:
					.col-xs-6
						.row
							.col-xs-4
								input(type="text" name="dt_expiry_month" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
							.col-xs-4
								input(type="text" name="dt_expiry_year" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
							.col-xs-4(style="padding-left:0px;")
								p.form-control-static(style="height:30px;") e.g. 02/20
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Card verification number:
					.col-xs-6
						.row
							.col-xs-5
								input(type="text" name="no_cvn" style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
							.col-xs-7
								p.form-control-static(style="height:30px;")
									a(href="#") More Information
				.form-group(style="margin-bottom:5px;")
					label.control-label.col-xs-6(style="text-align:left;font-weight:normal;")
						span.text-success *
						|Payment Amount (AUD):
					.col-xs-6
						|<?php if ( $IS_DISCOUNTED ) :?>
						input(type="text" name="payment_amount" value!="<?=$_POST['discounted']['prices']['total']?>" readonly style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
						|<?php else :?>
						input(type="text" name="payment_amount" value!="<?=$_POST['total']?>" readonly style="border:1px solid #9c9c9c !important; height:30px; line-height:30px;").form-control
						|<?php endif; ?>
		.col-sm-4
			.hidden-xs
				br
				br
				br
			img(src="https://www.payway.com.au/en/payway/images/visa2.gif", alt="Visa")
			|  
			img(src="https://www.payway.com.au/en/payway/images/mastercard.gif", alt="MasterCard")
			|  
			img(src="https://www.payway.com.au/en/payway/images/amex.gif", alt="American Express")
			|  
			img(src="https://www.payway.com.au/en/payway/images/jcb.gif", alt="JCB")
			|  
			img(src="https://www.payway.com.au/en/payway/images/diners.gif", alt="Diners Club")
			br
			br
			|Surcharges apply
			div.form-horizontal.col-xs-12
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-8(style="text-align: left;font-weight:normal;") Visa / Mastercard
					.col-xs-4
						p(style="padding:0px;min-height:0px;").form-control-static 1.5%
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-8(style="text-align: left;font-weight:normal;") American Express / JCB	
					.col-xs-4
						p(style="padding:0px;min-height:0px;").form-control-static 1.5%
				.form-group(style="margin-bottom:0px;")
					label.control-label.col-xs-8(style="text-align: left;font-weight:normal;") Diners Club
					.col-xs-4
						p(style="padding:0px;min-height:0px;").form-control-static 3.5%
		.clearfix
		.col-xs-12
			h5 Merchant Details
			div.form-horizontal
				.form-group(style="margin-bottom:0px;")
					label(for="" style="text-align:left; font-weight:normal;").col-sm-3.control-label Merchant Name:
					.col-sm-9
						p.form-control-static EASTERN EUROTOURS
				.form-group(style="margin-bottom:0px;")
					label(for="" style="text-align:left; font-weight:normal;").col-sm-3.control-label ABN:
					.col-sm-9
						p.form-control-static 74071920360
				.form-group(style="margin-bottom:0px;")
					label(for="" style="text-align:left; font-weight:normal;").col-sm-3.control-label Address:
					.col-sm-9
						p.form-control-static
							|1/66 Appel Street
							|Surfers Paradise
							|QLD 4217
				.form-group(style="margin-bottom:0px;")
					label(for="" style="text-align:left; font-weight:normal;").col-sm-3.control-label Email Address:
					.col-sm-9
						p.form-control-static 0755262855
				.form-group(style="margin-bottom:0px;")
					label(for="" style="text-align:left; font-weight:normal;").col-sm-3.control-label Fax:
					.col-sm-9
						p.form-control-static 0755262944
		.col-xs-12.text-center
			img(src="https://www.payway.com.au/images/logo-westpac.png", alt="Westpac")
			img(src="https://www.payway.com.au/en/payway/images/VeriSignTrusted.gif", alt="Verisign SSL")
!="<?php } ?>"


!="<?php function _paypal() {?>"
!="<?php global $CUSTOM_SETTINGS;?>"
!="<?php global $item_container;?>"
!="<?php global $package_container;?>"
!="<?php global $extrabill_container;?>"
!="<?php global $supplement_container;?>"
!="<?php global $IS_AGENT;?>"
!="<?php global $IS_DISCOUNTED;?>"
!="<?php global $HAS_FLIGHT;?>"
!="<?php global $discount;?>"
!="<?php global $flight;?>"
!="<?php global $totalCheckout;?>"
div.tab-pane(role="tabpanel")#payment-method-paypal
	br
	br
	img.img-responsive(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2000px-PayPal.svg.png" alt="PayPal")
	form#payment-method-paypal-data.sr-only
		!="<?php foreach ( $item_container['items'] as $key => $item ) :?>"
		input(type="hidden" name!="item[<?=$key?>][name]" value!="<?=$item['name']?> X<?=$item['quantity']?>")
		input(type="hidden" name!="item[<?=$key?>][quantity]" value!="<?=$item['quantity']?>")
		input(type="hidden" name!="item[<?=$key?>][price]" value!="<?=$item['price']?>")

		!="<?php if ( isset($item['supplement']) ) :?>"
		!="<?php $supplement = $item['supplement'] ?>"
		!="<?php $supplement['quantity'] = intval($supplement['quantity']) ?>"
		!="<?php if ( ! isset( $supplement_container[ $supplement['key'] ] ) ) :?>"
		!="<?php $supplement_container[ $supplement['key'] ] = $supplement ?>"
		!="<?php else :?>"
		!="<?php $supplement_container[ $supplement['key'] ]['quantity'] += intval($supplement['quantity']) ?>"
		!="<?php endif; ?>"
		!="<?php endif; ?>"
		!="<?php endforeach; ?>"

		!="<?php if ( ! empty( $supplement_container ) ) :?>"
		!="<?php foreach ( $supplement_container as $key => $item ) :?>"
		input(type="hidden" name!="supplement[<?=$key?>][name]" value!="<?=$item['name']?> X<?=$item['quantity']?>")
		input(type="hidden" name!="supplement[<?=$key?>][quantity]" value!="<?=$item['quantity']?>")
		input(type="hidden" name!="supplement[<?=$key?>][price]" value!="<?=$item['price']?>")
		!="<?php endforeach; ?>"
		!="<?php endif; ?>"

		!="<?php if ( isset($package_container['items']) ) :?>"
		!="<?php foreach ( $package_container['items'] as $key => $item ) :?>"
		input(type="hidden" name!="package[<?=$key?>][name]" value!="<?=$item['name']?> X<?=$item['quantity']?>")
		input(type="hidden" name!="package[<?=$key?>][quantity]" value!="<?=$item['quantity']?>")
		input(type="hidden" name!="package[<?=$key?>][price]" value!="<?=$item['price']?>")
		!="<?php endforeach; ?>"
		!="<?php endif; ?>"

		!="<?php if ( isset($extrabill_container['items']) ) :?>"
		!="<?php foreach ( $extrabill_container['items'] as $key => $item ) :?>"
		input(type="hidden" name!="extrabill[<?=$key?>][name]" value!="<?=$item['name']?> X<?=$item['quantity']?>")
		input(type="hidden" name!="extrabill[<?=$key?>][quantity]" value!="<?=$item['quantity']?>")
		input(type="hidden" name!="extrabill[<?=$key?>][price]" value!="<?=$item['price']?>")
		!="<?php endforeach; ?>"
		!="<?php endif; ?>"

		!="<?php if ($HAS_FLIGHT) :?>"
		input(type="hidden" name="departure[0][name]" value!="Return Flight Price X<?=$flight['quantity']?>")
		input(type="hidden" name="departure[0][quantity]" value!="<?=$flight['quantity']?>")
		input(type="hidden" name="departure[0][price]" value!="<?=$flight['price']?>")
		!="<?php endif; ?>"

		!="<?php if ( $IS_DISCOUNTED ) :?>"
		input(type="hidden" name="discount[0][name]" value="Discount")
		input(type="hidden" name="discount[0][quantity]" value="1")
		input(type="hidden" name="discount[0][price]" value!="-<?=$discount['difference']['total']?>")
		!="<?php endif; ?>"
		input(type="hidden" name="amount" value!="<?=$totalCheckout?>")
!="<?php } ?>"

!="<?php function _enett() {?>"
!="<?php global $CUSTOM_SETTINGS;?>"
!="<?php global $item_container;?>"
!="<?php global $package_container;?>"
!="<?php global $extrabill_container;?>"
!="<?php global $supplement_container;?>"
!="<?php global $IS_AGENT;?>"
!="<?php global $IS_DISCOUNTED;?>"
!="<?php global $HAS_FLIGHT;?>"
!="<?php global $discount;?>"
!="<?php global $flight;?>"
!="<?php global $totalCheckout;?>"
div.tab-pane(role="tabpanel")#payment-method-enett
	div.row
		div.sr-only.alert.alert-danger(error-container data-type="e-nett")
		br
		form#payment-method-enett-data
			//- div.form-group.col-sm-offset-4.col-sm-4
				label(for="date") Consultant Name
				input.form-control.text-center#date(type="text" name="consultant_name")
			//- div.form-group.col-sm-offset-4.col-sm-4
				label(for="date") Agent ID
				input.form-control.text-center#date(type="text" name="agent_id")
			div.form-group.col-sm-offset-4.col-sm-4
				label(for="date") Consultant Name
				input.form-control.text-center#date(type="text" name="consultant_name")
			div.form-group.col-sm-offset-4.col-sm-4
				label(for="date") Agent ID
				input.form-control.text-center#date(type="text" name="agent_id")
			//- div.form-group.col-sm-offset-4.col-sm-4
				label(for="date") Date
				input.form-control.text-center#date(readonly type="text" name="payment_date" value!="<?=date('d/m/Y', strtotime('now'))?>")
			//- div.form-group.col-sm-offset-4.col-sm-4
			//- 	label(for="recreipt-ref") Reference
			//- 	input.form-control.text-center#recreipt-ref(readonly type="text" name="reference" value!="<?=unique_transaction_id()?>")
			//- div.form-group.col-sm-offset-4.col-sm-4
			//- 	label(for="recreipt-amount") Amount
			//- 	input.form-control.text-center#recreipt-amount(readonly type="text" name="amount" value!="$<?=$totalCheckout?>")
			//- 	input.form-control.text-center(readonly type="hidden" name="payment_amount" value!="<?=$totalCheckout?>")
!="<?php } ?>"

!="<?php function _back_deposit() {?>"
!="<?php global $CUSTOM_SETTINGS;?>"
!="<?php global $item_container;?>"
!="<?php global $package_container;?>"
!="<?php global $extrabill_container;?>"
!="<?php global $supplement_container;?>"
!="<?php global $IS_AGENT;?>"
!="<?php global $IS_DISCOUNTED;?>"
!="<?php global $HAS_FLIGHT;?>"
!="<?php global $discount;?>"
!="<?php global $flight;?>"
!="<?php $default=array('NAME'=>'Europe Holidays Client ACC','ACCN'=>'034-215','SWIFT'=>'462080'); ?>"
!="<?php $data=$default; ?>"
!="<?php if (isset($CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['NAME'])) {$data['NAME']=$CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['NAME'];} ?>"
!="<?php if (isset($CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['ACCN'])) {$data['ACCN']=$CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['ACCN'];} ?>"
!="<?php if (isset($CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['SWIFT'])) {$data['SWIFT']=$CUSTOM_SETTINGS['PAYMENT_METHOD']['BANK_DEPOSIT']['SWIFT'];} ?>"
div.tab-pane(role="tabpanel")#payment-method-bank-deposit
	div.row
		div.bs-callout.bs-callout-primary
			p.text-justify Payments can be made by bank transfer into the account below. Please fax our office (07 55262944) or e-mail us a copy of your payment. Pricing is subject to change until full payment has been made.
		form.form-horizontal#payment-method-bank-deposit-data
			div.form-group
				label.control-label.col-sm-3 Name
				div.col-sm-9
					p.form-control-static!="<?=$data['NAME']?>"
			div.form-group
				label.control-label.col-sm-3 BSB
				div.col-sm-9
					p.form-control-static!="<?=$data['ACCN']?>"
			div.form-group
				label.control-label.col-sm-3 Account number
				div.col-sm-9
					p.form-control-static!="<?=$data['SWIFT']?>"
!="<?php } ?>"








div.col-sm-12.col-md-8.row#content
	form#checkout-passengers(novalidate)
		div.page-header.main-header.gradient.gradient-left
			h5 Passengers
		div.sr-only.alert.alert-danger(error-container data-type="passenger")
		!="<?php foreach( range(1, intval($item_container['passengers'])) as $key => $index ) :?>"
		div.col-sm-6.passenger
			h6.text-center.title
				| Guest
				!=" <?=$index?>"
			div.form-group.col-sm-6.first-name
				label(for!="passenger-first-name-<?=$index?>") First name
				div.input-group
					div.input-group-btn
						select(name!="passengers[<?=$key?>][title]" data-imitate!="<?=($index == 1) ? 'title' : ''?>")
							option(value="") Title
							option(value="Mr") Mr.
							option(value="Ms") Ms.
							option(value="Mrs") Mrs.
					input.form-control(type="text" id!="passenger-first-name-<?=$index?>" name!="passengers[<?=$key?>][firstname]" data-imitate!="<?=($index == 1) ? 'firstname' : ''?>")
			div.form-group.col-sm-6.last-name
				label(for="passenger-last-name") Last name
				input.form-control(type="text" id!="passenger-last-name-<?=$index?>" name!="passengers[<?=$key?>][lastname]" data-imitate!="<?=($index == 1) ? 'lastname' : ''?>")
		!="<?php endforeach; ?>"
	div.clearfix
	form#checkout-voucher(novalidate)
		div.page-header.gradient.gradient-left
			h5 Voucher
		div.sr-only.alert.alert-danger(error-container data-type="voucher")
		div.row
			div.form-group.col-sm-6
				label(for="voucher-first-name") First name
				div.input-group
					div.input-group-btn
						select(name!="title")
							option(value="") Title
							option(value="Mr") Mr.
							option(value="Ms") Ms.
							option(value="Mrs") Mrs.
					input.form-control#voucher-first-name(type="text" name="firstname")
			div.form-group.col-sm-6
				label(for="voucher-last-name") Last name
				input.form-control#voucher-last-name(type="text" name="lastname")
			div.form-group.col-sm-6
				label(for="voucher-email-address") Email Address
				input.form-control#voucher-email-address(type="text" name="email")
			div.form-group.col-sm-6
				label(for="voucher-phone-number") Phone number
				input.form-control#voucher-phone-number(type="text" name="phonenum")
	div.clearfix
	div#payment-methods.clearfix
		div.page-header.payment-header.gradient.gradient-left
			h5 Payment Methods
		div.sr-only.alert.alert-danger(error-container data-type="payment")
		div.payment-container.clearfix
			ul.nav.nav-tabs.nav-justified(role="tablist")
				|<?php
				//- |$agent_order=array('CREDIT_CARD','PAYPAL','E-NETT');
				//- |$client_order=array('CREDIT_CARD','PAYPAL','BANK_DEPOSIT');
				|$agent_order=array('CREDIT_CARD','E-NETT');
				|$client_order=array('CREDIT_CARD','BANK_DEPOSIT');
				|if(isset($CUSTOM_SETTINGS['PAYMENT_METHOD'])) {
				|	$methodOption=$CUSTOM_SETTINGS['PAYMENT_METHOD'];
				|	if(isset($methodOption['AGENT']))
				|		$agent_order=$methodOption['AGENT'];
				|	if(isset($methodOption['CLIENT']))
				|		$client_order=$methodOption['CLIENT'];
				|}
				|$payment_order=($IS_AGENT?$agent_order:$client_order);
				|_payment_menu($payment_order);
				|?>
			!="<?php if ( $IS_AGENT ): ?>"
			label.btn.btn-primary.btn-sm#pay-later-container(title="Pay later" for="pay-later" style="margin:10px;")
				input.sr-only#pay-later(type="checkbox")
				strong
					| Pay Later? 
					!=" "
					span.fa.fa-square-o
			div.clearfix
			!="<?php endif; ?>"
			div.tab-content
				|<?php
				|	foreach($payment_order as $item){
				|		switch($item){
				|			case 'CREDIT_CARD':
				|				_credit_card();
				|				break;
				|			case 'PAYPAL':
				|				_paypal();
				|				break;
				|			case 'E-NETT':
				|				_enett();
				|				break;
				|			case 'BANK_DEPOSIT':
				|				_back_deposit();
				|				break;
				|		}
				|	}
				|?>
	div.clearfix
	br
	br
	br
	div.cancellation-policy
		label
			input#checkout-policy(type="checkbox")
			!=" "
			strong
				| I have read the 
				a(target="_blank" href="http://selectmarketingprojects.net.au/easterneurotours/index.php/terms-and-conditions")
					| terms and conditions
	hr
	div#action-buttons
		div.hidden-xs.hidden-sm
			div.pull-left
				a.cursor-pointer#checkout-cancel(type="button") Change Tour Date Schedule
				br
				a.cursor-pointer(checkout-selections) Change Tour Classification
			button.btn.btn-primary.pull-right.btn-danger.btn-lg(proceed-booking type="button")
						strong!=" Book Now"
						!=" "
						span.fa.fa-thumbs-up
		div.hidden-md.hidden-lg
			a.cursor-pointer.pull-left(checkout-selections type="button")
				span Change Selections
			button.btn.btn-danger.btn-lg.btn-success.pull-right(proceed-booking type="button")
				strong!="Book Now "
				span.fa.fa-paper-plane

div.col-md-4.hidden-xs.hidden-sm.pull-right.sticky-side-bar
	div.sidebar-container.row.side-bar-content#sidebar
		div.panel.panel-primary
			div.panel-heading.text-center
				strong Product Info
			div.panel-body
				div.tour-info
					!="<?php $tour = $_POST['tour'] ?>"
					div.form-horizontal
						div.form-group
							label.control-label.text-left.col-sm-7 Tour Start
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									!="<?=date('F d, Y', strtotime($tour['start']))?>"
						div.form-group
							label.control-label.text-left.col-sm-7 Tour End
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									!="<?=date('F d, Y', strtotime($tour['end']))?>"
						div.form-group
							label.control-label.text-left.col-sm-7 Duration
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									!="<?=$tour['duration']?> <?=(intval($tour['duration']) > 1)?'days': 'day'?>"
				div.item-list
					div.page-header.text-center
						h6.text-uppercase.gradient.gradient-bottom Room/Cabin Occupancy
					div.form-horizontal
						!="<?php foreach( $item_container['items'] as $item ) :?>"
						!="<?php $hasSupplement = isset($item['supplement']) ?>"
						!="<?php $supplement = @$item['supplement']; ?>"
						!="<?php if ( $hasSupplement ) { $item['subtotal'] = (float)$item['subtotal'] - (float)$supplement['subtotal']; } ?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$item['name']?> X<?=$item['quantity']?>"
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									span.fa.fa-usd
									span!="<?=number_format($item['subtotal'], 2)?>"
						!="<?php if( $hasSupplement ) :?>"
						div.form-group.supplement
							label.control-label.text-left.col-sm-7
								span.fa.fa-check.text-success
								!=" "
								!="<?=$supplement['name']?> X<?=$supplement['quantity']?>"
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									span.fa.fa-usd
									span!="<?=number_format($supplement['subtotal'], 2)?>"
						!="<?php endif; ?>"
						!="<?php endforeach; ?>"
				!="<?php if ( isset($package_container['items']) ) :?>"
				!="<?php $packages = $package_container['items'] ?>"
				div.prockage-list
					div.page-header.text-center
						h6.text-uppercase.gradient.gradient-bottom Packages
					div.form-horizontal
						!="<?php foreach( $packages as $package ) :?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$package['name']?> X<?=$package['quantity']?>"
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									span.fa.fa-usd
									span!="<?=number_format($package['subtotal'], 2)?>"
						!="<?php endforeach; ?>"
				!="<?php endif; ?>"

				!="<?php if ( isset($extrabill_container['items']) ) :?>"
				!="<?php $extrabills = $extrabill_container['items'] ?>"
				div.extrabill-list
					div.page-header.text-center
						h6.text-uppercase.gradient.gradient-bottom Extra Bills
					div.form-horizontal
						!="<?php foreach( $extrabills as $extrabill ) :?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$extrabill['name']?> X<?=$extrabill['quantity']?>"
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									span.fa.fa-usd
									span!="<?=number_format($extrabill['subtotal'], 2)?>"
						!="<?php endforeach; ?>"
				!="<?php endif; ?>"
				!="<?php if ( $HAS_FLIGHT ) :?>"
				br
				!="<?php $isForFlight = ( (is_array($discount['category']) && in_array('flight', $discount['category'])) || ( is_string( $discount['category'] ) && $discount['category'] == 'flight') ) ? TRUE : FALSE ?>"
				!="<?php if ( $IS_DISCOUNTED && $isForFlight ) :?>"
				!="<?php $perPerson = round((float)$discount['prices']['flight'] / intval($flight['quantity'])) ?>"
				div.flight-wrapper.form-horizontal
					div.form-group
						label.control-label.text-left.col-sm-7
							| Flight return price
							br
							small.text-line-through!="($<?=number_format($flight['price'], 2)?>)"
							br
							small!="(<?=$flight['quantity']?> X $<?=number_format($perPerson, 2)?>)"
						div.col-sm-5
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								span!="<?=number_format($discount['prices']['flight'], 2)?>"
				!="<?php else :?>"
				div.flight-wrapper.form-horizontal
					div.form-group
						label.control-label.text-left.col-sm-7
							| Flight return price
							br
							small!="(<?=$flight['quantity']?> X $<?=number_format($flight['price'], 2)?>)"
						div.col-sm-5
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								span!="<?=number_format($flight['subtotal'], 2)?>"
				!="<?php endif; ?>"
				!="<?php endif; ?>"
				br
				!="<?php if ( $IS_DISCOUNTED ) :?>"
				div.alert.alert-info
					strong
						!="<?=$_POST['discounted']['message']?>"
				!="<?php endif; ?>"
			div.panel-footer
				div.page-header.text-right
					!="<?php if ( $IS_DISCOUNTED&&$_POST['discounted']['prices']['total']!= $_POST['total']) :?>"
					h5.text-default.text-line-through
						span.fa.fa-usd
						!="<?=number_format($_POST['total'], 2)?>"
					h4.text-danger
						span.fa.fa-usd
						!="<?=number_format($_POST['discounted']['prices']['total'], 2)?>"
					!="<?php else :?>"
					h4.text-danger
						span.fa.fa-usd
						!="<?=number_format($_POST['total'], 2)?>"
					!="<?php endif; ?>"
					small total price
