!="<?php $tour = $_POST['tour'] ?>"
!="<?php $HAS_FLIGHT = filter_var($_POST['hasFlight'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_DISCOUNTED = filter_var($_POST['isDiscounted'], FILTER_VALIDATE_BOOLEAN) ?>"

!="<?php $flight = @$_POST['flight'] ?>"
!="<?php $discounted = @$_POST['discounted'] ?>"

!="<?php $titles = array('items' => 'Room/Cabin Occupancy', 'packages' => 'Packages', 'extrabill' => 'Extra Bills' ) ?>"
div.clearfix
	div.page-header
		h6 Tour Information
	div.form-horizontal
		div.form-group
			label.control-label.col-xs-6.text-left Tour Start
			div.col-xs-6
				p.form-control-static
					strong!=": <?=date('F d, Y', strtotime($tour['start']))?>"
		div.form-group
			label.control-label.col-xs-6.text-left Tour End
			div.col-xs-6
				p.form-control-static
					strong!=": <?=date('F d, Y', strtotime($tour['end']))?>"
		div.form-group
			label.control-label.col-xs-6.text-left Duration in Days
			div.col-xs-6
				p.form-control-static
					strong!=": <?=$tour['duration']?>"
	!="<?php foreach ( $titles as $index => $title ) :?>"
	!="<?php if ( ! isset($_POST[ $index ]['items']) ) continue; ?>"
	!="<?php $items = $_POST[ $index ]['items'] ?>"
	div.page-header
		h6!="<?=$title?>"
	div.form-horizontal
		!="<?php foreach ( $items as $item ) :?>"
		!="<?php $hasSupplement = ( isset($item['supplement']) ) ?>"
		!="<?php $supplement = @$item['supplement'] ?>"
		!="<?php if ( $hasSupplement ) { $item['subtotal'] = (float)$item['subtotal'] - (float)$supplement['subtotal']; } ?>"
		div.form-group
			label.control-label.col-xs-6.text-left!="<?=$item['name']?> X<?=$item['quantity']?>"
			div.col-xs-6
				p.form-control-static
					strong!=": "
					strong
						span.fa.fa-usd
						!="<?=number_format($item['subtotal'], 2)?>"
		!="<?php if ( $hasSupplement ) :?>"
		div.form-group
			label.control-label.col-xs-6.text-left
				span.fa.fa-check.text-success
				!=" "
				!="<?=$supplement['name']?> X<?=$supplement['quantity']?>"
			div.col-xs-6
				p.form-control-static
					strong!=": "
					strong
						span.fa.fa-usd
						!="<?=number_format($supplement['subtotal'], 2)?>"
		!="<?php endif ?>"
		!="<?php endforeach ?>"
	!="<?php endforeach ?>"

	!="<?php if ( $HAS_FLIGHT ) :?>"
	div.page-header
		h6 Fligth Information
	div.form-horizontal
		div.form-group
			label.control-label.col-xs-6.text-left City
			div.col-xs-6
				p.form-control-static
					strong!=": "
					!="<?=$flight['city'] ?>"
		div.form-group
			label.control-label.col-xs-6.text-left Class
			div.col-xs-6
				p.form-control-static
					strong!=": "
					!="<?=$flight['class'] ?>"
		div.form-group
			label.control-label.col-xs-6.text-left Departure Date
			div.col-xs-6
				p.form-control-static
					strong!=": "
					!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['departure']))) ?>"
		div.form-group
			label.control-label.col-xs-6.text-left Return Date
			div.col-xs-6
				p.form-control-static
					strong!=": "
					!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['return']))) ?>"
		div.form-group
			label.control-label.col-xs-6.text-left Passengers
			div.col-xs-6
				p.form-control-static
					strong!=": "
					!="<?=$flight['quantity']?>"
		!="<?php if ( $IS_DISCOUNTED ) $flight['subtotal'] = $flight['subtotal'] - (float)$discounted['difference']['flight']; ?>"
		div.form-group
			label.control-label.col-xs-6.text-left Price
			div.col-xs-6
				p.form-control-static
					strong!=": "
					span.fa.fa-usd
					!="<?=number_format($flight['subtotal'], 2)?>"
	!="<?php endif ?>"
	div.page-header.text-right.over-all-total
		h4.text-danger
			span.fa.fa-usd
			!="<?=number_format($IS_DISCOUNTED ? $discounted['prices']['total'] : $_POST['total'], 2) ?>"
		small Total tour price