!="<?php $discounted = filter_var($_POST['isDiscounted'], FILTER_VALIDATE_BOOLEAN)?>"
!="<?php if( $discounted &&  $_POST['total']!=$_POST['discounted']['prices']['total']) :?>"
!="<?php $discountPrice = $_POST['discounted']?>"
h3.text-default.before.text-line-through
	span.fa.fa-usd
	span!="<?=number_format($_POST['total'], 2)?>"
h2.text-danger.original-price.gradient-bottom
	span.fa.fa-usd
	span!="<?=number_format($_POST['discounted']['prices']['total'], 2)?>"
!="<?php else :?>"
h2.text-danger.original-price.gradient-bottom
	span.fa.fa-usd
	span!="<?=number_format($_POST['total'], 2)?>"
!="<?php endif; ?>"
strong
	small Over all total of your Tour
	!="<?php if( $discounted ) :?>"
	br
	small!="<?=$_POST['discounted']['message'] ?>"
	!="<?php endif; ?>"
