!="<?php $tour = $_POST['tour'] ?>"
!="<?php $passengers = $_POST['passengers'] ?>"
!="<?php $voucher = $_POST['voucher'] ?>"
!="<?php $items = $_POST['items'] ?>"
!="<?php $costings = $_POST['final_costing'] ?>"
!="<?php $discount = @$_POST['_discounted_data'] ?>"

!="<?php $flight = @$_POST['flight'] ?>"

!="<?php $HAS_FLIGHT = filter_var($_POST['includeFlight'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_DISCOUNTED = filter_var($_POST['isDiscounted'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_PAYABLE = filter_var($_POST['isPayable'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_AGENT = filter_var($_POST['IS_AGENT'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $IS_ITEMONLY = filter_var(@$_GET['itemsOnly'], FILTER_VALIDATE_BOOLEAN) ?>"

!="<?php function build_product ( $title, $items ) { ?>"
div.page-header
	h6.text-capitalize!="<?=$title?>"
div.form-horizontal
	!="<?php foreach( $items as $product ) :?>"
	!="<?php $hasSupplement = isset( $product['supplement'] ) ?>"
	!="<?php $supplement = @$product['supplement'] ?>"
	!="<?php if ( $hasSupplement ) { $product['subtotal'] = (float)$product['subtotal'] - (float)$supplement['subtotal']; } ?>"
	div.form-group
		label.control-label.text-left.col-xs-6!="<?=$product['name'] . ' X' . $product['quantity'] ?>"
		div.col-xs-6
			p.form-control-static
				strong!=": "
				span.fa.fa-usd
				!="<?=number_format($product['subtotal'], 2) ?>"
	!="<?php if ( $hasSupplement ) :?>"
	div.form-group
		label.control-label.text-left.col-xs-6
			span.fa.fa-check.text-success
			!=" "
			!="<?=$supplement['name'] . ' X' . $supplement['quantity'] ?>"
		div.col-xs-6
			p.form-control-static
				strong!=": "
				span.fa.fa-usd
				!="<?=number_format($supplement['subtotal'], 2) ?>"
	!="<?php endif ?>"
	!="<?php endforeach; ?>"
!="<?php } ?>"
div.row
		div.col-xs-12
			div.col-xs-12
				//- TOUR
				div.page-header
					h6 Tour Details
				div.form-horizontal
					div.form-group
						label.control-label.text-left.col-xs-6
							span.fa.fa-calendar.text-danger
							!=" "
							| Start Date
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=date('F d, Y', strtotime($tour['start']))?>"
					div.form-group
						label.control-label.text-left.col-xs-6
							span.fa.fa-calendar.text-danger
							!=" "
							| End Date
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=date('F d, Y', strtotime($tour['end']))?>"
					div.form-group
						label.control-label.text-left.col-xs-6
							span.fa.fa-clock-o.text-danger
							!=" "
							| Duration
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=$tour['duration']?> <?=(intval($tour['duration']) > 1)?'days':'day'?>"

				//- END OF TOUR
				!="<?php $titles = array('extrabills' => 'Extra Bills', 'packages' => 'Packages', 'products' => 'Room/Cabin Occupancy') ?>"
				!="<?php $sequence = array('products', 'packages', 'extrabills') ?>"
				!="<?php foreach( $sequence as $index ) :?>"
				!="<?php if( ! isset( $items[ $index ] ) ) continue;  ?>"
				!="<?php build_product($titles[ $index ], $items[ $index ]) ?>"
				!="<?php endforeach ?>"

				!="<?php if ( $HAS_FLIGHT ) :?>"
				div.clearfix
				//- FLIGHT
				div.page-header
					h6 Flight Information
				div.form-horizontal
					div.form-group
						label.control-label.text-left.col-xs-6 City
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=$flight['city']?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Preferred Class
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=$flight['class']?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Departure Date
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['departure'])))?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Return Date
						div.col-xs-6
							p.form-control-static
								strong!=": "
								!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['return'])))?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Passengers
						div.col-xs-6
							p.form-control-static
								strong.hiddex-xs!=": "
								strong!="<?=$flight['quantity']?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Price
						div.col-xs-6
							p.form-control-static
								strong!=": "
								span.fa.fa-usd
								strong
									!="<?php if ( $IS_DISCOUNTED ) :?>"
									!="<?=number_format(((float)$flight['subtotal'] - (float)$flight['discount']), 2)?>"
									!="<?php else :?>"
									!="<?=number_format($flight['subtotal'], 2)?>"
									!="<?php endif ?>"
				!="<?php endif; ?>"
				!="<?php if ($IS_AGENT) :?>"
				div.page-header
					h6 Agency Information
				div.form-horizontal
					div.form-group
						label.control-label.text-left.col-xs-6 Gross Amount
						div.col-xs-6
							p.form-control-static
								strong!=": "
								span.fa.fa-usd
								strong!="<?=number_format($costings['gross_amount'], 2)?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Commission Amount
						div.col-xs-6
							p.form-control-static
								strong!=": "
								span.fa.fa-usd
								strong!="<?=number_format($costings['commission'], 2)?>"
					div.form-group
						label.control-label.text-left.col-xs-6 Total Nett Amount
						div.col-xs-6
							p.form-control-static
								strong!=": "
								span.fa.fa-usd
								strong!="<?=number_format($costings['due_amount'], 2)?>"
				!="<?php endif; ?>"
		div.clearfix
		!="<?php if ($IS_DISCOUNTED) :?>"
		br
		div.col-xs-12
			div.alert.alert-info.no-margin-bottom
				!="<?=$discount['message']?>"
		!="<?php endif; ?>"
		div.clearfix
		div.page-header.over-all-total.text-center
			!="<?php if ($IS_DISCOUNTED&&$discount['difference']['total']!=0) :?>"
			h5.text-default.text-line-through
				span.fa.fa-usd
				!="<?=number_format($_POST['total'] + $discount['difference']['total'], 2)?>"
			!="<?php endif ?>"
			h3.text-danger.no-margin-top
				span.fa.fa-usd
				!="<?=number_format($_POST['total'], 2)?>"
			small.text-center Total of your booking

