tr
	td.hidden-xs.hidden-sm.text-center
		h6.text-default
			span.fa.fa-user
			!=" "
			span(data-passengers="0") 0
	td.hidden-xs.hidden-sm(colspan="2")
		h6.text-default
			span.pull-right TOTAL:
	td.hidden-xs.hidden-sm.text-right
		h6.text-default
			span.fa.fa-usd
			span(data-subtotal="0") 0.00
	//- MOBILE
	td.hidden-md.hidden-lg
		div.form-horizontal
			div.form-group
				label.control-label.col-sm-4 Passengers
				div.col-sm-8
					p.form-control-static
						span.hidden-xs :
						!=" "
						strong(data-passengers="0") 0
			div.form-group
				label.control-label.col-sm-4 TOTAL
				div.col-sm-8
					p.form-control-static
						strong
							span.hidden-xs :
							!=" "
							span.fa.fa-usd
							span(data-subtotal="0") 0.00