@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

.tour-product {
	.tour-item {
		cursor: pointer;
		border-radius: 0px;

		@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
		@include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1));

		&:hover {
			@include box-shadow(0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
		}
		&.active {
			.tour-selected {
				display: block;
				position: absolute;
				height: 100%;
				width: 100%;
				font-size: 6em;
				background-color: rgba(255, 255, 255, 0.5);

				span {
					position: absolute;
					top: 50%;

					@include transform(translate(-50%, -50%));
				}
			}
		}
		.tour-selected {
			display: none;
		}
		.form-group {
			&.no-margin-bottom { margin-bottom: 0px; }
			label { margin-bottom: 0px; }
			p {
				padding: {
					top: 0px;
					bottom: 0px;
				};
			}
		}
		.page-header {
			margin: 0px;
			margin-bottom: 15px;
			font-family: "Open Sans", sans-serif;
			color: #f44336;
			border-bottom: 3px solid #f44336;

			.price-currency {
				font-size: 2rem;
				vertical-align: top;
				margin-top: 20px;
				display: inline-block;
			}
			.price-value {
				font-size: 5.5rem;
			}
			.price-duration {
				display: block;
				font-weight: normal;
			}
		}
	}
}

/*================================
=            Packages            =
================================*/

#packages-container {
	.form-group {
		label { line-height: 2.5; text-align: left; }
		input { height: 34px; font-weight: bold; }
	}
}

/*=====  End of Packages  ======*/


/*==============================
=            Static            =
==============================*/

.cursor-pointer { cursor: pointer; }
.text-default { color: #262626; }
.supplement-label {
	text-decoration: line-through;
	.fa-check { display: none; }

	&.active {
		text-decoration: none;
		.fa-check { display: inline-block; }
	}
}
.sr-only {
	position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0 !important;
}

/*=====  End of Static  ======*/


/*==================================
=            Adjustment            =
==================================*/
.input-group {
	&.input {
		select { height: 40px !important;}
	}
	.input-group-addon {
		label { margin-bottom: 0px; }
		&.input {
			padding: 0px;
			border: none;

			input { width: 50px; }
		}
	}
}
.form-control {
	border-radius: 0px;
	border: 3px solid #d4d4d4 !important;

	&:focus {
		border-color: #66afe9 !important;
		@include box-shadow( none );
	}
}
.ui-datepicker .ui-datepicker-calendar .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active {
	background-color: #0091ea !important;
	color: #FFF !important;
}

/*============================
=            Tabs            =
============================*/

.nav-tabs {
	li {
		&  > a {
			border: none;
			border-radius: 0px !important;

			padding: {
				top: 15px;
				bottom: 15px;
			};
		}
		&.active {
			border-bottom: 3px solid;
			font-weight: bold;
			
			& > a { border: none !important; }
		}
	}
}

/*=====  End of Tabs  ======*/


/*=====  End of Adjustment  ======*/


/*=============================
=            MODAL            =
=============================*/

.review-modal {
	.text-left { text-align: left; }
	.form-group {
		margin-bottom: 0px;

		label { padding-top: 10px; }

		&.supplement { top: -10px; position: relative; }
		&.total {
			font-size: 1.3em;
			border-top: 3px dashed #CCC;
			margin: {
				left: 0px;
				right: 0px;
			};
		}
	}
	.over-all-total {
		border-top: 3px dashed #CCC;
	}
	.page-header:not(.over-all-total) {
		border-bottom-color: #cccccc;
		margin: {
			top: 20px;
			bottom: 10px;
		};

		& > * {
			margin-bottom: 0px;
		}
	}
}

/*=====  End of MODAL  ======*/

/*========================================
=            Fill Information            =
========================================*/

#product-fill-information {
	#content {
		.form-group {
			margin-bottom: 10px;

			&.first-name, &.last-name {
				padding: {
					left: 0px;
					right: 0px;
				}
			}
			&.last-name { padding-left: 5px; }
			.input-group {
				select { padding: 2px; border: 3px solid #CCC; border-right: none; }
			}
		}
		.passenger {
			padding: 5px;
			border: 2px dashed #CCC;

			.title {
				&:after {
					content: "";
					height: 1px;
					background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
					display: block;
					margin-bottom: 5px;
					margin-top: 5px;
				}
			}
			.form-group { margin-bottom: 0px; }
		}
	}
	#sidebar {
		.panel {
			border: 3px solid #CCC;
			border-radius: 0px;
			margin-top: 15px;
			
			.panel-heading {
				border-radius: 0px;
				border: none;
				font-size: 1.4em;
			}
			.panel-body {
				label.text-left { text-align: left; }
				.form-group {
					margin-bottom: 0px;

					&.supplement {
						position: relative;
						top: -10px;
					}
				}
			}

			.panel-footer {
				padding-bottom: 0px;
				border-top: 3px dashed #CCC;

				.page-header {
					margin: 0px;

					& > * { margin: 0px; }
				}
				button {
					border-radius: 0px;
					border: none;
					border-top: 3px solid #CCC;
				}
			}
		}
	}
}

/*=====  End of Fill Information  ======*/

/*=====================================
=            Shopping Cart            =
=====================================*/

#shopping-cart-button {
	height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    right: 60px;
    background: transparent;
    border: 3px solid;

    .fa-shopping-cart {
    	font-size: 2em;
    	margin-left: -2px;
    }
    .label {
    	position: relative;
    	top: 10px;
    	right: 5px;
    }
}
#shopping-cart {
	.dropdown-menu {
		width: 250px;

		li {
			display: block;

			&:not(.divider):not(.dropdown-header) {
				padding: {
					left: 0px;
					right: 0px;
				}
			}
			&:hover { background: transparent; }
			&.divider { margin: 5px 0; }
			& > a {
				line-height: 1.42857143;
				font-weight: 400;
				padding: {
					left: 5px;
					right: 5px;
				}
			}
			&.flight-block {
				a { padding: 0px; }
			}
		}
	}
	.total {
		a { padding: 0px; }
		h6 { margin: 0px; }
	}
	span.label {
		position: absolute;
		bottom: 5px;
		right: 20px;
	}
	.fa-shopping-cart {
		@include transition( all 0.3s ease);

		font-size: 2em;
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
        border-radius: 50%;
        border: 3px solid;

        &::before {
        	position: relative;
        	top: 8px;
        }
	}
}

/*=====  End of Shopping Cart  ======*/
