/*===============================
=            IMPORTS            =
===============================*/

@import "compass/css3/transition";
@import "compass/css3/transform";

/*=====  End of IMPORTS  ======*/


/*==============================
=            GLOBAL            =
==============================*/

@import url(//fonts.googleapis.com/css?family=Raleway:500,700,800);
.text-left { text-align: left !important; }
.input-group-addon.select { padding: 0px; border: none; }
.input-group-addon.select > select { padding: 3px; }

/*=====  End of GLOBAL  ======*/


/*===================================
=            Book Button            =
===================================*/

.CD-btn {
	border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    @include transition( all 0.3s );

	&:after {
		content           : '';
		position          : absolute;
		z-index           : -1;
		@include transition( all 0.3s );
	}
}

.btn-3 {
	position  : relative;
	background: #fcad26;
	color     : #fff;

	&:hover { background: #f29e0d; }
	&:active { background: #f58500; top: 2px; }
	&:before { position: absolute; height: 100%; left: 0; top: 0; line-height: 3.5; font-size: 140%; width: 60px; }
}

.btn-3e {
	padding: 25px 120px 25px 60px;
	overflow: hidden;

	&:before { left: auto; right: 10px; z-index: 2; font-family: FontAwesome; content: "\f164"; }
	&:after {
		width     : 30%;
		height    : 200%;
		background: rgba(255,255,255,0.1);
		z-index   : 1;
		right     : 0;
		top       : 0;
		margin    : -5px 0 0 -5px;
		@include transform-origin( 0, 0, 0 );
		@include transform( rotate(-20deg) );
	}
	&:hover:after { width: 40%; }
}

/*=====  End of Book Button  ======*/

.hotel-checkout {
	font-family: 'Raleway', Arial, sans-serif;
	input, select { font-family: Arial; }	
	/* CONTENT */
	.content {
		padding-bottom: 15px;

		.form-group .input-group-addon.select > select { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
		.first-name { padding: 0px; }
		.last-name { padding-right: 0px; }
		& > div > .wrapper { padding-top: 15px; padding-bottom: 15px; }
		& > div > form > .page-header, & > div > .page-header { margin: 0px; border-bottom-width: 5px; padding: 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
		& > div > form > .page-header > *, & > div > .page-header > * { margin: 0px; }
		.passenger > .page-header { margin: 0px; margin-bottom: 10px; padding: 0px; }
	}

	.side-bar {
		.header {
			border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-bottom: 0px;
			.page-header {
				margin: 0px;
				border-bottom: none;
				padding: 0px;
				& > * { margin: 0px; }
			}
		}

		.body { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom: none; border-top: none; margin-bottom: 0px; }
		.footer { border-top-right-radius: 0px; border-top-left-radius: 0px; border-top-style: dashed; border-top-width: 2px; }
	}
}


/*=============================
=            THEME            =
=============================*/

.hotel-checkout {
	.content {
		& > div > form > .page-header, & > div > .page-header { background-color: #CFD8DC; }
	}
}

/*=====  End of THEME  ======*/