@import "compass/css3/transition";
@import "compass/css3/box-shadow";

$theme_header_color: #004aab;
$theme_text_color: #616161;
$theme_background_color: #ffe600;

/* HEADER */
#header-page a { color: $theme_text_color; }

li.adjust-anchor.ui-state-default.ui-corner-top i.awe-icon {
    color: #FFF;
}
.header-page__inner{
  background-color: $theme_background_color !important;
}
.header-page__inner .container{
  background-color: $theme_background_color !important;
}
.awe-navigation .menu-list li:hover, .awe-navigation .menu-list li .sub-menu li:hover {
  
  background-color: #999999;
}

.awe-navigation .menu-list {
	li {
		@include transition(all 0.3s ease);

		.sub-menu {
			position        : absolute;
			width           : 210px;
			list-style      : none;
			padding         : 0;
			top             : 110%;
			left            : 0;
			background-color: #ffe600;
			text-align      : left;
			opacity         : 0;
			visibility      : hidden;
			
			@include transition(all 0.3s ease);
			li { background-color: $theme_background_color; }
		}
	}
}

/*============================
=            Tabs            =
============================*/

.nav-tabs {
	li {
		&  > a { color: $theme_header_color !important; }
		&.active { border-bottom-color: $theme_header_color !important; }
	}
}

/*=====  End of Tabs  ======*/

/*============================
=            TAGs            =
============================*/

h1, h2, h3, h4, h5, h6 { color: $theme_header_color; }

/*=====  End of TAGs  ======*/
#shopping-cart-button {
	color: $theme_header_color;
}
#shopping-cart {
	&:hover, &.open {
		background: transparent;

		.fa-shopping-cart {
			color: $theme_header_color;
			@include transition( all 0.3s ease);
		}
	}
}
