section
	div.container
		div.product-header
			div.page-header
				h4!="<?=$product['productName'];?>"
				p
					strong!="<?=$product['productFromAddress'];?>"
			!="<?php if( ! empty( $product['productSumarryDescription'] ) ) :?>"
			p.summary-description!="<?=$product['productSumarryDescription'] ?>"
			!="<?php endif; ?>"
	
		//- Products
		div.products-content
			//- Content Navigation
			div.content-navigation
				//- Navigation
				ul.nav.nav-tabs.nav-justified(role="tablist")#flow-navigation.sr-only
					li(role="presentation").active
						a(href="#product-list" aria-controls="product-list" role="tab" data-toggle="tab") Product List
					li(role="presentation")
						a(href="#product-item-selection" aria-controls="product-item-selection" role="tab" data-toggle="tab") Product Selection
					li(role="presentation")
						a(href="#product-fill-information" aria-controls="product-fill-information" role="tab" data-toggle="tab") Fill Information
				//- end of Navigation

				//- tab Content
				div.tab-content
					div.tab-pane(role="tabpanel").fade.in.active#product-list
						ul.nav.nav-tabs.nav-justified(role="tablist")#list-navigation
							//- li.hidden-xs.hidden-sm(role="presentation").active
							li(role="presentation").active
								a(href="#product-calendar-view" aria-controls="product-calendar-view" role="tab" data-toggle="tab")
									span.fa.fa-calendar
									span.hidden-xs!=" Calendar"
									small.hidden-sm.hidden-md.hidden-lg
										br
										| Calendar
							li(role="presentation")
								a(href="#product-list-view" aria-controls="product-list-view" role="tab" data-toggle="tab")
									span.fa.fa-list
									span.hidden-xs!=" List"
									small.hidden-sm.hidden-md.hidden-lg
										br
										| List
							li(role="presentation")
								a(href="#product-compact-view" aria-controls="product-compact-view" role="tab" data-toggle="tab")
									span.fa.fa-th-large
									span.hidden-xs!=" Compact"
									small.hidden-sm.hidden-md.hidden-lg
										br
										| Compact
						div.tab-content
							//- div.hidden-xs.hidden-sm.tab-pane(role="tabpanel")#product-calendar-view.active
							div.tab-pane(role="tabpanel")#product-calendar-view.active
								br
								div.alert.alert-info
									| Select your tour date to continue with your booking
								div(calendar-container)
							div.tab-pane(role="tabpanel")#product-list-view
								table.table.table-bordered
									thead.hidden-xs
										tr
											th.text-uppercase Tour Start
											th.text-uppercase Tour End
											th.text-uppercase Duration
											th
									tbody
										!="<?php foreach($product['productAvailabilityFinal'] as $key => $productItems): ?>"
										tr
											td.hidden-sm.hidden-md.hidden-lg
												div.form-horizontal
													div.form-group
														label.control-label.text-left.col-xs-4 Tour Start
														div.col-xs-8
															p.form-control-static
																strong!=": "
																!="<?=$productItems['fromDayText']; ?>"
													div.form-group
														label.control-label.text-left.col-xs-4 Tour Ends
														div.col-xs-8
															p.form-control-static
																strong!=": "
																!="<?=$productItems['toDayText']; ?>"
													div.form-group
														label.control-label.text-left.col-xs-4 Duration
														div.col-xs-8
															p.form-control-static
																strong!=": "
																!="<?=$productItems['duration']?> <?=($productItems['duration'] > 1) ? 'days' : 'day'; ?>"
													div
														button.btn.btn-danger.btn-block.text-uppercase(data-product-button data-start!="<?=date('m-d-Y', strtotime($productItems['fromDayText'])) ?>" data-end!="<?=date('m-d-Y', strtotime($productItems['toDayText'])) ?>" data-key!="<?=$key ?>")
															strong select
											td.hidden-xs!="<?=$productItems['fromDayText']; ?>"
											td.hidden-xs!="<?=$productItems['toDayText']; ?>"
											td.hidden-xs!="<?=$productItems['duration']?> <?=($productItems['duration'] > 1) ? 'days' : 'day'; ?>"
											td.hidden-xs
												button.text-uppercase.btn.btn-danger.btn-block(data-product-button data-start!="<?=date('m-d-Y', strtotime($productItems['fromDayText'])) ?>" data-end!="<?=date('m-d-Y', strtotime($productItems['toDayText'])) ?>" data-key!="<?=$key ?>")
													strong select
										!="<?php endforeach; ?>"
							div.tab-pane(role="tabpanel")#product-compact-view
								!="<?php foreach($product['productAvailabilityFinal'] as $key => $productItems): ?>"
								div.col-sm-6.col-md-3.tour-product
									div.tour-item.text-center.row(data-product-button data-start!="<?=date('m-d-Y', strtotime($productItems['fromDayText'])) ?>" data-end!="<?=date('m-d-Y', strtotime($productItems['toDayText'])) ?>" data-key!="<?=$key ?>")
										div.tour-selected
											span.fa.fa-check-circle.text-success
										div.page-header
											span.price-currency.fa.fa-usd
											span.price-value!="<?=number_format($productItems['displayPrice']) ?>"
											span.price-duration
												|
												| Good for 
												strong!="<?=$productItems['duration'] ?> "
												!="<?=($productItems['duration'] > 1) ? 'days' : 'day'; ?>"
										div.form-group.no-margin-bottom
											label TOUR START
											p.form-control-static!="<?=$productItems['fromDayText']; ?>"
										div.form-group
											label TOUR END
											p.form-control-static!="<?=$productItems['toDayText']; ?>"
								!="<?php endforeach; ?>"
					div.tab-pane(role="tabpanel").fade#product-item-selection
						|Items of the products
					div.tab-pane(role="tabpanel").fade.clearfix#product-fill-information
						|Checkout form

				//- end of tab content

			//- end of content navigation
		//- End of product content
		div.clearfix
		div.product-details
			!="<?php $details = array('productDetailedDescription' => 'ITINERARY', 'productInclusionDescription' => 'INCLUSIONS', 'productExclusionDescription' => 'EXCLUSIONS', 'productConditionsDescription' => 'CONDITIONS') ?>"
			!="<?php foreach ( $details as $key => $detail ) :?>"
			!="<?php if ( empty($product[$key]) ) { continue; } ?>"
			div.page-header
				h6(role="button" data-toggle="collapse" href!="#collapse-<?=$detail?>" aria-expanded="true" aria-controls="collapseExample")
					!="<?=$detail?>"
					span.fa.fa-minus.pull-right
			div.collapse.in.col-xs-12(aria-expanded="true" id!="collapse-<?=$detail?>")
				p!="<?=$product[$key]?>"
			!="<?php endforeach ?>"