section#external-tours-review
	div.container
		div.page-header
			h2!="<?=$product['name']?>"
			a.btn.btn-primary(href!="<?=base_url() . $previous_link ?>")
				strong
					span.fa.fa-repeat
					!=" "
					|Return to products
			hr
			p!="<?=$message?>"

		.row
			div.col-md-8
				!="<?php if ( @$voucher ): ?>"
				//- script.
					console.log(<?=json_encode($voucher)?>);
				div.panel.panel-default
					div.panel-heading
						h4.panel-title
							span.fa.fa-user
							!=" "
							| Voucher Information
					div.panel-body
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-4.text-left Name
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=$voucher['firstname']?> <?=$voucher['lastname']?>"
							div.form-group
								label.control-label.col-sm-4.text-left Email Address
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=$voucher['email']?>"
							div.form-group
								label.control-label.col-sm-4.text-left Phone Number
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=$voucher['phonenum']?>"
				!="<?php endif ?>"

				div.panel.panel-default
					div.panel-heading
						h4.panel-title
							span.fa.fa-users
							!=" "
							|Passengers
					div.panel-body
						!="<?php $len = count($passengers); ?>"
						!="<?php $_passengers = array(); ?>"
						!="<?php array_push($_passengers, array_slice($passengers, ($len / 2))) ?>"
						!="<?php array_push($_passengers, array_slice($passengers, 0, ($len / 2))) ?>"
						!="<?php foreach ($_passengers as $newPassengers): ?>"
						div.col-md-6
							ul
								!="<?php foreach ($newPassengers as $passenger): ?>"
								li!="<?=$passenger['title']?>. <?=$passenger['firstname']?> <?=$passenger['lastname']?>"
								!="<?php endforeach ?>"
						!="<?php endforeach ?>"
				!="<?php if ( @$flight && ! empty( $flight ) ): ?>"
				//- script.
					console.log(<?=json_encode($flight)?>);
				div.panel.panel-default
					div.panel-heading
						h4.panel-title
							span.fa.fa-plane
							!=" "
							|Fligth Information
					div.panel-body
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-4.text-left City
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=$flight['city']?>"
							div.form-group
								label.control-label.col-sm-4.text-left Class
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=$flight['class']?>"
							div.form-group
								label.control-label.col-sm-4.text-left Departure Date
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=date('F d, Y', strtotime($flight['departureDate']));?>"
							div.form-group
								label.control-label.col-sm-4.text-left Return Date
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=date('F d, Y', strtotime($flight['returnDate']));?>"
							!="<?php if( $IS_DISCOUNTED ) { $flight['subtotal'] = (float)$flight['subtotal'] - (float)$flight['discount']; } ?>"
							div.form-group
								label.control-label.col-sm-4.text-left Price
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										span.fa.fa-usd
										!="<?=number_format($flight['subtotal'], 2);?>"
				!="<?php endif ?>"

				!="<?php if ( $IS_DISCOUNTED ) :?>"
				div.alert.alert-info
					p!="<?=$discount['details']['message'] ?>"
				!="<?php endif ?>"
				!="<?php if ( $IS_AGENT ) :?>"
				<?php $agentCosting=$costing ?>
				<?php $map=array('supplements','extrabills','packages') ?>
				<?php $mapCosting=array('gross_amount','commission','due_amount') ?>
				<?php $mapSupCosting=array('gross_amount'=>'grossAmt','commission'=>'commInAmount','due_amount'=>'totalDueAmt') ?>
				<?php foreach($map as $itemMap) :?>
				<?php if(!isset($items[$itemMap])) continue; ?>
				<?php foreach($items[$itemMap] as $_item) :?>
				<?php $_costingItem=array() ?>
				
				<?php if(isset($_item['supplement_costings'])) :?>
				<?php $_costingItem=$_item['supplement_costings']; ?>
				<?php foreach($mapSupCosting as $_key=>$_costingKey) :?>
				<?php $agentCosting[$_key]+=(float)$_costingItem[$_costingKey]; ?>
				<?php endforeach; ?>
				<?php else:?>
				<?php $_costingItem=$_item['costings'] ?>
				<?php foreach($mapCosting as $_costingKey) :?>
				<?php $agentCosting[$_costingKey]+=(float)$_costingItem[$_costingKey]; ?>
				<?php endforeach; ?>
				<?php endif; ?>

				<?php endforeach; ?>

				<?php endforeach; ?>
				div.panel.panel-default
					div.panel-heading
						h4.panel-title Agent Information
					div.panel-body
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-4.text-left Gross Amount
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										span.fa.fa-usd
										!="<?=number_format( $agentCosting['gross_amount'], 2)?>"
							div.form-group
								label.control-label.col-sm-4.text-left Commission Amount
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										span.fa.fa-usd
										!="<?=number_format( $agentCosting['commission'], 2)?>"
							div.form-group
								label.control-label.col-sm-4.text-left Total Nett Amount
								div.col-sm-8
									p.form-control-static
										strong.hidden-xs!=": "
										span.fa.fa-usd
										!="<?=number_format( $agentCosting['due_amount'], 2)?>"

				!="<?php endif ?>"


			div.col-md-4.sticky-side-bar
				div.panel.panel-default.side-bar-content
					div.panel-heading
						h4.panel-title.text-center.text-capitalize products summary
					div.panel.panel-body
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-5.text-left Tour Start
								div.col-sm-7
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=date('F d, Y', $startdate->sec)?>"
							div.form-group
								label.control-label.col-sm-5.text-left Tour End
								div.col-sm-7
									p.form-control-static
										strong.hidden-xs!=": "
										!="<?=date('F d, Y', $enddate->sec)?>"
							div.form-group
								label.control-label.col-sm-5.text-left Duration in Days
								div.col-sm-7
									p.form-control-static
										strong.hidden-xs!=": "
										strong!="<?=$duration?>"
						div.clearfix
						br
						div.product-details
							//- script.
								console.log('items',<?=json_encode($items)?>);
							!="<?php $titles = array('products' => 'Room/Cabin Occupancy', 'packages' => 'Packages', 'extrabills' => 'Extra Bills') ?>"
							!="<?php $sequence = array('products', 'packages', 'extrabills') ?>"

							!="<?php foreach ( $sequence as $index ) :?>"
							!="<?php if ( ! isset($items[ $index ]) ) continue; ?>"
							div.page-header
								h6.text-capitalize!="<?=$titles[ $index ]?>"
							div.form-horizontal
								!="<?php $products = $items[ $index ] ?>"
								!="<?php foreach ( $products as $_product ) :?>"
								!="<?php $hasSupplement = ( isset( $_product['supplement'] ) ) ?>"
								!="<?php $supplement = @$_product['supplement'] ?>"
								!="<?php if( $hasSupplement ) { $_product['subtotal'] = (float)$_product['subtotal'] - (float)$supplement['subtotal']; } ?>"
								div.form-group
									label.control-label.col-sm-7.text-left!="<?=$_product['name']?> X<?=$_product['quantity']?>"
									div.col-sm-5
										p.form-control-static.text-right
											strong.hidden-xs.pull-left!=": "
											span.fa.fa-usd
											!="<?=number_format($_product['subtotal'], 2)?>"
								!="<?php if( $hasSupplement ) :?>"
								div.form-group.supplement
									label.control-label.col-sm-7.text-left
										span.fa.fa-check.text-success
										!=" "
										!="<?=$supplement['name']?> X<?=$supplement['quantity']?>"
									div.col-sm-5
										p.form-control-static.text-right
											strong.hidden-xs.pull-left!=": "
											span.fa.fa-usd
											!="<?=number_format($supplement['subtotal'], 2)?>"
								!="<?php endif ?>"
								!="<?php endforeach ?>"
							!="<?php endforeach ?>"
					div.panel-footer.text-right
						h4.text-danger
							!=" "
							span.fa.fa-usd
							!="<?=number_format($total, 2)?>"
//- script console.log('product',<?=json_encode($product)?>);
//- script console.log('flight',<?=json_encode($flight)?>);
//- script console.log('items',<?=json_encode($items)?>);
//- script console.log('discount',<?=json_encode($discount)?>);
//- script console.log('payment',<?=json_encode($payment)?>);
script.
	window.dataLayer = window.dataLayer || [];
		dataLayer.push({
			'event': 'transaction',
			"ecommerce": {
				"purchase": {
					"actionField": {
						"id": '<?=$BOOKING_ID?>',
						'affiliation': 'Online Store',
						"revenue": '<?=$total?>',
						"tax": '0',
					},
					"products": [{
						"name": '<?=$product['name']?>',
						"id": '<?=$product['id']?>',
						"price": '<?=$total?>',
						"category": "Tour", // Could be Cruise, Tour, Isaldn Hopping etc.
						"variant": "<?=isset($product['SumarryDescription'])?preg_replace('/<b>|<h5(.*)>|<p(.*)>|<font(.*)>|<\/font>|<br \/>|<div(.*)>|<\/div>|<span(.*)>|<\/span>/',"",$product['SumarryDescription']):'';?>",
						"quantity": 1,
					}]
				}
			}
	});
//- script.
	dataLayer.push({
		'ecommerce': {
			'purchase': {
				'actionField': {
					//'id': "<?=isset($payment['reference'])?$payment['reference']:''?>",
					'id': <?=$BOOKING_ID?>,
					'revenue': <?=$total?>,
					'tax':<?=($PAYMENT_TYPE=='BANKDEPOSIT'||$PAYMENT_TYPE=='PAYLATER')?0:$payment['amount']?>,                              // Transaction amount
					'coupon': "<?=isset($discount['code'])?$discount['code']:'';?>"
				},
				'products': [{
					'name': "<?=$product['name']?>",
					'id': <?=$product['id']?>,
					'price': <?=$total?>,
					'category': "<?=@$product['FromCountry']?>",
					'variant': "<?=isset($product['SumarryDescription'])?preg_replace('/<font>|<\/font>|<br \/>/',"",$product['SumarryDescription']):'';?>",
					'quantity': <?=count($passengers);?>,
					'coupon': "<?=isset($discount['code'])?$discount['code']:'';?>"
				}]
			}
		}
	});
