/*======================================
=            EXTERNAL TOURS            =
======================================*/

.external-tours-review .panel-primary,
.external-tours-review .panel-danger
{
  border-color: #757272;
}
.external-tours-review .panel-primary > .panel-heading,
.external-tours-review .panel-danger > .panel-heading
{
  background-color: #414040;
  border-color: #757272;
}
.external-tours-review .panel-danger > .panel-heading
{
  color: #FFF;
}
.external-tours-review .panel-danger > .panel-body,
.external-tours-review .panel-danger > .panel-footer
{
  color: #5c5c5c;
}
.external-tours-review .panel-danger > .panel-footer
{
  border-top: 1px dashed #5c5c5c;
}

.external-tours-review .panel-danger > .panel-body,
.external-tours-review .panel-danger > .panel-footer
{
  background-color: #e9f4ff;
}

/*=====  End of EXTERNAL TOURS  ======*/

/**
 * BOOKING CLASS
 */
.woocommerce-billing-fields h3.header {
  border-bottom           : 4px solid #000;
  background-color        : #cacaca;
  color                   : #464656;
  padding-left            : 13px;
  border-top-right-radius : 5px;
  border-top-left-radius  : 5px;
}
.woocommerce-billing-fields h4.pax-header-adult {
  padding-left   : 10px;
  padding-top    : 9px;
  padding-bottom : 9px;
  color          : #000;
}
.woocommerce-billing-fields h4.pax-header-child {
  color          : #000;
  padding-left   : 10px; 
  margin-left    : 0px;
  padding-top    : 9px;
  padding-bottom : 9px;
}
.woocommerce-billing-fields textarea.special-offer {
  margin-top   : 0px;
  border-color : #000;
  width        : 90%;
  margin-left  : 30px;
}

div#booking-information div.booking-info {
  border           : 4px solid #000;
  background-color : #eee;
}

div#booking-information div.booking-info i.awe-icon-check {
  border: 1px solid #FFF;
}

div#booking-information div.booking-info .cart-added,
div#booking-information div.booking-info em,
div#booking-information div.booking-info .amount {
  color: #503e3e;
}

/*END OF BOOKING*/

#reviews .rating-info .write-review, .good-to-know-table tbody tr th p:before, .facilities-freebies-table tbody tr th p:before, .cart-footer .cart-submit .checkout, .cart-footer .cart-submit .update-cart:hover, .cart-footer .shipping-handling .check-shipping-rate .form-submit .button:hover, .cart-footer .cart-subtotal .coupon-code .button:hover, .checkout-page__content #payment .place-order input, .checkout-page__content #payment > .payment_methods li input[type="radio"]:checked ~ label:before, .checkout-page__content .coupon .form-row.form-row-last .button:hover, .checkout-page__sidebar ul li.current a, .page-sidebar .widget_latest_post ul li:hover:before, .page-sidebar .widget_rss ul li:hover:before, .page-sidebar .widget_meta ul li:hover:before, .page-sidebar .widget_pages ul li:hover:before, .page-sidebar .widget_nav_menu ul li:hover:before, .page-sidebar .widget_categories ul li:hover:before, .page-sidebar .widget_archive ul li:hover:before, .flight-popup-tabs .flight-popup__history .item .icon-active:after, .flight-popup .mfp-close, .page-top .list-link li.current a:after, .destination-list__content .destinations-item .item-media .item-cat ul li a:hover, .your-destinations .page__pagination .current, .your-destinations .page__pagination a:hover, .travelling-tabs__time .month .item.hover-active a:before, .travelling-tabs__time .season .item.hover-active a .awe-icon, .purpose-slider .item .awe-icon:after, .travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .contact-page__form form .form-actions input, .login-register-page__content form .form-actions input, #comments .comment-abs a:hover, #respond .form-actions input, .post-footer .cat-box .cat a:hover, .post-footer .tag-box .tag a:hover, .page__pagination .current, .page__pagination a:hover, .blog-heading-content h2, #footer-page .widget_contact_info .widget_background__half:after, .category-heading-content .find .form-actions input, .category-heading-content > h3, .trip-flight-hotel__table tbody tr:hover .item-price, .awe-masonry .awe-masonry__item .item-cat ul li a:hover, .destination-grid-content .more-destination:before, .awe-services__list li:hover .awe-icon-check, .awe-search-tabs__content .ui-tabs-panel .form-actions input, .awe-search-tabs .ui-tabs-nav:before, .awe-navigation-hamburger .toggle-menu-responsive:hover .item, .toggle-menu-responsive.toggle-active .item, .ui-datepicker .ui-datepicker-calendar .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active, .ui-datepicker .ui-datepicker-calendar tbody tr td a:hover, .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover, .price-slider .ui-slider-handle, .price-slider .ui-slider-range, mark, .mark, .body-dark .room-type-popup .calendar-body tbody .item-calendar.item-active, .body-dark .awe-btn.awe-btn-style3, .body-dark .awe-btn:focus, .body-dark .awe-btn:hover, #page-wrap.dark .booking-info, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-state-active, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-calendar tbody tr td a:hover, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover, #page-wrap.dark ~ .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover, #page-wrap.dark .travelling-tabs__time .season .item.hover-active a .awe-icon, #page-wrap.dark .login-register-page__content form:after, #page-wrap.dark #comments .comment-abs a:hover, #page-wrap.dark .post-footer .cat-box .cat a:hover, #page-wrap.dark .post-footer .tag-box .tag a:hover, #page-wrap.dark .tagcloud a:hover, #page-wrap.dark .page__pagination span.current, #page-wrap.dark .page__pagination span:hover, #page-wrap.dark .page__pagination a.current, #page-wrap.dark .page__pagination a:hover, #page-wrap.dark .checkout-page__sidebar ul li.current a, #page-wrap.dark .awe-search-tabs .ui-tabs-nav:before, #page-wrap.dark #header-page .header-page__inner, #page-wrap.dark #header-page, #page-wrap.dark .awe-btn:focus, #page-wrap.dark .awe-btn:hover, #page-wrap.dark .awe-btn.awe-btn-style3, .room-type-popup .calendar-body tbody .item-calendar.item-active, #reviews #add_review form .form-submit .submit, .awe-btn:focus, .awe-btn:hover, .tagcloud a:hover, .awe-btn.awe-btn-style3, .awe-color {
    background-color: #000;
}


/*CLEAR ALL*/
#page-wrap.dark .accordion .ui-state-active .ui-icon, #page-wrap.dark .accordion .ui-widget-content .ui-state-active .ui-icon, .page-sidebar .sidebar-title {
    border-top-color: #000;
}

/*BOOK NOW BUTTON*/
.flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover, .flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active, .body-dark .awe-btn:focus, .body-dark .awe-btn:hover, #page-wrap.dark .booking-info, #page-wrap.dark .page-top .list-link li.current a:before, #page-wrap.dark .travelling-tabs__time .month .item.hover-active a:before, #page-wrap.dark .awe-btn:focus, #page-wrap.dark .awe-btn:hover, #page-wrap.dark .travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .checkout-page__content #payment > .payment_methods li label:before, .checkout-page__sidebar ul li:hover:before, .flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item.map-active, .flight-popup-tabs .flight-popup__map-content .flight-popup__map-content-list .map-item:hover, .flight-popup-tabs .flight-popup__history .item:hover .icon-active, .page-top .list-link li.current a:before, .page-top .list-link li a:hover:before, .travelling-tabs__time .month .item a:before, .travelling-tabs__time .month .item:after, .travelling-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .awe-services__list li:hover .awe-icon-check, .awe-btn {
    border-color: #000;
}

/*BOXES*/
.flight-item:hover, .trip-item:hover, .attraction-item:hover, .hotel-item:hover, .destination-list__content .destinations-item:hover {
    box-shadow: 0 0 0 2px #000;
}

li.adjust-anchor.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active i.awe-icon {
    color: #000;
}
/*TABS on BOOK NOW BUTTON PAGE*/
#footer-page .widget_contact_info:before, #footer-page .widget_contact_info:after, .tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    border-bottom-color: #000;
}

li.adjust-anchor.ui-state-default.ui-corner-top i.awe-icon {
    color: #FFF;
}
.panel-themes{
	background-color: #000 !important;
}
.header-page__inner{
	background-color: #000 !important;
}
.header-page__inner .container{
	background-color: #000 !important;
}
.awe-navigation .menu-list li:hover {
  
  background: #000;
}
.awe-navigation .menu-list li .sub-menu {
  position: absolute;
  width: 210px;
  list-style: none;
  padding: 0;
  top: 110%;
  left: 0;
  background-color: #000;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.booking-info {
  border: 2px solid #000 !important;
}