section
	div.container
		div.page-header
			h4!="<?=$product['productName'];?>"
			p
				strong!="<?=$product['productFromAddress'];?>"
		!="<?php if( ! empty( $product['productSumarryDescription'] ) ) :?>"
		p!="<?=$product['productSumarryDescription'] ?>"
		!="<?php endif; ?>"
	
		//- Products
		div.products-content
			//- Content Navigation
			div.content-navigation
				//- Navigation
				ul.nav.nav-tabs.nav-justified(role="tablist")#flow-navigation
					li(role="presentation").active
						a(href="#product-list" aria-controls="product-list" role="tab" data-toggle="tab") Product List
					li(role="presentation")
						a(href="#product-item-selection" aria-controls="product-item-selection" role="tab" data-toggle="tab") Product Selection
					li(role="presentation")
						a(href="#product-fill-information" aria-controls="product-fill-information" role="tab" data-toggle="tab") Fill Information
				//- end of Navigation

				//- tab Content
				div.tab-content
					div.tab-pane(role="tabpanel").fade.in.active#product-list
						ul.nav.nav-tabs.nav-justified(role="tablist")#list-navigation
							li(role="presentation")
								a(href="#product-calendar-view" aria-controls="product-calendar-view" role="tab" data-toggle="tab")
									span.fa.fa-calendar
									|
									| Calendar
							li(role="presentation")
								a(href="#product-list-view" aria-controls="product-list-view" role="tab" data-toggle="tab")
									span.fa.fa-list
									|
									| List
							li(role="presentation").active
								a(href="#product-compact-view" aria-controls="product-compact-view" role="tab" data-toggle="tab")
									span.fa.fa-th-large
									|
									| Compact
						div.tab-content
							div.tab-pane(role="tabpanel")#product-calendar-view
								|Calendar View
							div.tab-pane(role="tabpanel")#product-list-view
								|List View
							div.tab-pane(role="tabpanel")#product-compact-view.active
								!="<?php foreach($product['productAvailabilityFinal'] as $key => $productItems): ?>"
								!="<?php $days = abs(date_difference( $productItems['fromDayText'], $productItems['toDayText'] )) ?>"
								div.col-sm-6.col-md-3.tour-product
									div.tour-item.text-center.row(data-product-button data-start!="<?=date('m-d-Y', strtotime($productItems['fromDayText'])) ?>" data-end!="<?=date('m-d-Y', strtotime($productItems['toDayText'])) ?>" data-key!="<?=$key ?>")
										div.tour-selected
											span.fa.fa-check-circle.text-success
										div.page-header
											span.price-currency.fa.fa-usd
											span.price-value!="<?=number_format($productItems['displayPrice']) ?>"
											span.price-duration
												|
												| Good for 
												strong!="<?=$days ?> "
												!="<?=($days > 1) ? 'days' : 'day'; ?>"
										div.form-group.no-margin-bottom
											label TOUR START
											p.form-control-static!="<?=$productItems['fromDayText']; ?>"
										div.form-group
											label TOUR END
											p.form-control-static!="<?=$productItems['toDayText']; ?>"
								!="<?php endforeach; ?>"
					div.tab-pane(role="tabpanel").fade#product-item-selection
						|Items of the products
					div.tab-pane(role="tabpanel").fade#product-fill-information
						|Checkout form

				//- end of tab content

			//- end of content navigation
		//- End of product content
		div.clearfix
		div
			div.page-header
				h6(role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample") ITINERARY
					span.fa.fa-minus.pull-right
			div.collapse.in.col-xs-12#collapseExample(aria-expanded="true")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit blanditiis ipsam repellendus sequi iusto dolore laudantium nostrum, eveniet, nobis debitis velit. Unde animi voluptates ratione earum rerum reprehenderit nobis quasi!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sequi pariatur aperiam. Iste aspernatur asperiores voluptates tenetur quaerat dolor, optio, itaque, magnam necessitatibus, fugit repellendus sequi autem similique! Totam, maiores!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint reprehenderit adipisci quibusdam unde laboriosam ipsa accusamus expedita vel excepturi iusto. Laborum, voluptas doloribus incidunt error vel temporibus molestias. Placeat, quod.