/*===============================
=            IMPORTS            =
===============================*/
/*=====  End of IMPORTS  ======*/
/*==============================
=            GLOBAL            =
==============================*/
@import url(//fonts.googleapis.com/css?family=Raleway:500,700,800);
/* line 16, ../sass/styles.scss */
.text-left {
  text-align: left !important;
}

/* line 17, ../sass/styles.scss */
.input-group-addon.select {
  padding: 0px;
  border: none;
}

/* line 18, ../sass/styles.scss */
.input-group-addon.select > select {
  padding: 3px;
}

/*=====  End of GLOBAL  ======*/
/*===================================
=            Book Button            =
===================================*/
/* line 27, ../sass/styles.scss */
.CD-btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 43, ../sass/styles.scss */
.CD-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 51, ../sass/styles.scss */
.btn-3 {
  position: relative;
  background: #fcad26;
  color: #fff;
}
/* line 56, ../sass/styles.scss */
.btn-3:hover {
  background: #f29e0d;
}
/* line 57, ../sass/styles.scss */
.btn-3:active {
  background: #f58500;
  top: 2px;
}
/* line 58, ../sass/styles.scss */
.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3.5;
  font-size: 140%;
  width: 60px;
}

/* line 61, ../sass/styles.scss */
.btn-3e {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}
/* line 65, ../sass/styles.scss */
.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
  font-family: FontAwesome;
  content: "\f164";
}
/* line 66, ../sass/styles.scss */
.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -moz-transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 77, ../sass/styles.scss */
.btn-3e:hover:after {
  width: 40%;
}

/*=====  End of Book Button  ======*/
/* line 82, ../sass/styles.scss */
.hotel-checkout {
  font-family: 'Raleway', Arial, sans-serif;
  /* CONTENT */
}
/* line 84, ../sass/styles.scss */
.hotel-checkout input, .hotel-checkout select {
  font-family: Arial;
}
/* line 86, ../sass/styles.scss */
.hotel-checkout .content {
  padding-bottom: 15px;
}
/* line 89, ../sass/styles.scss */
.hotel-checkout .content .form-group .input-group-addon.select > select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 90, ../sass/styles.scss */
.hotel-checkout .content .first-name {
  padding: 0px;
}
/* line 91, ../sass/styles.scss */
.hotel-checkout .content .last-name {
  padding-right: 0px;
}
/* line 92, ../sass/styles.scss */
.hotel-checkout .content > div > .wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 93, ../sass/styles.scss */
.hotel-checkout .content > div > form > .page-header, .hotel-checkout .content > div > .page-header {
  margin: 0px;
  border-bottom-width: 5px;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 94, ../sass/styles.scss */
.hotel-checkout .content > div > form > .page-header > *, .hotel-checkout .content > div > .page-header > * {
  margin: 0px;
}
/* line 95, ../sass/styles.scss */
.hotel-checkout .content .passenger > .page-header {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}
/* line 99, ../sass/styles.scss */
.hotel-checkout .side-bar .header {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}
/* line 101, ../sass/styles.scss */
.hotel-checkout .side-bar .header .page-header {
  margin: 0px;
  border-bottom: none;
  padding: 0px;
}
/* line 105, ../sass/styles.scss */
.hotel-checkout .side-bar .header .page-header > * {
  margin: 0px;
}
/* line 109, ../sass/styles.scss */
.hotel-checkout .side-bar .body {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: none;
  border-top: none;
  margin-bottom: 0px;
}
/* line 110, ../sass/styles.scss */
.hotel-checkout .side-bar .footer {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-style: dashed;
  border-top-width: 2px;
}

/*=============================
=            THEME            =
=============================*/
/* line 121, ../sass/styles.scss */
.hotel-checkout .content > div > form > .page-header, .hotel-checkout .content > div > .page-header {
  background-color: #CFD8DC;
}

/*=====  End of THEME  ======*/
