body {
    /*color: #666;*/
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

body, html, body button, body input, body select, body textarea, h1, h2, h3, h4, h5, h6, #gkLogo.text, #gkTopBar, button, .button, input.button, span.button, button.button, div.button, input[type="submit"], input[type="button"], .pagenav-prev a, .pagenav-next a, .readon, #gkMainbody .itemReadMore, #gkMainbody .readmore > a, #gkBreadcrumb li {
	font-family: 'Oxygen', Arial, sans-serif;
}

h5 {
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #970008;*/
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

table {
    margin-bottom: 20px;
    width: 100%;
}

tbody tr td {
    border-bottom: 1.5px solid #c3cfd4;
    padding: 8px;
    max-width: 300px;
    line-height: 170%;
}

strong {
    color: black;
}