!="<?php $IS_AGENT = filter_var($_POST['IS_AGENT'], FILTER_VALIDATE_BOOLEAN) ?>"
!="<?php $items = $_POST['items']; ?>"
div.col-sm-12.col-md-8.row#content
	form#checkout-passengers(novalidate)
		div.page-header
			h5 Passengers
		!="<?php foreach( range(1, intval($items['passengers'])) as $key => $index ) :?>"
		div.col-sm-6.passenger
			h6.text-center.title
				| Guest
				!=" <?=$index?>"
			div.form-group.col-sm-6.first-name
				label(for!="passenger-first-name-<?=$index?>") First name
				div.input-group
					div.input-group-btn
						select(name!="[<?=$key?>][title]" data-imitate!="<?=($index == 1) ? 'title' : ''?>")
							option(value="") Title
							option(value="Mr") Mr.
							option(value="Ms") Ms.
							option(value="Mrs") Mrs.
					input.form-control(type="text" id!="passenger-first-name-<?=$index?>" name!="[<?=$key?>][firstname]" !="<?=($index == 1) ? 'data-imitate=\"[name='firtname']\"' : ''?>" data-imitate!="<?=($index == 1) ? 'firtname' : ''?>")
			div.form-group.col-sm-6.last-name
				label(for="passenger-last-name") Last name
				input.form-control(type="text" id!="passenger-last-name-<?=$index?>" name!="[<?=$key?>][lastname]" !="<?=($index == 1) ? 'data-imitate=\"[name='lastname']\"' : ''?>" data-imitate!="<?=($index == 1) ? 'lastname' : ''?>")
		!="<?php endforeach; ?>"
	div.clearfix
	form#checkout-voucher(novalidate)
		div.page-header
			h5 Voucher
		div.row
			div.form-group.col-sm-6
				label(for="voucher-first-name") First name
				div.input-group
					div.input-group-btn
						select(name!="title")
							option(value="") Title
							option(value="Mr") Mr.
							option(value="Ms") Ms.
							option(value="Mrs") Mrs.
					input.form-control#voucher-first-name(type="text" name="firtname")
			div.form-group.col-sm-6
				label(for="voucher-last-name") Last name
				input.form-control#voucher-last-name(type="text" name="lastname")
			div.form-group.col-sm-6
				label(for="voucher-email-address") Email Address
				input.form-control#voucher-email-address(type="text" name="email")
			div.form-group.col-sm-6
				label(for="voucher-phone-number") Phone number
				input.form-control#voucher-phone-number(type="text" name="phonenum")
	div.clearfix
	div#payment-methods
		div.page-header
			h5 Payment Methods
		!="<?php if ( $IS_AGENT ): ?>"
		div.col-xs-12.pay-later-container
			label.btn.btn-primary.btn-sm(title="Pay later" for="pay-later")
				input.sr-only#pay-later(type="checkbox")
				strong
					| Pay Later?
					!=" "
					span.fa.fa-square-o
		!="<?php endif; ?>"

		ul.nav.nav-tabs.nav-justified(role="tablist")
			li(role="presentation").active
				a(href="#payment-method-credit-card" aria-controls="payment-method-credit-card" role="tab" data-toggle="tab")
					span.fa.fa-credit-card
					span.hidden-xs!=" Credit Card"
			li(role="presentation")
				a(href="#payment-method-paypal" aria-controls="payment-method-paypal" role="tab" data-toggle="tab")
					span.fa.fa-cc-paypal
					span.hidden-xs!="  PayPal"
			!="<?php if ( $IS_AGENT ): ?>"
			li(role="presentation")
				a(href="#payment-method-enett" aria-controls="payment-method-enett" role="tab" data-toggle="tab")
					span.fa.fa-credit-card-alt
					span.hidden-xs!="  E-Nett"
			!="<?php else :?>"
			li(role="presentation")
				a(href="#payment-method-bank-deposit" aria-controls="payment-method-bank-deposit" role="tab" data-toggle="tab")
					span.fa.fa-credit-card-alt
					span.hidden-xs!="  Bank Deposit"
			!="<?php endif; ?>"
		div.tab-content
			div.tab-pane(role="tabpanel").active#payment-method-credit-card
				div.bs-callout.bs-callout-primary
					p.text-justify A 1.8% fee will apply for payments with MasterCard and VISA Credit and Debit cards and 3.8% for American Express and Diners. You can also select the Direct Deposit payment method to benefit from no processing fees.
				form#payment-method-credit-card-data
					div.col-sm-6
						div.form-group
							label(for="payment-method-credit-card-name") Card Holder Name
							input.form-control#payment-method-credit-card-name(type="text" name="nm_card_holder")
					div.col-sm-6
						div.form-group
							label(for="payment-method-credit-card-number") Card number
							input.form-control#payment-method-credit-card-number(type="text" name="no_credit_card")
					div.col-sm-6
						div.form-group
							label(for="payment-method-credit-verification-number") Card verification number
							input.form-control#payment-method-credit-verification-number(type="text" name="no_cvn")
					div.col-sm-6
						div.form-group
							label Expiry Date
							div.row
								div.col-xs-6
									select.form-control(name="dt_expiry_month")
										option(value="") -- Month --
										!="<?php for($m=1; $m<=12; ++$m): ?>"
										option(value!="<?=($m < 10)?'0' . $m: $m?>")!="<?=date('F', mktime(0, 0, 0, $m, 1))?>"
										!="<?php endfor; ?>"
								div.col-xs-6
									select.form-control(name="dt_expiry_year")
										option(value="") -- Year --
										!="<?php $startDate = date('y', strtotime('now')); ?>"
										!="<?php foreach (range(intval($startDate), intval($startDate) + 10) as $key => $value) : ?>"
										option(value!="<?=$value?>")!="<?=$value?>"
										!="<?php endforeach; ?>"
			div.tab-pane(role="tabpanel")#payment-method-paypal
				br
				br
				img.img-responsive(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2000px-PayPal.svg.png" alt="PayPal")
				form#payment-method-paypal-data.sr-only
			!="<?php if ( $IS_AGENT ): ?>"
			//- E-NETT
			div.tab-pane(role="tabpanel")#payment-method-enett
				div.alert.alert-danger(error-container data-type="e-nett")
				br
				form#payment-method-enett-data
					div.form-group.col-sm-offset-4.col-sm-4
						label(for="date") Date
						input.form-control.text-center#date(readonly type="text" name="payment_date" value!="<?=date('d/m/Y', strtotime('now'))?>")
					div.form-group.col-sm-offset-4.col-sm-4
						label(for="recreipt-ref") Reference
						input.form-control.text-center#recreipt-ref(readonly type="text" name="reference" value!="<?=unique_transaction_id()?>")
					div.form-group.col-sm-offset-4.col-sm-4
						label(for="recreipt-amount") Amount
						input.form-control.text-center#recreipt-amount(readonly type="text" name="amount")
						input.form-control.text-center(readonly type="text" name="payment_amount")
			!="<?php else :?>"
			div.tab-pane(role="tabpanel")#payment-method-bank-deposit
				div.bs-callout.bs-callout-primary
					p.text-justify Payments can be made by bank transfer into the account below. Please fax our office (07 55262944) or e-mail us a copy of your payment. Pricing is subject to change until full payment has been made.
				form.form-horizontal#payment-method-bank-deposit-data
					div.form-group
						label.control-label.col-sm-3 Name
						div.col-sm-9
							p.form-control-static Select World Travel Westpac BSB 034-216
					div.form-group
						label.control-label.col-sm-3 ACCN
						div.col-sm-9
							p.form-control-static 261 424
					div.form-group
						label.control-label.col-sm-3 SWIFT
						div.col-sm-9
							p.form-control-static WPACAU2S
			!="<?php endif; ?>"
	div.clearfix
	br
	br
	br
	div.cancellation-policy
		label
			input(type="checkbox")
			!=" "
			strong
				| I have read the 
				a(target="_blank" href="http://easterneurotours.com.au/terms-and-conditions")
					| terms and conditions
	hr
	div#action-buttons
		button.btn.btn-default.btn-sm.pull-left#checkout-cancel(type="button") Cancel
		button.btn.btn-default.btn-sm.btn-success.pull-right#checkout-selections(type="button") Choose other items

div.col-md-4.hidden-xs.hidden-sm.pull-right#sidebar
	div.sidebar-container.row
		div.panel.panel-primary
			div.panel-heading.text-center
				strong Product Info
			div.panel-body
				div.tour-info
					!="<?php $tour = $_POST['tour'] ?>"
					div.form-horizontal
						div.form-group
							label.control-label.text-left.col-sm-7 Tour Start
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									!="<?=date('F d, Y', strtotime($tour['start']))?>"
						div.form-group
							label.control-label.text-left.col-sm-7 Tour End
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									!="<?=date('F d, Y', strtotime($tour['end']))?>"
						div.form-group
							label.control-label.text-left.col-sm-7 Duration in Days
							div.col-sm-5
								p.form-control-static
									strong.hidden-xs!=": "
									strong!="<?=$tour['duration']?>"
				div.item-list
					div.page-header
						h6.text-uppercase items
					div.form-horizontal
						!="<?php foreach( $items['items'] as $item ) :?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$item['name']?> X<?=$item['quantity']?>"
							div.col-sm-5
								p.form-control-static.text-right
									strong.hidden-xs.pull-left!=": "
									span.fa.fa-usd
									strong!="<?=number_format($item['subtotal'], 2)?>"
						!="<?php if( isset($item['supplement']) ) :?>"
						!="<?php $supplement = $item['supplement'] ?>"
						div.form-group.supplement
							label.control-label.text-left.col-sm-7
								span.fa.fa-check.text-success
								!=" "
								!="<?=$supplement['name']?> X<?=$supplement['quantity']?>"
							div.col-sm-5
								p.form-control-static.text-right
									strong.hidden-xs.pull-left!=": "
									span.fa.fa-usd
									strong!="<?=number_format($supplement['subtotal'], 2)?>"
						!="<?php endif; ?>"
						!="<?php endforeach; ?>"
				!="<?php if ( isset($_POST['packages']['items']) ) :?>"
				!="<?php $packages = $_POST['packages']['items'] ?>"
				div.prockage-list
					div.page-header
						h6.text-uppercase Packages
					div.form-horizontal
						!="<?php foreach( $packages as $package ) :?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$package['name']?> X<?=$package['quantity']?>"
							div.col-sm-5
								p.form-control-static.text-right
									strong.hidden-xs.pull-left!=": "
									span.fa.fa-usd
									strong!="<?=number_format($package['subtotal'], 2)?>"
						!="<?php endforeach; ?>"
				!="<?php endif; ?>"

				!="<?php if ( isset($_POST['extrabill']['items']) ) :?>"
				!="<?php $extrabills = $_POST['extrabill']['items'] ?>"
				div.extrabill-list
					div.page-header
						h6.text-uppercase Extra Bills
					div.form-horizontal
						!="<?php foreach( $extrabills as $extrabill ) :?>"
						div.form-group
							label.control-label.text-left.col-sm-7!="<?=$extrabill['name']?> X<?=$extrabill['quantity']?>"
							div.col-sm-5
								p.form-control-static.text-right
									strong.hidden-xs.pull-left!=": "
									span.fa.fa-usd
									strong!="<?=number_format($extrabill['subtotal'], 2)?>"
						!="<?php endforeach; ?>"
				!="<?php endif; ?>"
				!="<?php if ( filter_var($_POST['hasFlight'], FILTER_VALIDATE_BOOLEAN) ) :?>"
				!="<?php $flight = $_POST['flight'] ?>"
				br
				div.flight-wrapper.form-horizontal
					div.form-group
						label.control-label.text-left.col-sm-7
							| Flight return price
							br
							small!="(<?=$flight['quantity']?> X $<?=number_format($flight['price'], 2)?>)"
						div.col-sm-5
							p.form-control-static.text-right
								strong.hidden-xs.pull-left!=": "
								span.fa.fa-usd
								strong!="<?=number_format($flight['subtotal'], 2)?>"
				!="<?php endif; ?>"
				hr
				div(role="promo")
					div.form-group.text-center
						label Have a discount by Entering your Promo Code
						input.form-control(type="text")
					div.form-group
						p.form-control-static

			div.panel-footer
				div.page-header.text-right
					h4.text-danger
						span.fa.fa-usd
						| 0.00
					small total price
				div.row
					button.btn.btn-primary.btn-block.btn-danger.btn-lg#proceed-booking(type="button")
						strong!=" Book Now"
						!=" "
						span.fa.fa-thumbs-up