!="<?php $TOUR = $_POST['tour'] ?>"
div.page-header
	h5
		|Your tour will start at 
		span.text-danger
			!="<?=date('F d, Y', strtotime($TOUR['SELECTED_DATE']))?>"
		|  and will end at 
		span.text-danger
			!="<?=date('F d, Y', strtotime($TOUR['END_DATE']))?>"
	small
		| This product has a 
		!="<?=$TOUR['DURATION']?>"
		!=" "
		!="<?=(intval($TOUR['DURATION']) > 1) ? 'days' : 'day' ?>"
		|  tour.
		|  You can include flight on your tour on this product. 
		a Click here 
		| to See. 
		| To see all your selections including the products you can preview it.
div
	!="<?php if( ! empty($_POST['packages']) ) :?>"
	div.col-md-6#packages-container
		div.page-header
			h6 Add Ons/Packages
			small  Please select or fill which package you want to include.
		div
			!="<?php foreach( $_POST['packages'] as $key => $package ) :?>"
			!="<?php $OriginalBasePrice  = $package['OriginalBasePrice'] ?>"
			!="<?php $markup_pct_amount  = $package['markup_pct_amount'] ?>"
			!="<?php $comm_pct_amount    = $package['comm_pct_amount'] ?>"
			!="<?php $convertedBasePrice = $package['convertedBasePrice'] ?>"
			!="<?php $grossPrice         = round($package['grossPrice']) ?>"
			!="<?php $comPrice           = $package['comPrice'] ?>"
			!="<?php $netAmount          = $package['netAmount'] ?>"
			!="<?php $isMarkup           = ($package['isMarkup'] == 'true') ?>"

			|<?php if(!$isMarkup): ?>
			|<?php $markup_pct_amount  = 0 ?>
			|<?php endif; ?>
			div.form-group
				label.control-label.col-sm-7
					strong!="<?=$package['supplement_name'] ?>"
					!=" ( "
					strong.text-danger
						span.fa.fa-usd
						!="<?=number_format($package['grossPrice'], 2) ?>"
					!=" )"
				div.col-sm-5
					div.input-group
						span.input-group-btn
							button.btn.btn-success(data-selection-button="subtract")
								span.fa.fa-minus
						input.form-control.text-center(
								type="number"
								min=0
								value=0
								data-package
								data-name!="<?=$package['supplement_name'] ?>"
								data-subtotal=0
								data-price!="<?=$grossPrice ?>"
								data-costings!="{OriginalBasePrice: <?=$OriginalBasePrice ?>, fromCurrency: &quot;<?=$package['fromCurrency']?>&quot;, toCurrency: &quot;<?=$package['toCurrency']?>&quot;, convertedRate: <?=$package['convertedRate']?>, markup_pct_amount: <?=$markup_pct_amount?>, comm_pct_amount: <?=$comm_pct_amount?>, convertedBasePrice: <?=$convertedBasePrice?>, grossPrice: <?=$grossPrice?>, comPrice: <?=$comPrice?>, netAmount: <?=$netAmount?>}"
							)
						span.input-group-btn
							button.btn.btn-danger(data-selection-button="add")
								span.fa.fa-plus

		!="<?php endforeach; ?>"
	!="<?php endif; ?>"

	!="<?php if( ! empty($_POST['extraBills']) ) :?>"
	div.clearfix.hidden-md.hidden-lg
	div.col-md-6#extrabills-container
		div.page-header
			h6 Extra Bills
			small  The list of items will automatically be included on your payments.
		!="<?php foreach( $_POST['extraBills'] as $key => $extraBill ) :?>"

		!="<?php $OriginalBasePrice  = $extraBill['OriginalBasePrice'] ?>"
		!="<?php $markup_pct_amount  = $extraBill['markup_pct_amount'] ?>"
		!="<?php $comm_pct_amount    = $extraBill['comm_pct_amount'] ?>"
		!="<?php $convertedBasePrice = $extraBill['convertedBasePrice'] ?>"
		!="<?php $grossPrice         = round($extraBill['grossPrice']) ?>"
		!="<?php $comPrice           = $extraBill['comPrice'] ?>"
		!="<?php $netAmount          = $extraBill['netAmount'] ?>"
		!="<?php $isMarkup           = ($extraBill['isMarkup'] == 'true') ?>"

		|<?php if(!$isMarkup): ?>
		|<?php $markup_pct_amount  = 0 ?>
		|<?php endif; ?>
		
		div.form-group
			label
				input(
					type="hidden"
					data-extrabill
					data-name!="<?=$extraBill['supplement_name'] ?>"
					data-price!="<?=($isMarkup?$grossPrice:$convertedBasePrice)?>"
					data-costings!="{OriginalBasePrice: <?=$OriginalBasePrice?>, toCurrency: &quot;<?=$extraBill['toCurrency']?>&quot;, fromCurrency: &quot;<?=$extraBill['fromCurrency']?>&quot;, isMarkup: <?=$extraBill['isMarkup']?>, markup_pct_amount: <?=$markup_pct_amount?>, comm_pct_amount: <?=$comm_pct_amount?>, convertedBasePrice: <?=$convertedBasePrice?>, grossPrice: <?=$grossPrice?>, comPrice: <?=$comPrice?>, netAmount: <?=$netAmount?>}"
				)
				span.fa.fa-check.text-success
				!=" <?=$extraBill['supplement_name'] ?>"
				strong
					|  ( 
					span.fa.fa-usd
					!="<?=number_format(($isMarkup?$grossPrice:$convertedBasePrice), 2) ?>"
					|  )
		!="<?php endforeach; ?>"
	!="<?php endif; ?>"
	div.clearfix
	br
	div.alert.alert-info
		strong
			span.fa.fa-info-circle
			|  NOTE : 
		| Please review your selection upon booking.
	div.clearfix
		table.table.table-bordered.table-hover#item-container
			thead.hidden-xs.hidden-sm
				tr
					th(style="width: 105px;")
						strong PASSENGERS
					th.text-center
						strong ROOM/CABIN OCCUPANCY
					th.text-center
						strong SUPPLEMENTS
					th.text-right
						strong PRICE/PERSON
			tbody
				!="<?php $products      = $_POST['items'] ?>"
				!="<?php $hasSupplement = (isset( $_POST['supplements'] ) && ! empty( $_POST['supplements'] )) ?>"
				!="<?php $supplements = $hasSupplement ? $_POST['supplements'] : array(); ?>"

				!="<?php function build_supplements ( $productIndex ) { "
				!="global $supplements; ?>"
				|<?php usort($supplements,function($a,$b){
				|	if ((float)$a['OriginalBasePrice'] == (float)$b['OriginalBasePrice']) {return 0;}
		    | return ((float)$a['OriginalBasePrice'] > (float)$b['OriginalBasePrice']) ? -1 : 1;
				|}); ?>
				script.
					console.log(<?=json_encode($supplements)?>);
				|<?php foreach ( $supplements as $key => $supplement ) : ?>
				|<?php $basePrice=$supplement['OriginalBasePrice']?>
				|<?php $converted=$supplement['convertedBasePrice']?>
				|<?php $fromCurrency=$supplement['sub_fromCurrency']?>
				|<?php $toCurrency=$supplement['sub_toCurrency']?>
				|<?php $markup_pct=$supplement['markup_pct_amount']?>
				|<?php $commission_pct=$supplement['comm_pct_amount']?> 
				|<?php $costing=item_costing($converted, $commission_pct, $markup_pct)?>
				
				|<?php $costing['basePrice']=$basePrice ?>
				|<?php $costing['converted']=$converted ?>
				|<?php $costing['fromCurrency']=$fromCurrency ?>
				|<?php $costing['toCurrency']=$toCurrency ?>
				|<?php $costing['markup_pct']=$markup_pct ?>
				|<?php $costing['commission_pct']=$commission_pct ?>
				|<?php $costing=json_encode('"','&quot',$costing)?>
				input.sr-only(
					type="radio"
					data-item-supplement
					value!="<?=$key ?>"
					data-name!="<?=$supplement['sub_supplement_avail_name'] ?>"
					data-price!="<?=$grossPrice?>"
					data-costings!=""
				)
				label.supplement-label
					span.fa.fa-check.text-success
					!=" "
					!="<?=$supplement['sub_supplement_avail_name'] ?>"
					!=" ( "
					span.fa.fa-usd
					!="<?=number_format($grossPrice, 2)?>"
					!=" )"
				!="<?php endforeach; ?>"
				!="<?php } ?>"

				!="<?php function build_options ( $minGuest ) { ?>"
				!="<?php global $hasSupplement; ?>"
				!="<?php foreach( range(1, 15) as $index ) :?>"
				!="<?php $moduled = (($index % $minGuest) != 0) ?>"
				!="<?php if ( !(! $hasSupplement && $moduled ) ) :?>"
				option(value!="<?=$index?>" data-is-supplement!="<?=$moduled ?'true':'false' ?>")!="<?=$index?>"
				!="<?php endif; ?>"
				!="<?php ?>"
				!="<?php endforeach; ?>"
				!="<?php } ?>"
				
				!="<?php foreach ( $products as $key => $product ) : ?>"
				!="<?php $OriginalBasePrice  = round($product['OriginalBasePrice']) ?>"
				!="<?php $fromCurrency       = $product['fromCurrency'] ?>"
				!="<?php $toCurrency         = $product['toCurrency'] ?>"
				!="<?php $markup_pct_amount  = $product['markup_pct_amount'] ?>"
				!="<?php $comm_pct_amount    = $product['comm_pct_amount'] ?>"
				!="<?php $convertedBasePrice = $product['convertedBasePrice'] ?>"
				!="<?php $grossPrice         = round($product['grossPrice']) ?>"
				!="<?php $comPrice           = $product['comPrice'] ?>"
				!="<?php $netAmount          = $product['netAmount'] ?>"
				tr(
					data-product-key=""
					data-item-key!="<?=$key ?>"
					data-name!="<?=$product['supplement_avail_name'] ?>"
					data-price!="<?=$grossPrice ?>"
					data-costings!="{OriginalBasePrice: <?=$OriginalBasePrice?>, toCurrency: &quot;<?=$toCurrency?>&quot;, fromCurrency: &quot;<?=$fromCurrency?>&quot;, markup_pct_amount: <?=$markup_pct_amount?>, comm_pct_amount: <?=$comm_pct_amount?>, convertedBasePrice: <?=$convertedBasePrice?>, grossPrice: <?=$grossPrice?>, comPrice: <?=$comPrice?>, netAmount: <?=$netAmount?>}"
				)
					td.hidden-xs.hidden-sm
						select.form-control(
							data-selection
							data-minguest!="<?=$product['minGuest'] ?>"
							data-price!="<?=$product['grossPrice'] ?>"
						)
							option(value="0" selected) 0
							!="<?php build_options( $product['minGuest'] ) ?>"
					td.hidden-xs.hidden-sm!="<?=$product['supplement_avail_name'] ?>"
					td.hidden-xs.hidden-sm.supplement-container
						!="<?php if ( intval($product['minGuest']) > 1 && $hasSupplement ) :?>"
						!="<?php build_supplements( $key ) ?>"
						!="<?php endif; ?>"
					td.hidden-xs.hidden-sm.text-right
						strong
							span.fa.fa-usd
							span!="<?=number_format($grossPrice, 2) ?>"
					//- MOBILE
					td.hidden-md.hidden-lg
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-5 # OF PASSENGERS
								div.col-sm-7
									select.form-control(
										data-selection
										data-minguest!="<?=$product['minGuest'] ?>"
										data-price!="<?=$grossPrice ?>"
									)
										option(value="0" selected) 0
										!="<?php build_options( $product['minGuest'] ) ?>"
							div.form-group
								label.control-label.col-sm-5 ROOM/CABIN OCCUPANCY
								div.col-sm-7
									p.form-control-static
										strong.hidden-xs!=":"
										!=" "
										!="<?=$product['supplement_avail_name'] ?>"
							!="<?php if ( intval($product['minGuest']) > 1 && $hasSupplement ): ?>"
							div.form-group.supplement-container
								label.control-label.col-sm-5 SUPPLEMENTS
								div.col-sm-7
									p.form-control-static
										span.hidden-xs!=":"
										!=" "
										!="<?php build_supplements( $key ) ?>"
							!="<?php endif; ?>"
							div.form-group
								label.control-label.col-sm-5
									strong.hidden-xs!=":"
									!=" "
									|PRICE/PERSON
								div.col-sm-7
									p.form-control-static
										strong
											span.hidden-xs!=":"
											!=" "
											span.fa.fa-usd
											span!="<?=number_format($grossPrice, 2) ?>"
					//- END OF MOBILE
				!="<?php endforeach ?>"
			tfoot
				tr
					td.hidden-xs.hidden-sm.text-center
						h6.text-default
							span.fa.fa-user
							!=" "
							span(data-passengers="0") 0
					td.hidden-xs.hidden-sm(colspan="2")
						h6.text-default
							span.pull-right TOTAL:
					td.hidden-xs.hidden-sm.text-right
						h6.text-default
							span.fa.fa-usd
							span(data-subtotal="0") 0.00
					//- MOBILE
					td.hidden-md.hidden-lg
						div.form-horizontal
							div.form-group
								label.control-label.col-sm-4 Passengers
								div.col-sm-8
									p.form-control-static
										span.hidden-xs :
										!=" "
										strong(data-passengers="0") 0
							div.form-group
								label.control-label.col-sm-4 TOTAL
								div.col-sm-8
									p.form-control-static
										strong
											span.hidden-xs :
											!=" "
											span.fa.fa-usd
											span(data-subtotal="0") 0.00
					//- End of Mobile
	//- FLIGHT
	div.clearfix
	h5#fligth-option.text-default
		|Include flight on your tour?
		!=" "
		div.btn-group(data-toggle="buttons")
			label.btn.btn-default(for="include-flight-yes")
				input#include-flight-yes(type="radio" name="hasFlight" value="true")
				strong Yes
			label.btn.btn-default(for="include-flight-no")
				input#include-flight-no(type="radio" name="hasFlight" value="false")
				strong No
	div#flight-details.collapse
		div.page-header
			h6
				span.fa.fa-plane
				!=" "
				|Flight Details
				a.pull-right.cursor-pointer Airline used - subject to availability
		form
			div.col-sm-6
				div.form-group
					label(for="flight-city") Departure City
					div.input-group.input
						select.form-control#flight-city(name="city")
							option(value="Sydney" selected) Sydney
							option(value="Melbourne") Melbourne
							option(value="Brisbane") Brisbane
							option(value="Adelaide") Adelaide
							option(value="Perth") Perth
						span.input-group-addon
							span.fa.fa-map-marker
			div.col-sm-6
				div.form-group
					label(for="flight-class") Preferred Class
					input.form-control#flight-class(readonly type="text" name="class" value="Economy")
			div.clearfix
			div.col-sm-6
				div.form-group
					label(for="flight-departure-date") Departure Date
					div.input-group
						input.form-control#flight-departure-date(type="text" name="departure" value!="<?=date('d/m/Y', strtotime($TOUR['SELECTED_DATE'] . ' -3 day'))?>")
						span.input-group-addon
							label(for="flight-departure-date")
								span.fa.fa-calendar
			div.col-sm-6
				div.form-group
					label(for="flight-return") Return Date
					div.input-group
						input.form-control#flight-return(type="text" name="return" value!="<?=date('d/m/Y', strtotime($TOUR['END_DATE'] . ' +1 day'))?>")
						span.input-group-addon
							label(for="flight-return")
								span.fa.fa-calendar
			div.clearfix
			div.col-sm-6
				div.form-group
					label(for="flight-passengers") Passengers
					div.input-group
						span.input-group-addon
							label(for="flight-passengers")
								span.fa.fa-users
						input.form-control#flight-passengers(type="text" name="pax" value="0" readonly)
			div.col-sm-6
				div.form-group
					label(for="flight-price") Price
					div.input-group
						span.input-group-addon
							label(for="flight-price")
								span.fa.fa-usd
						input.form-control#flight-price(type="text" name="displayPrice" value="0.00" readonly)
						input.sr-only(type="text" name="price" value="0")
						input.sr-only(type="text" name="perPerson" value="0")
			div.clearfix
			div.col-sm-12
				input(type="checkbox" name="hasReadTems" value="true")
				!=" "
				strong
					|I have read the 
					a(hred="http://ifly.net.au/terms-and-conditions" target="_blank") terms and conditions
					!=" of the flight."
	//- END OF FLIGHT
	//- br
	//- //- PROMO
	//- div.col-md-offset-4.col-md-4#promo-code
	//- 	div.form-group.text-center
	//- 		label
	//- 			!="Get a discount by PROMO CODE "
	//- 			span.fa.fa-hand-o-down.text-primary.hands
	//- 		input.form-control(type="text")
	//- 	div.form-group
	//- 		small NOTE: Promo Code and associated discounts apply to either the land or the flight product only.
	//- //- END OF PROMO
	div.clearfix
	hr
	div.page-header.text-center
		h2.text-danger
			span.fa.fa-usd
			span#overall-total(data-total="0") 0.00
		small Over all total of the product you selected
	//- BUTTONS
	div
		button.btn.btn-sm.btn-default.pull-left#back-to-list
			span.fa.fa-chevron-left
			!=" "
			|Choose other product
		button.btn.btn-lg.btn-primary.pull-right#checkout-items
			span.hidden-xs Checkout
			!=" "
			span.fa.fa-thumbs-up
		//- button.btn.btn-lg.btn-info.pull-right#preview-items
		//- 	span.hidden-xs Preview
		//- 	!=" "
		//- 	span.fa.fa-eye
	//- END OF BUTTONS