div.row
		div.col-xs-12
			div.col-xs-12
				//- TOUR
				div.page-header
					h6 Tour Details
				div.form-horizontal
					div.form-group
						label.control-label.text-left.col-sm-6
							span.fa.fa-calendar.text-danger
							!=" "
							| Start Date
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=date('F d, Y', strtotime($_POST['tour']['start']))?>"
					div.form-group
						label.control-label.text-left.col-sm-6
							span.fa.fa-calendar.text-danger
							!=" "
							| End Date
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=date('F d, Y', strtotime($_POST['tour']['end']))?>"
					div.form-group
						label.control-label.text-left.col-sm-6
							span.fa.fa-clock-o.text-danger
							!=" "
							| Duration in Days
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=$_POST['tour']['duration']?>"

				//- END OF TOUR

				!="<?php if ( isset($_POST['packages']['items']) ) :?>"
				!="<?php $packages = $_POST['packages']['items']; ?>"
				//- PACKAGES
				div.page-header
					h6 Packages
				div.form-horizontal
					!="<?php foreach( $packages as $package ) :?>"
					div.form-group
						label.control-label.text-left.col-sm-6!="<?=$package['name'] . ' X' . $package['quantity'] ?>"
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								!="<?=number_format($package['subtotal'], 2) ?>"
					!="<?php endforeach; ?>"
					//- div.form-group.total.text-success
					//- 	label.control-label.col-sm-6 TOTAL
					//- 	div.col-sm-6
					//- 		p.form-control-static
					//- 			strong
					//- 				span.hidden-xs!=": "
					//- 				span.fa.fa-usd
					//- 				!="<?=number_format($_POST['packages']['subtotal'], 2)?>"

				//- END OF PACKAGES
				!="<?php endif; ?>"

				!="<?php if ( isset($_POST['extrabill']['items']) ) :?>"
				!="<?php $extrabills = $_POST['extrabill']['items']; ?>"
				//- EXTRABILLS
				div.page-header
					h6 Extra Bills
				div.form-horizontal
					!="<?php foreach( $extrabills as $extrabill ) :?>"
					div.form-group
						label.control-label.text-left.col-sm-6!="<?=$extrabill['name'] . ' X' . $extrabill['quantity'] ?>"
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								!="<?=number_format($extrabill['subtotal'], 2) ?>"
					!="<?php endforeach; ?>"
					//- div.form-group.total.text-success
					//- 	label.control-label.col-sm-6 TOTAL
					//- 	div.col-sm-6
					//- 		p.form-control-static
					//- 			strong
					//- 				span.hidden-xs!=": "
					//- 				span.fa.fa-usd
					//- 				!="<?=number_format($_POST['extrabill']['subtotal'], 2)?>"
							
				//- END OF EXTRA BILLS
				!="<?php endif; ?>"
				!="<?php if (isset($_POST['items']['items'])) :?>"
				//- ITEMS
				div.page-header
					h6 Room/Cabin Occupancy
				div.form-horizontal
					!="<?php $product = $_POST['items'] ?>"
					!="<?php foreach($product['items'] as $item) :?>"
					div.form-group
						label.control-label.text-left.col-sm-6!="<?=$item['name'] . ' X' . $item['quantity']?>"
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								!="<?=number_format($item['subtotal'], 2) ?>"
					!="<?php if( isset($item['supplement']) ) :?>"
					!="<?php $supplement = $item['supplement']; ?>"
					div.form-group.supplement
						label.control-label.text-left.col-sm-6
							span.fa.fa-check.text-success
							!=" "
							!="<?=$supplement['name'] . ' X' . $supplement['quantity']?>"
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								span.fa.fa-usd
								!="<?=number_format($supplement['subtotal'], 2) ?>"
					!="<?php endif; ?>"
					!="<?php endforeach; ?>"
					//- div.form-group.total.text-success
					//- 	label.control-label.col-sm-6 TOTAL
					//- 	div.col-sm-6
					//- 		p.form-control-static
					//- 			strong
					//- 				span.hidden-xs!=": "
					//- 				span.fa.fa-usd
					//- 				!="<?=number_format($product['subtotal'], 2)?>"

				//- END OF ITEMS
				!="<?php endif; ?>"
				!="<?php if ( filter_var($_POST['hasFlight'], FILTER_VALIDATE_BOOLEAN) ) :?>"
				!="<?php $flight = $_POST['flight'] ?>"
				div.clearfix
				//- FLIGHT
				div.page-header
					h6 Flight Information
				div.form-horizontal
					div.form-group
						label.control-label.text-left.col-sm-6 City
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=$flight['city']?>"
					div.form-group
						label.control-label.text-left.col-sm-6 Preferred Class
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=$flight['class']?>"
					div.form-group
						label.control-label.text-left.col-sm-6 Departure Date
						div.col-sm-6
							p.form-control-static
								strong.hidden-xs!=": "
								!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['departure'])))?>"
					div.form-group
						label.control-label.text-left.col-sm-6 Return Date
						div.col-sm-6
							p.form-control-static
								strong.hiddex-xs!=": "
								!="<?=date('F d, Y', strtotime(str_replace('/', '-', $flight['return'])))?>"
					div.form-group
						label.control-label.text-left.col-sm-6 Passengers
						div.col-sm-6
							p.form-control-static
								strong.hiddex-xs!=": "
								!="<?=$flight['quantity']?>"
					//- div.form-group
					//- 	label.control-label.text-left.col-sm-6 Price
					//- 	div.col-sm-6
					//- 		p.form-control-static
					//- 			strong.hiddex-xs!=": "
					//- 			span.fa.fa-usd
					//- 			!="<?=number_format($flight['subtotal'], 2)?>"
				//- END OF FLIGHT
				!="<?php endif; ?>"
		div.clearfix
		div.page-header.over-all-total.text-center
			h3
				span.fa.fa-usd
				!="<?=number_format($_POST['total'], 2)?>"
			small.text-center Total of your booking

