!="<?php if ( filter_var($_GET['empty'], FILTER_VALIDATE_BOOLEAN) ) :?>"
a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
	span.fa.fa-shopping-cart
	span.label.label-danger!="0"
ul.dropdown-menu.pull-right
	li.divider(role="separator")
	li.text-center
		a!="Empty"
	li.text-right.total
		a
			h6
				span.fa.fa-usd
				!="0.00"
!="<?php exit; ?>"
!="<?php endif; ?>"

!="<?php $items = $_POST['items'] ?>"
!="<?php $packages = $_POST['packages'] ?>"
!="<?php $extrabills = $_POST['extrabill'] ?>"
!="<?php $flight = filter_var($_POST['hasFlight'], FILTER_VALIDATE_BOOLEAN) ? $_POST['flight'] : FALSE;?>"

a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
	span.fa.fa-shopping-cart
	span.label.label-danger!="<?=$items['passengers']?>"
ul.dropdown-menu.pull-right
	li.dropdown-header.text-center
		strong Room/Cabin Occupancy
	li.divider(role="separator")
	!="<?php foreach( $items['items'] as $item ) :?>"
	li
		a!="<?=$item['name']?> X<?=$item['quantity']?>"
			span.pull-right
				span.fa.fa-usd
				!="<?=number_format($item['subtotal'], 2)?>"
	!="<?php if ( isset($item['supplement']) ) :?>"
	!="<?php $supplement = $item['supplement'] ?>"
	li
		a!="<?=$supplement['name']?> X<?=$supplement['quantity']?>"
			span.pull-right
				span.fa.fa-usd
				!="<?=number_format($supplement['subtotal'], 2)?>"
	!="<?php endif; ?>"
	!="<?php endforeach; ?>"
	!="<?php if ( isset($packages['items']) ) :?>"
	li.divider(role="separator")
	li.dropdown-header.text-center
		strong Packages
	li.divider(role="separator")
	!="<?php foreach( $packages['items'] as $item ) :?>"
	li
		a!="<?=$item['name']?> X<?=$item['quantity']?>"
			span.pull-right
				span.fa.fa-usd
				!="<?=number_format($item['subtotal'], 2)?>"
	!="<?php endforeach; ?>"
	!="<?php endif; ?>"
	!="<?php if ( isset($extrabills['items']) ) :?>"
	li.divider(role="separator")
	li.dropdown-header.text-center
		strong Extra Bills
	li.divider(role="separator")
	!="<?php foreach( $extrabills['items'] as $item ) :?>"
	li
		a!="<?=$item['name']?> X<?=$item['quantity']?>"
			span.pull-right
				span.fa.fa-usd
				!="<?=number_format($item['subtotal'], 2)?>"
	!="<?php endforeach; ?>"
	!="<?php endif; ?>"
	!="<?php if ( !!$flight ) :?>"
	li.divider(role="separator")
	li.flight-block
		a!="Flight Price X<?=$flight['quantity']?>"
			span.pull-right
				span.fa.fa-usd
				!="<?=number_format($flight['subtotal'], 2)?>"
	!="<?php endif; ?>"
	li.divider(role="separator")
	li.text-right.total
		a
			h6
				span.fa.fa-usd
				!="<?=number_format($_POST['total'], 2)?>"