@import "./node_modules/compass-sass-mixins/lib/compass/css3";
#sidebar.sticky {
	float: none;
	position: fixed;
	top: 20px;
	z-index: 6;
	left: auto;
}
#header-page {
	z-index: 1000;

	.logo { z-index: 0; }
}
.awe-navigation-responsive { z-index: 999; }

.tour-product {
	.tour-item {
		cursor: pointer;
		border-radius: 0px;

		@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
		@include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1));

		&:hover {
			@include box-shadow(0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
		}
		&.active {
			.tour-selected {
				display: table;
				position: absolute;
				height: 244px;
				width: 100%;
				font-size: 6em;
				background-color: rgba(255, 255, 255, 0.5);

				span {
					display: table-cell;
					vertical-align: middle;
					text-align: center;

					// @include transform(translate(-50%, -50%));
				}
			}
		}
		.tour-selected {
			display: none;
		}
		.form-group {
			&.no-margin-bottom { margin-bottom: 0px; }
			label { margin-bottom: 0px; }
			p {
				padding: {
					top: 0px;
					bottom: 0px;
				};
			}
		}
		.page-header {
			margin: 0px;
			margin-bottom: 15px;
			font-family: "Open Sans", sans-serif;
			color: #f44336;
			border-bottom: 3px solid #f44336;

			.price-currency {
				font-size: 2rem;
				vertical-align: top;
				margin-top: 20px;
				display: inline-block;
			}
			.price-value {
				font-size: 5.5rem;
			}
			.price-duration {
				display: block;
				font-weight: normal;
			}
		}
	}
}

/*================================
=            Packages            =
================================*/

#packages-container {
	.form-group {
		label { line-height: 2.5; text-align: left; }
		input { height: 34px; font-weight: bold; }
	}
}

#packages-container,#extrabills-container{
	.form-group > .control-label{
		padding: 5px 0;
		line-height: 1.5;
	}
}

/*=====  End of Packages  ======*/


/*==============================
=            Static            =
==============================*/

.gradient:after {
	content: "";
	height: 1px;
	display: block;
}
.gradient-left:after {
	@include background-image(linear-gradient(to right, #000, transparent));
	/* background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(left, #000, transparent);
	background-image: -moz-linear-gradient(left, #000, transparent);
	background-image: -o-linear-gradient(left, #000, transparent); */
}
.gradient-bottom:after {
	@include background-image( linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%) );
}
.cursor-pointer { cursor: pointer; }
.text-default { color: #262626; }
.supplement-label {
	text-decoration: line-through;
	.fa-check { display: none; }

	&.active {
		text-decoration: none;
		.fa-check { display: inline-block; }
	}
}
.sr-only {
	position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0 !important;
}
.text-line-through { text-decoration: line-through; }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-top { margin-top: 0px; }

/*=====  End of Static  ======*/


/*==================================
=            Adjustment            =
==================================*/
.input-group {
	&.input {
		select { height: 40px !important;}
	}
	.input-group-addon {
		label { margin-bottom: 0px; }
		&.input {
			padding: 0px;
			border: none;

			input { width: 50px; }
		}
	}
}
.form-control {
	border-radius: 0px;
	border: 3px solid #d4d4d4 !important;

	&:focus {
		border-color: #66afe9 !important;
		@include box-shadow( none );
	}
}
$activeCalendarColor: #4CAF50;
.ui-datepicker {
	.calendar-on-range {
		border: 1px solid $activeCalendarColor;
		a { @include text-shadow(none !important); }
	}
	.calendar-product {
		height: 38px;
		position: relative;
		border: 1px solid #f44336;

		.calendar-day {
			position: absolute;
		    top: 0;
		    right: 0;
		    font-size: .9em !important;
		    height: 25px !important;
		    width: 25px !important;
		    line-height: 1.5 !important;
		    @include transition( none );
		}
		.calendar-indicator {
			top: 0;
			left: 0;
			z-index: 10;
	    padding: 0 !important;
	    position: absolute;
	    width: 0 !important;
	    height: 0;
	    border-style: solid;
	    border-width: 12px 12px 0 0;
	    border-color: #f44336 transparent transparent transparent;

	    &.option-1{
	    	border-color: #009688 transparent transparent transparent;
	    }
	    &.option-2{
	    	border-color: #03A9F4 transparent transparent transparent;
	    }
	    &.option-3{
	    	border-color: #00BCD4 transparent transparent transparent;
	    }
	    &.option-4{
	    	border-color: #4CAF50 transparent transparent transparent;
	    }
	    &.option-4{
	    	border-color: #FFC107 transparent transparent transparent;
	    }
		}
		.calendar-price {
			bottom: 0;
			z-index: 10;
		    position: absolute;
		    font-size: 1.1em;
		    font-weight: bolder;
		    margin: -20px 0 2px 0px;
		    color: #f44336;
		    width: 48px;

		    .fa-usd {
				font-size: .9em;
			    display: inline;
			    color: #f44336 !important;
			}
		}

		&.active {
			border-color: $activeCalendarColor; font-weight: bolder;

			.calendar-indicator { border-color: $activeCalendarColor transparent transparent transparent; }
			.calendar-price, .fa-usd { color: $activeCalendarColor !important; }
			.ui-state-active { background-color: transparent !important; color: #666666 !important; }
		}
	}
	td:not(.calendar-on-range):not(.calendar-product) {
		.ui-state-active { background-color: transparent !important; color: #666666 !important; }
	}
}
.ui-datepicker .ui-datepicker-calendar .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active, .ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active {
	background-color: #0091ea !important;
	color: #FFF !important;
}
.page-header {
	[data-toggle="collapse"] {
		&[aria-expanded="false"] .fa-minus:before { content:"\f067"; }
	}
}

/*============================
=            Tabs            =
============================*/

.nav-tabs {
	li {
		&  > a {
			border: none;
			border-radius: 0px !important;

			padding: {
				top: 15px;
				bottom: 15px;
			};
		}
		&.active {
			border-bottom: 3px solid;
			font-weight: bold;
			
			& > a { border: none !important; }
		}
	}
}

/*=====  End of Tabs  ======*/


/*=====  End of Adjustment  ======*/


/*=============================
=            MODAL            =
=============================*/

.promo-code-modal {
	.bs-callout { margin-top: 0px; }
	.form-group { margin-bottom: 0px; }
	.has-error .form-control {
		border-color: #a94442 !important;

		&:focus {
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483);
		}
	}
}
.review-modal {
	.modal-dialog { margin-bottom: 100px; }
	.text-left { text-align: left; }
	.form-group {
		margin-bottom: 0px;

		label { padding-top: 10px; }

		&.supplement { top: -10px; position: relative; }
		&.total {
			font-size: 1.3em;
			border-top: 3px dashed #CCC;
			margin: {
				left: 0px;
				right: 0px;
			};
		}
	}
	.over-all-total {
		border-top: 3px dashed #CCC;
		padding-bottom: 0px;
		margin-bottom: 0px;
		border-bottom: none;
	}
	.page-header:not(.over-all-total) {
		border-bottom-color: #cccccc;
		margin: {
			top: 20px;
			bottom: 10px;
		};

		& > * {
			margin-bottom: 0px;
		}
	}
}

/*=====  End of MODAL  ======*/

/*======================================
=            Item Selection            =
======================================*/

#product-item-selection {
	#coupon-container {
		& > div {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 3px solid;
			margin: auto;

			.page-header { margin-top: 0px; margin-bottom: 0px; border-bottom: none; padding-bottom: 0px; }
		}
	}
}
#item-container {
	tbody {
		td.hidden-md.hidden-lg.hidden-sm {
			padding: 5px 0px;
			border: none;
			outline: none;

			.panel {
				margin-bottom: 0px;

				&, .panel-heading { border-radius: 0px; }

				.item-wrapper {
					span.price { font-size: 2.2em; }
					span.supplement { display: block; }
				}
			}
		}
	}
	tfoot {
		td.hidden-md.hidden-lg {
			.form-group {
				margin-bottom: 0px;

				label { padding-top: 7px; }
			}
		}
	}
}
.products-content {
	#total-booking-price {
		& > * { margin: 0px; }
	}
}

/*=====  End of Item Selection  ======*/


/*========================================
=            Fill Information            =
========================================*/

#product-fill-information {
	#content {
		.main-header {
			margin: 20px 0 10px;
		}
		.payment-header {
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		.form-group {
			margin-bottom: 10px;

			&.first-name, &.last-name {
				padding: {
					left: 0px;
					right: 0px;
				}
			}
			&.last-name { padding-left: 5px; }
			.input-group {
				select { padding: 2px; border: 3px solid #CCC; border-right: none; }
			}
		}
		.passenger {
			padding: 5px;
			border: 2px dashed #CCC;

			.title {
				&:after {
					content: "";
					height: 1px;
					background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
					display: block;
					margin-bottom: 5px;
					margin-top: 5px;
				}
			}
			.form-group { margin-bottom: 0px; }
		}
		#payment-methods {
			.nav-tabs {
				box-shadow: 0 5px 3px -2px rgba(0,0,0,0.23);

				a {
					border-bottom: none;
				}
			}
		}
	}
	#sidebar {
		.panel {
			border: 3px solid #CCC;
			border-radius: 0px;
			margin-top: 15px;
			
			.panel-heading {
				border-radius: 0px;
				border: none;
				font-size: 1.4em;
			}
			.panel-body {
				label.text-left { text-align: left; }
				.form-group {
					margin-bottom: 0px;

					&.supplement {
						position: relative;
						top: -10px;
					}
				}
				.page-header {
					margin: 0px;
					border-bottom: none;
				}
			}

			.panel-footer {
				padding-bottom: 0px;
				border-top: 3px dashed #CCC;

				.page-header {
					margin: 0px;

					& > * { margin: 0px; }
				}
				button {
					border-radius: 0px;
					border: none;
					border-top: 3px solid #CCC;
				}
			}
		}
	}
}

/*=====  End of Fill Information  ======*/

/*=====================================
=            Shopping Cart            =
=====================================*/

#shopping-cart-button {
	height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    right: 60px;
    background: transparent;
    border: 3px solid;

    .fa-shopping-cart {
    	font-size: 2em;
    	margin-left: -2px;
    }
    .label {
    	position: relative;
    	top: 10px;
    	right: 5px;
    }
}
#shopping-cart {
	.dropdown-menu {
		width: 250px;

		li {
			display: block;

			&:not(.divider):not(.dropdown-header) {
				padding: {
					left: 0px;
					right: 0px;
				}
			}
			&:hover { background: transparent; }
			&.divider { margin: 5px 0; }
			& > a {
				line-height: 1.42857143;
				font-weight: 400;
				color: #000;
				padding: {
					left: 5px;
					right: 5px;
				}
			}
			&.flight-block {
				a { padding: 0px; }
			}
		}
	}
	.total {
		a { padding: 0px; }
		h6 { margin: 0px; }
	}
	span.label {
		position: absolute;
		bottom: 5px;
		right: 20px;
	}
	.fa-shopping-cart {
		@include transition( all 0.3s ease);

		font-size: 2em;
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
        border-radius: 50%;
        border: 3px solid;

        &::before {
        	position: relative;
        	top: 8px;
        }
	}
}

/*=====  End of Shopping Cart  ======*/

/*==============================
=            Review            =
==============================*/

/*=====================================
=            Calendar View            =
=====================================*/

[calendar-container] .ui-datepicker-inline {
	width: auto !important;
	margin: 0px;

	& td:not(.ui-datepicker-unselectable) {
		.ui-state-default { font-size: 1.1em; }
	}
	.ui-datepicker-unselectable {
		.ui-state-default { line-height: 25px; }
	}
}

/*=====  End of Calendar View  ======*/


#external-tours-review {
	label.text-left { text-align: left; }
	.form-horizontal {
		.form-group { margin-bottom: 0px; }
	}
}

/*=====  End of Review  ======*/

@media (max-width: 767px) {
	#item-container {
		border: none;
	}
	.nav-justified > li {
		display: table-cell;
		width: 1%;
	}
	.nav>li>a { padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px !important; }
}