@import "./node_modules/compass-sass-mixins/lib/compass/css3";

// THEME 2
$theme_header_color: #000;
$theme_text_color: #666;
$theme_background_color: #262622;

/* HEADER */
#header-page a { color: #FFF; }

li.adjust-anchor.ui-state-default.ui-corner-top i.awe-icon {
    color: #FFF;
}
.header-page__inner{
  background-color: $theme_background_color !important;
}
.header-page__inner .container{
  background-color: $theme_background_color !important;
}
.awe-navigation .menu-list li:hover, .awe-navigation .menu-list li .sub-menu li:hover {
  background-color: #999999;
}

.awe-navigation .menu-list {
	li {
		@include transition(all 0.3s ease);

		.sub-menu {
			position        : absolute;
			width           : 210px;
			list-style      : none;
			padding         : 0;
			top             : 110%;
			left            : 0;
			background-color: #FFF;
			text-align      : left;
			opacity         : 0;
			visibility      : hidden;
			
			@include transition(all 0.3s ease);
			li { background-color: $theme_background_color; }
		}
	}
}

/*============================
=            Tabs            =
============================*/

.nav-tabs {
	li {
		&  > a { color: $theme_header_color !important; }
		&.active { border-bottom-color: $theme_header_color !important; }
	}
}

/*=====  End of Tabs  ======*/

/*============================
=            TAGs            =
============================*/

h1, h2, h3, h4, h5, h6 { color: $theme_header_color; }

/*=====  End of TAGs  ======*/
#shopping-cart-button {
	color: $theme_text_color;
}
#shopping-cart {
	.dropdown-menu a { color: $theme_text_color; }
	&:hover, &.open {
		background: transparent;

		.fa-shopping-cart {
			color: $theme_text_color;
			@include transition( all 0.3s ease);
		}
	}
}

/*=============================================
=            Section comment block            =
=============================================*/

#external-tours-review {
	.panel-title { color: $theme_header_color; }
}
#item-container {
	td.hidden-md.hidden-lg.hidden-sm {
		.panel {
			.panel-heading { background-color: $theme_background_color; color: #FFF; }

			.item-wrapper {
				span.price, span.currency { color: $theme_header_color; }
			}
		}
	}
}
#product-item-selection {
	#coupon-container {
		& > div {
			background-color: rgba($theme_background_color, .7);
			color: $theme_header_color;
		}
	}
}
/*=====  End of Section comment block  ======*/

